# The Series Data Structure

In [1]:
import pandas as pd

In [5]:
students = ['Alice', 'Jack', 'Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [9]:
numbers = [1,2,3]
 
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [11]:
students = ['Alice', 'Jack', None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [13]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [16]:
import numpy as np

np.nan == None
#returns False

False

In [18]:
np.nan == np.nan

False

In [20]:
np.isnan(np.nan)

True

In [24]:
students_scores = {"Alice": "Física", "Jack": "Química", "Molly": "Inglês"}
s = pd.Series(students_scores)
s

Alice     Física
Jack     Química
Molly     Inglês
dtype: object

In [26]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

# Querying a Series

In [29]:
import pandas as pd

students_classes = {"Alice": "Physics", 
                    "Jack": "Chemistry",
                    "Molly": "English",
                    "Sam": "History"}

s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [31]:
s.iloc[3]

'History'

In [33]:
s.loc['Molly']

'English'

In [35]:
s[3]

'History'

In [36]:
s['Molly']

'English'

In [39]:
class_code = {99: "History",
              100: "Chemstry"}

a = pd.Series(class_code)
a

99      History
100    Chemstry
dtype: object

In [41]:
grades = pd.Series([90,80,70,60])
total = 0

for grade in grades:
    total += grade
print(total/len(grades))

75.0

In [44]:
import numpy as np

total = np.sum(grades)
print(total/len(grades))

75.0

In [46]:
numbers = pd.Series(np.random.randint(0,1000,10000))

numbers.head()

0    728
1    531
2     52
3    824
4    391
dtype: int64

In [47]:
len(numbers)

10000

In [54]:
%%timeit -n 100
total = 0
for number in numbers:
    total += number
total/len(numbers)

743 µs ± 21.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [59]:
numbers.head()

0    732
1    535
2     56
3    828
4    395
dtype: int64

In [60]:
numbers+=2
numbers.head()

0    734
1    537
2     58
3    830
4    397
dtype: int64