In [248]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [365]:
dfBasicoAcre = pd.read_csv('dataAcre/Basico_AC.csv', sep = ';', encoding = 'unicode_escape')

In [366]:
dfBasicoAcre = dfBasicoAcre[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [367]:
dfBasicoAcre = dfBasicoAcre.replace('X', 0, regex= True)

In [368]:
dfBasicoAcre.head()

         Cod_setor  V003     V005    V009     V011
0  120001305000001  3,39  1368,91  758,58  1249,62
1  120001305000002  3,52   737,47  407,43   716,42
2  120001305000003  3,53    606,4  411,93   689,39
3  120001305000004  3,43   758,51  426,47   684,34
4  120001305000005  3,18   689,61  446,56   748,21

In [369]:
dfBasicoAcre = dfBasicoAcre.replace(',', '.', regex= True)

In [370]:
dfBasicoAcre = dfBasicoAcre.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [371]:
dfBasicoAcre.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [254]:
dfDomicilio01Acre = pd.read_csv('dataAcre/Domicilio01_AC.csv', sep = ';', encoding = 'unicode_escape')

In [255]:
dfDomicilio01Acre = dfDomicilio01Acre.replace('X', 0, regex= True)

In [256]:
dfDomicilio01Acre = dfDomicilio01Acre.astype(int)

In [259]:
dfDomicilio01Acre = dfDomicilio01Acre[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [260]:
dfDomicilio01Acre.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [261]:
dfDomicilio01Acre['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Acre['nAbs5PessoasDomicilio'] +dfDomicilio01Acre['nAbs6PessoasDomicilio'] + dfDomicilio01Acre['nAbs7PessoasDomicilio'] + dfDomicilio01Acre['nAbs8PessoasDomicilio']
+ dfDomicilio01Acre['nAbs9PessoasDomicilio'] + dfDomicilio01Acre['nAbs10PessoasDomicilio']

0      3
1      2
2      7
3      0
4      0
      ..
869    1
870    2
871    2
872    1
873    3
Length: 874, dtype: int64

In [263]:
dfDomicilio01Acre.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [265]:
dfDomicilio02Acre = pd.read_csv('dataAcre/Domicilio02_AC.csv', sep = ';', encoding = 'unicode_escape')

In [266]:
dfDomicilio02Acre = dfDomicilio02Acre.replace('X', 0, regex= True)

In [267]:
dfDomicilio02Acre = dfDomicilio02Acre.astype(int)

In [268]:
dfDomicilio02Acre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 915.1 KB

In [270]:
dfDomicilio02Acre = dfDomicilio02Acre[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [271]:
dfDomicilio02Acre.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [322]:
dfDomicilio02Acre.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,120001305000001,957,953,4,147
1,120001305000002,1211,1192,0,218
2,120001305000003,1705,1687,1,229
3,120001305000004,182,182,0,6
4,120001305000005,305,305,0,0

**Pessoa13** - conferido

In [273]:
dfPessoa13Acre = pd.read_csv('dataAcre/Pessoa13_AC.csv', sep = ';', encoding = 'unicode_escape')

In [274]:
dfPessoa13Acre = dfPessoa13Acre[['Cod_setor', 'V001']]

In [275]:
dfPessoa13Acre = dfPessoa13Acre.replace('X', 0, regex= True)

In [276]:
dfPessoa13Acre.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [323]:
dfPessoa13Acre.head()

         Cod_setor  nAbsConjuges
0  120001305000001           957
1  120001305000002          1211
2  120001305000003          1705
3  120001305000004           182
4  120001305000005           305

**Pessoa11** - conferido

In [277]:
dfPessoa11Acre = pd.read_csv('dataAcre/Pessoa11_AC.csv', sep = ';', encoding = 'unicode_escape')

In [278]:
dfPessoa11Acre = dfPessoa11Acre[['Cod_setor', 'V001']]

In [279]:
dfPessoa11Acre = dfPessoa11Acre.replace('X', 0, regex= True)

In [280]:
dfPessoa11Acre.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [309]:
dfPessoa12Acre = pd.read_csv('dataAcre/Pessoa12_AC.csv', sep = ';', encoding = 'unicode_escape')

In [310]:
dfPessoa12Acre = dfPessoa12Acre.replace('X', 0, regex= True)

In [326]:
dfPessoa12Acre = dfPessoa12Acre[['Cod_setor', 'V001']]

In [330]:
dfPessoa12Acre.head()

         Cod_setor  nAbsMulheresResidentes
0  120001305000001                     487
1  120001305000002                     613
2  120001305000003                     866
3  120001305000004                      92
4  120001305000005                     138

In [331]:
dfPessoa12Acre.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

/home/heitor/.local/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [332]:
dfPessoa12Acre.head()

         Cod_setor  nAbsMulheresResidentes
0  120001305000001                     487
1  120001305000002                     613
2  120001305000003                     866
3  120001305000004                      92
4  120001305000005                     138

**DomicilioRenda** - conferido

In [285]:
dfDomicilioRendaAcre = pd.read_csv('dataAcre/DomicilioRenda_AC.csv', sep = ';', encoding = 'unicode_escape')

In [286]:
dfDomicilioRendaAcre = dfDomicilioRendaAcre[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [287]:
dfDomicilioRendaAcre = dfDomicilioRendaAcre.replace('X', 0, regex= True)

In [288]:
dfDomicilioRendaAcre = dfDomicilioRendaAcre.astype(int)

In [289]:
dfDomicilioRendaAcre.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [290]:
dfDomicilioRendaAcre.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,120001305000001,601805,601805,0
1,120001305000002,385433,385033,400
2,120001305000003,532208,531794,414
3,120001305000004,58853,58853,0
4,120001305000005,112979,112979,0

**ResponsavelRenda** - conferido

In [291]:
dfResponsavelRendaAcre = pd.read_csv('dataAcre/ResponsavelRenda_AC.csv', sep = ';', encoding = 'unicode_escape')

In [292]:
dfResponsavelRendaAcre = dfResponsavelRendaAcre[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [293]:
dfResponsavelRendaAcre = dfResponsavelRendaAcre.replace('X', 0, regex= True)

In [294]:
dfResponsavelRendaAcre = dfResponsavelRendaAcre.astype(int)

In [295]:
dfResponsavelRendaAcre['nAbsPessoasClasseE'] = dfResponsavelRendaAcre['V001'] +dfResponsavelRendaAcre['V002'] + dfResponsavelRendaAcre['V003']

In [296]:
dfResponsavelRendaAcre['nAbsPessoasClasseD'] = dfResponsavelRendaAcre['V004']

In [297]:
dfResponsavelRendaAcre['nAbsPessoasClasseC'] = dfResponsavelRendaAcre['V005'] +dfResponsavelRendaAcre['V006']

In [298]:
dfResponsavelRendaAcre['nAbsPessoasClasseB'] = dfResponsavelRendaAcre['V007']

In [299]:
dfResponsavelRendaAcre['nAbsPessoasClasseA'] = dfResponsavelRendaAcre['V008'] +  dfResponsavelRendaAcre['V009']

In [300]:
dfResponsavelRendaAcre.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [301]:
dfResponsavelRendaAcre.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,120001305000001,169,25,43,2,2
1,120001305000002,271,19,22,0,2
2,120001305000003,333,28,17,2,2
3,120001305000004,38,8,2,0,0
4,120001305000005,78,4,8,0,0

**DATAFRAME TOTAL.**

In [372]:
data_frames = [dfBasicoAcre, dfDomicilio01Acre, dfDomicilio02Acre, dfPessoa13Acre, dfPessoa11Acre, dfPessoa12Acre,
               dfDomicilioRendaAcre, dfResponsavelRendaAcre]

In [373]:
dfTotalAcre = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [374]:
dfTotalAcre.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,120001305000001,3.39,1368.91,758.58,1249.62,282,281,1,53,30,...,470,487,601805,601805,0,169,25,43,2,2
1,120001305000002,3.52,737.47,407.43,716.42,344,338,0,60,30,...,598,613,385433,385033,400,271,19,22,0,2
2,120001305000003,3.53,606.40,411.93,689.39,483,476,1,70,39,...,839,866,532208,531794,414,333,28,17,2,2
3,120001305000004,3.43,758.51,426.47,684.34,53,53,0,3,6,...,90,92,58853,58853,0,38,8,2,0,0
4,120001305000005,3.18,689.61,446.56,748.21,96,96,0,0,18,...,167,138,112979,112979,0,78,4,8,0,0

In [375]:
dfTotalAcre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 874 entries, 0 to 873
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            874 non-null    int64
 1   MediaMoradorDomicilio                                874 non-null    float64
 2   RendaMediaDomicilio                                  874 non-null    float64
 3   RendaMediaPerCapitaGeral                             874 non-null    float64
 4   RendaMediaPerCapitaComRendimento                     873 non-null    float64
 5   nAbsDomicilios                                       874 non-null    int64
 6   nAbsDomiciliosCasa                                   874 non-null    int64
 7   nAbsDomiciliosApto                                   874 non-null    int64
 8   nAbsImoveisAlugados                                  874 non-null    int64
 9   nAbs1PessoasDomicilio                                874 non-null    int64
 10  nAbs1PessoasDomicilio                                874 non-null    int64
 11  nAbs2PessoasDomicilio                                874 non-null    int64
 12  nAbs3PessoasDomicilio                                874 non-null    int64
 13  nAbs4PessoasDomicilio                                874 non-null    int64
 14  nAbs5ouMaisPessoasDomicilio                          874 non-null    int64
 15  nAbsHabitantes                                       874 non-null    int64
 16  nAbsMoradoresCasa                                    874 non-null    int64
 17  nAbsMoradoresApto                                    874 non-null    int64
 18  nAbsMoradoresImoveisAlugados                         874 non-null    int64
 19  nAbsConjuges                                         874 non-null    int64
 20  nAbsHomensResidentes                                 874 non-null    int64
 21  nAbsMulheresResidentes                               874 non-null    int64
 22  TotalRendNomMensalDomParticulares                    874 non-null    int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   874 non-null    int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  874 non-null    int64
 25  nAbsPessoasClasseE                                   874 non-null    int64
 26  nAbsPessoasClasseD                                   874 non-null    int64
 27  nAbsPessoasClasseC                                   874 non-null    int64
 28  nAbsPessoasClasseB                                   874 non-null    int64
 29  nAbsPessoasClasseA                                   874 non-null    int64
dtypes: float64(4), int64(26)
memory usage: 211.7 KB

Conferir num. abs. de 5 ou mais pessoas por domicilio