In [248]:
import pandas as pd
import numpy as np
from functools import reduce

In [249]:
dfBasicoAcre = pd.read_csv('dataAcre/Basico_AC.csv', sep = ';', encoding = 'unicode_escape')

In [250]:
dfBasicoAcre.head()

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V004,V005,V006,V007,V008,V009,V010,V011,V012,Unnamed: 33
0,120001305000001,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"2,6","1368,91","37074622,68","1601,8","43033612,85","758,58","13786625,7","1249,62","22114423,28",NaN
1,120001305000002,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"2,63","737,47","820504,57","805,8","841534,36","407,43","510601,28","716,42","676770,34",NaN
2,120001305000003,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"2,88","606,4","1108707,24","767,15","1279744,31","411,93","757913,63","689,39","1077559,69",NaN
3,120001305000004,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"2,48","758,51","349158,22","837,52","318721,06","426,47","278588,4","684,34","270475,43",NaN
4,120001305000005,1,Região Norte,12,Acre,1202,Vale do Acre,12004,Rio Branco,0,...,"2,32","689,61",332081,"735,59","320270,31","446,56","833770,63","748,21","1173535,4",NaN

In [251]:
dfBasicoAcre = dfBasicoAcre[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [252]:
dfBasicoAcre.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

In [253]:
dfBasicoAcre.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento
0,120001305000001,"3,39","1368,91","758,58","1249,62"
1,120001305000002,"3,52","737,47","407,43","716,42"
2,120001305000003,"3,53","606,4","411,93","689,39"
3,120001305000004,"3,43","758,51","426,47","684,34"
4,120001305000005,"3,18","689,61","446,56","748,21"

Domicilio01

In [254]:
dfDomicilio01Acre = pd.read_csv('dataAcre/Domicilio01_AC.csv', sep = ';', encoding = 'unicode_escape')

In [255]:
dfDomicilio01Acre = dfDomicilio01Acre.replace('X', 0, regex= True)

In [256]:
dfDomicilio01Acre = dfDomicilio01Acre.astype(int)

In [257]:
dfDomicilio01Acre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Columns: 243 entries, Cod_setor to V241
dtypes: int64(243)
memory usage: 1.6 MB

In [258]:
dfDomicilio01Acre.head()

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V232,V233,V234,V235,V236,V237,V238,V239,V240,V241
0,120001305000001,1,282,282,281,0,1,207,1,53,...,0,0,3,0,1,2,0,0,0,0
1,120001305000002,1,344,342,338,0,0,247,1,60,...,0,3,11,0,0,9,0,0,2,0
2,120001305000003,1,483,482,476,2,1,369,5,70,...,0,0,9,0,6,2,0,0,1,0
3,120001305000004,5,53,53,53,0,0,44,0,3,...,0,1,4,0,0,4,0,0,0,0
4,120001305000005,8,96,96,96,0,0,65,1,0,...,0,7,95,0,1,94,0,0,0,1

In [259]:
dfDomicilio01Acre = dfDomicilio01Acre[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [260]:
dfDomicilio01Acre.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [261]:
dfDomicilio01Acre['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Acre['nAbs5PessoasDomicilio'] +dfDomicilio01Acre['nAbs6PessoasDomicilio'] + dfDomicilio01Acre['nAbs7PessoasDomicilio'] + dfDomicilio01Acre['nAbs8PessoasDomicilio']
+ dfDomicilio01Acre['nAbs9PessoasDomicilio'] + dfDomicilio01Acre['nAbs10PessoasDomicilio']

0      3
1      2
2      7
3      0
4      0
      ..
869    1
870    2
871    2
872    1
873    3
Length: 874, dtype: int64

In [262]:
dfDomicilio01Acre.head()

,Cod_setor,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,nAbs1PessoasDomicilio,nAbs2PessoasDomicilio,nAbs3PessoasDomicilio,nAbs4PessoasDomicilio,nAbs5PessoasDomicilio,nAbs6PessoasDomicilio,nAbs7PessoasDomicilio,nAbs8PessoasDomicilio,nAbs9PessoasDomicilio,nAbs10PessoasDomicilio,nAbs5ouMaisPessoasDomicilio
0,120001305000001,282,281,1,53,30,30,55,79,57,35,13,8,2,3,0,58
1,120001305000002,344,338,0,60,30,30,71,81,75,46,23,10,4,2,0,83
2,120001305000003,483,476,1,70,39,39,103,123,103,57,34,11,5,4,3,107
3,120001305000004,53,53,0,3,6,6,10,12,12,9,1,3,0,0,0,13
4,120001305000005,96,96,0,0,18,18,19,11,29,15,3,1,0,0,0,19

In [263]:
dfDomicilio01Acre.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

In [264]:
dfDomicilio01Acre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Cod_setor                    874 non-null    int64
 1   nAbsDomicilios               874 non-null    int64
 2   nAbsDomiciliosCasa           874 non-null    int64
 3   nAbsDomiciliosApto           874 non-null    int64
 4   nAbsImoveisAlugados          874 non-null    int64
 5   nAbs1PessoasDomicilio        874 non-null    int64
 6   nAbs1PessoasDomicilio        874 non-null    int64
 7   nAbs2PessoasDomicilio        874 non-null    int64
 8   nAbs3PessoasDomicilio        874 non-null    int64
 9   nAbs4PessoasDomicilio        874 non-null    int64
 10  nAbs5ouMaisPessoasDomicilio  874 non-null    int64
dtypes: int64(11)
memory usage: 75.2 KB

Domicilio02

In [265]:
dfDomicilio02Acre = pd.read_csv('dataAcre/Domicilio02_AC.csv', sep = ';', encoding = 'unicode_escape')

In [266]:
dfDomicilio02Acre = dfDomicilio02Acre.replace('X', 0, regex= True)

In [267]:
dfDomicilio02Acre = dfDomicilio02Acre.astype(int)

In [268]:
dfDomicilio02Acre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 915.1 KB

In [269]:
dfDomicilio02Acre.head()

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V123,V124,V125,V126,V127,V128,V129,V130,V131,V132
0,120001305000001,1,957,957,953,0,4,740,1,147,...,0,0,0,487,487,0,0,423,64,0
1,120001305000002,1,1211,1203,1192,0,0,873,6,218,...,0,0,0,610,610,0,0,596,14,0
2,120001305000003,1,1705,1700,1687,5,1,1320,20,229,...,1,0,2,864,861,3,1,833,16,12
3,120001305000004,5,182,182,182,0,0,156,0,6,...,0,0,0,92,92,0,0,85,7,0
4,120001305000005,8,305,305,305,0,0,207,4,0,...,2,0,8,138,138,0,0,120,18,0

In [270]:
dfDomicilio02Acre = dfDomicilio02Acre[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [271]:
dfDomicilio02Acre.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [272]:
dfDomicilio02Acre.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,120001305000001,957,953,4,147
1,120001305000002,1211,1192,0,218
2,120001305000003,1705,1687,1,229
3,120001305000004,182,182,0,6
4,120001305000005,305,305,0,0

Pessoa13

In [273]:
dfPessoa13Acre = pd.read_csv('dataAcre/Pessoa13_AC.csv', sep = ';', encoding = 'unicode_escape')

In [274]:
dfPessoa13Acre = dfPessoa13Acre[['Cod_setor', 'V001']]

In [275]:
dfPessoa13Acre = dfPessoa13Acre.replace('X', 0, regex= True)

In [276]:
dfPessoa13Acre.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

Pessoa11

In [277]:
dfPessoa11Acre = pd.read_csv('dataAcre/Pessoa11_AC.csv', sep = ';', encoding = 'unicode_escape')

In [278]:
dfPessoa11Acre = dfPessoa11Acre[['Cod_setor', 'V001']]

In [279]:
dfPessoa11Acre = dfPessoa11Acre.replace('X', 0, regex= True)

In [280]:
dfPessoa11Acre.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

Pessoa12

In [309]:
dfPessoa12Acre = pd.read_csv('dataAcre/Pessoa12_AC.csv', sep = ';', encoding = 'unicode_escape')

In [310]:
dfPessoa12Acre = dfPessoa12Acre.replace('X', 0, regex= True)

In [283]:
dfPessoa12Acre = dfPessoa12Acre[['Cod_setor', 'V001']]

In [284]:
dfPessoa12Acre.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

DomicilioRenda

In [285]:
dfDomicilioRendaAcre = pd.read_csv('dataAcre/DomicilioRenda_AC.csv', sep = ';', encoding = 'unicode_escape')

In [286]:
dfDomicilioRendaAcre = dfDomicilioRendaAcre[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [287]:
dfDomicilioRendaAcre = dfDomicilioRendaAcre.replace('X', 0, regex= True)

In [288]:
dfDomicilioRendaAcre = dfDomicilioRendaAcre.astype(int)

In [289]:
dfDomicilioRendaAcre.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [290]:
dfDomicilioRendaAcre.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,120001305000001,601805,601805,0
1,120001305000002,385433,385033,400
2,120001305000003,532208,531794,414
3,120001305000004,58853,58853,0
4,120001305000005,112979,112979,0

ResponsavelRenda

In [291]:
dfResponsavelRendaAcre = pd.read_csv('dataAcre/ResponsavelRenda_AC.csv', sep = ';', encoding = 'unicode_escape')

In [292]:
dfResponsavelRendaAcre = dfResponsavelRendaAcre[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [293]:
dfResponsavelRendaAcre = dfResponsavelRendaAcre.replace('X', 0, regex= True)

In [294]:
dfResponsavelRendaAcre = dfResponsavelRendaAcre.astype(int)

In [295]:
dfResponsavelRendaAcre['nAbsPessoasClasseE'] = dfResponsavelRendaAcre['V001'] +dfResponsavelRendaAcre['V002'] + dfResponsavelRendaAcre['V003']

In [296]:
dfResponsavelRendaAcre['nAbsPessoasClasseD'] = dfResponsavelRendaAcre['V004']

In [297]:
dfResponsavelRendaAcre['nAbsPessoasClasseC'] = dfResponsavelRendaAcre['V005'] +dfResponsavelRendaAcre['V006']

In [298]:
dfResponsavelRendaAcre['nAbsPessoasClasseB'] = dfResponsavelRendaAcre['V007']

In [299]:
dfResponsavelRendaAcre['nAbsPessoasClasseA'] = dfResponsavelRendaAcre['V008'] +  dfResponsavelRendaAcre['V009']

In [300]:
dfResponsavelRendaAcre.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [301]:
dfResponsavelRendaAcre.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,120001305000001,169,25,43,2,2
1,120001305000002,271,19,22,0,2
2,120001305000003,333,28,17,2,2
3,120001305000004,38,8,2,0,0
4,120001305000005,78,4,8,0,0

DATAFRAME TOTAL.

In [312]:
data_frames = [dfBasicoAcre, dfDomicilio01Acre, dfDomicilio02Acre, dfPessoa13Acre, dfPessoa11Acre, dfPessoa12Acre,
               dfDomicilioRendaAcre, dfResponsavelRendaAcre]

In [313]:
dfTotal = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [314]:
dfTotal.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,V134,Unnamed: 136,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,120001305000001,"3,39","1368,91","758,58","1249,62",282,281,1,53,30,...,0,NaN,601805,601805,0,169,25,43,2,2
1,120001305000002,"3,52","737,47","407,43","716,42",344,338,0,60,30,...,0,NaN,385433,385033,400,271,19,22,0,2
2,120001305000003,"3,53","606,4","411,93","689,39",483,476,1,70,39,...,0,NaN,532208,531794,414,333,28,17,2,2
3,120001305000004,"3,43","758,51","426,47","684,34",53,53,0,3,6,...,0,NaN,58853,58853,0,38,8,2,0,0
4,120001305000005,"3,18","689,61","446,56","748,21",96,96,0,0,18,...,0,NaN,112979,112979,0,78,4,8,0,0

Conferir num. abs. de 5 ou mais pessoas por domicilio