In [45]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [46]:
dfBasicoAmapa = pd.read_csv('dataAgrupados/Basico_AP.csv', sep = ';', encoding = 'unicode_escape')

In [47]:
dfBasicoAmapa = dfBasicoAmapa[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [48]:
dfBasicoAmapa = dfBasicoAmapa.replace('X', 0, regex= True)

In [49]:
dfBasicoAmapa.head()

         Cod_setor  V003     V005    V009     V011
0  160005505000001  3,65  1385,78  856,89  1446,06
1  160005505000003   4,1   522,69  262,29   619,97
2  160005505000004  3,87   617,82  325,35   639,97
3  160005510000001  3,76    560,2   416,8   766,33
4  160005510000002  4,17   360,48  223,86   580,63

In [50]:
dfBasicoAmapa = dfBasicoAmapa.replace(',', '.', regex= True)

In [51]:
dfBasicoAmapa = dfBasicoAmapa.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [52]:
dfBasicoAmapa.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [53]:
dfDomicilio01Amapa = pd.read_csv('dataAgrupados/Domicilio01_AP.csv', sep = ';', encoding = 'unicode_escape')

In [54]:
dfDomicilio01Amapa = dfDomicilio01Amapa.replace('X', 0, regex= True)

In [55]:
#dfDomicilio01Amapa = dfDomicilio01Amapa.astype(int)

In [56]:
dfDomicilio01Amapa = dfDomicilio01Amapa[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [57]:
dfDomicilio01Amapa.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [58]:
dfDomicilio01Amapa['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Amapa['nAbs5PessoasDomicilio'] +dfDomicilio01Amapa['nAbs6PessoasDomicilio'] + dfDomicilio01Amapa['nAbs7PessoasDomicilio'] + dfDomicilio01Amapa['nAbs8PessoasDomicilio']
+ dfDomicilio01Amapa['nAbs9PessoasDomicilio'] + dfDomicilio01Amapa['nAbs10PessoasDomicilio']

0       15
1       45
2       36
3       01
4       02
      ...
805     66
806     66
807    512
808     44
809     68
Length: 810, dtype: object

In [59]:
dfDomicilio01Amapa.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [60]:
dfDomicilio02Amapa = pd.read_csv('dataAgrupados/Domicilio02_AP.csv', sep = ';', encoding = 'unicode_escape')

In [61]:
dfDomicilio02Amapa = dfDomicilio02Amapa.replace('X', 0, regex= True)

In [62]:
dfDomicilio02Amapa = dfDomicilio02Amapa.astype(int)

In [63]:
dfDomicilio02Amapa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 848.1 KB

In [64]:
dfDomicilio02Amapa = dfDomicilio02Amapa[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [65]:
dfDomicilio02Amapa.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [66]:
dfDomicilio02Amapa.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,160005505000001,1870,1827,30,126
1,160005505000003,892,879,0,61
2,160005505000004,696,696,0,0
3,160005510000001,705,690,4,39
4,160005510000002,217,216,0,0

**Pessoa13** - conferido

In [67]:
dfPessoa13Amapa = pd.read_csv('dataAgrupados/Pessoa13_AP.csv', sep = ';', encoding = 'unicode_escape')

In [68]:
dfPessoa13Amapa = dfPessoa13Amapa[['Cod_setor', 'V001']]

In [69]:
dfPessoa13Amapa = dfPessoa13Amapa.replace('X', 0, regex= True)

In [70]:
dfPessoa13Amapa.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [71]:
dfPessoa13Amapa.head()

         Cod_setor  nAbsConjuges
0  160005505000001          1870
1  160005505000003           892
2  160005505000004           696
3  160005510000001           705
4  160005510000002           217

**Pessoa11** - conferido

In [72]:
dfPessoa11Amapa = pd.read_csv('dataAgrupados/Pessoa11_AP.csv', sep = ';', encoding = 'unicode_escape')

In [73]:
dfPessoa11Amapa = dfPessoa11Amapa[['Cod_setor', 'V001']]

In [74]:
dfPessoa11Amapa = dfPessoa11Amapa.replace('X', 0, regex= True)

In [75]:
dfPessoa11Amapa.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [76]:
dfPessoa12Amapa = pd.read_csv('dataAgrupados/Pessoa12_AP.csv', sep = ';', encoding = 'unicode_escape')

In [77]:
dfPessoa12Amapa = dfPessoa12Amapa.replace('X', 0, regex= True)

In [78]:
dfPessoa12Amapa = dfPessoa12Amapa[['Cod_setor', 'V001']]

In [79]:
dfPessoa12Amapa.head()

         Cod_setor  V001
0  160005505000001   890
1  160005505000003   430
2  160005505000004   302
3  160005510000001   330
4  160005510000002    95

In [80]:
dfPessoa12Amapa.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [81]:
dfPessoa12Amapa.head()

         Cod_setor  nAbsMulheresResidentes
0  160005505000001                     890
1  160005505000003                     430
2  160005505000004                     302
3  160005510000001                     330
4  160005510000002                      95

**DomicilioRenda** - conferido

In [82]:
dfDomicilioRendaAmapa = pd.read_csv('dataAgrupados/DomicilioRenda_AP.csv', sep = ';', encoding = 'unicode_escape')

In [83]:
dfDomicilioRendaAmapa = dfDomicilioRendaAmapa[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [84]:
dfDomicilioRendaAmapa = dfDomicilioRendaAmapa.replace('X', 0, regex= True)

In [85]:
dfDomicilioRendaAmapa = dfDomicilioRendaAmapa.astype(int)

In [86]:
dfDomicilioRendaAmapa.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [87]:
dfDomicilioRendaAmapa.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,160005505000001,1242934,1242424,510
1,160005505000003,170241,166443,3798
2,160005505000004,174711,174711,0
3,160005510000001,217895,217895,0
4,160005510000002,37160,37160,0

**ResponsavelRenda** - conferido

In [88]:
dfResponsavelRendaAmapa = pd.read_csv('dataAgrupados/ResponsavelRenda_AP.csv', sep = ';', encoding = 'unicode_escape')

In [89]:
dfResponsavelRendaAmapa = dfResponsavelRendaAmapa[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [90]:
dfResponsavelRendaAmapa = dfResponsavelRendaAmapa.replace('X', 0, regex= True)

In [91]:
dfResponsavelRendaAmapa = dfResponsavelRendaAmapa.astype(int)

In [92]:
dfResponsavelRendaAmapa['nAbsPessoasClasseE'] = dfResponsavelRendaAmapa['V001'] +dfResponsavelRendaAmapa['V002'] + dfResponsavelRendaAmapa['V003']

In [93]:
dfResponsavelRendaAmapa['nAbsPessoasClasseD'] = dfResponsavelRendaAmapa['V004']

In [94]:
dfResponsavelRendaAmapa['nAbsPessoasClasseC'] = dfResponsavelRendaAmapa['V005'] +dfResponsavelRendaAmapa['V006']

In [95]:
dfResponsavelRendaAmapa['nAbsPessoasClasseB'] = dfResponsavelRendaAmapa['V007']

In [96]:
dfResponsavelRendaAmapa['nAbsPessoasClasseA'] = dfResponsavelRendaAmapa['V008'] +  dfResponsavelRendaAmapa['V009']

In [97]:
dfResponsavelRendaAmapa.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [98]:
dfResponsavelRendaAmapa.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,160005505000001,249,65,106,8,9
1,160005505000003,137,16,11,0,0
2,160005505000004,114,13,18,0,0
3,160005510000001,117,10,15,0,0
4,160005510000002,35,2,0,0,0

**DATAFRAME TOTAL.**

In [99]:
data_frames = [dfBasicoAmapa, dfDomicilio01Amapa, dfDomicilio02Amapa, dfPessoa13Amapa, dfPessoa11Amapa, dfPessoa12Amapa,
               dfDomicilioRendaAmapa, dfResponsavelRendaAmapa]

In [100]:
dfTotalAmapa = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [101]:
dfTotalAmapa.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,160005505000001,3.65,1385.78,856.89,1446.06,513,498,11,42,58,...,980,890,1242934,1242424,510,249,65,106,8,9
1,160005505000003,4.10,522.69,262.29,619.97,220,214,0,17,27,...,462,430,170241,166443,3798,137,16,11,0,0
2,160005505000004,3.87,617.82,325.35,639.97,180,180,0,0,31,...,394,302,174711,174711,0,114,13,18,0,0
3,160005510000001,3.76,560.20,416.80,766.33,188,181,2,14,19,...,375,330,217895,217895,0,117,10,15,0,0
4,160005510000002,4.17,360.48,223.86,580.63,52,51,0,0,7,...,122,95,37160,37160,0,35,2,0,0,0

In [102]:
dfTotalAmapa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 810 entries, 0 to 809
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            810 non-null    int64
 1   MediaMoradorDomicilio                                810 non-null    float64
 2   RendaMediaDomicilio                                  810 non-null    float64
 3   RendaMediaPerCapitaGeral                             810 non-null    float64
 4   RendaMediaPerCapitaComRendimento                     810 non-null    float64
 5   nAbsDomicilios                                       810 non-null    int64
 6   nAbsDomiciliosCasa                                   810 non-null    object
 7   nAbsDomiciliosApto                                   810 non-null    object
 8   nAbsImoveisAlugados                                  810 non-null    object
 9   nAbs1PessoasDomicilio                                810 non-null    object
 10  nAbs1PessoasDomicilio                                810 non-null    object
 11  nAbs2PessoasDomicilio                                810 non-null    object
 12  nAbs3PessoasDomicilio                                810 non-null    object
 13  nAbs4PessoasDomicilio                                810 non-null    object
 14  nAbs5ouMaisPessoasDomicilio                          810 non-null    object
 15  nAbsHabitantes                                       810 non-null    int64
 16  nAbsMoradoresCasa                                    810 non-null    int64
 17  nAbsMoradoresApto                                    810 non-null    int64
 18  nAbsMoradoresImoveisAlugados                         810 non-null    int64
 19  nAbsConjuges                                         810 non-null    int64
 20  nAbsHomensResidentes                                 810 non-null    int64
 21  nAbsMulheresResidentes                               810 non-null    int64
 22  TotalRendNomMensalDomParticulares                    810 non-null    int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   810 non-null    int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  810 non-null    int64
 25  nAbsPessoasClasseE                                   810 non-null    int64
 26  nAbsPessoasClasseD                                   810 non-null    int64
 27  nAbsPessoasClasseC                                   810 non-null    int64
 28  nAbsPessoasClasseB                                   810 non-null    int64
 29  nAbsPessoasClasseA                                   810 non-null    int64
dtypes: float64(4), int64(17), object(9)
memory usage: 196.2+ KB

In [103]:
dfTotalAmapa.to_csv('Amapa.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio