In [12]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [13]:
dfBasicoBahia = pd.read_csv('dataAgrupados/Basico_BA.csv', sep = ';', encoding = 'unicode_escape')

In [14]:
dfBasicoBahia = dfBasicoBahia[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [15]:
dfBasicoBahia = dfBasicoBahia.replace('X', 0, regex= True)

In [16]:
dfBasicoBahia.head()

         Cod_setor  V003    V005    V009    V011
0  290010805000001   3,2  658,94  433,13  654,56
1  290010805000002  2,91  860,93  530,12  729,69
2  290010805000003  2,85  474,11  290,89  573,27
3  290010805000004  3,09   812,4  545,56  801,94
4  290010805000005  3,13   768,2  515,29  731,12

In [17]:
dfBasicoBahia = dfBasicoBahia.replace(',', '.', regex= True)

In [18]:
dfBasicoBahia = dfBasicoBahia.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [19]:
dfBasicoBahia.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [20]:
dfDomicilio01Bahia = pd.read_csv('dataAgrupados/Domicilio01_BA.csv', sep = ';', encoding = 'unicode_escape')

In [21]:
dfDomicilio01Bahia = dfDomicilio01Bahia.replace('X', 0, regex= True)

In [22]:
#dfDomicilio01Bahia = dfDomicilio01Bahia.astype(int)

In [23]:
dfDomicilio01Bahia = dfDomicilio01Bahia[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [24]:
dfDomicilio01Bahia.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [25]:
dfDomicilio01Bahia['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Bahia['nAbs5PessoasDomicilio'] +dfDomicilio01Bahia['nAbs6PessoasDomicilio'] + dfDomicilio01Bahia['nAbs7PessoasDomicilio'] + dfDomicilio01Bahia['nAbs8PessoasDomicilio']
+ dfDomicilio01Bahia['nAbs9PessoasDomicilio'] + dfDomicilio01Bahia['nAbs10PessoasDomicilio']

0         10
1         00
2         00
3         20
4         00
        ...
23777    611
23778     11
23779     00
23780     75
23781     13
Length: 23782, dtype: object

In [26]:
dfDomicilio01Bahia.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [27]:
dfDomicilio02Bahia = pd.read_csv('dataAgrupados/Domicilio02_BA.csv', sep = ';', encoding = 'unicode_escape')

In [28]:
dfDomicilio02Bahia = dfDomicilio02Bahia.replace('X', 0, regex= True)

In [29]:
dfDomicilio02Bahia = dfDomicilio02Bahia.astype(int)

In [30]:
dfDomicilio02Bahia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23782 entries, 0 to 23781
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 24.3 MB

In [31]:
dfDomicilio02Bahia = dfDomicilio02Bahia[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [32]:
dfDomicilio02Bahia.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [33]:
dfDomicilio02Bahia.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,290010805000001,710,703,0,83
1,290010805000002,402,402,0,42
2,290010805000003,696,696,0,138
3,290010805000004,591,591,0,76
4,290010805000005,294,294,0,17

**Pessoa13** - conferido

In [34]:
dfPessoa13Bahia = pd.read_csv('dataAgrupados/Pessoa13_BA.csv', sep = ';', encoding = 'unicode_escape')

In [35]:
dfPessoa13Bahia = dfPessoa13Bahia[['Cod_setor', 'V001']]

In [36]:
dfPessoa13Bahia = dfPessoa13Bahia.replace('X', 0, regex= True)

In [37]:
dfPessoa13Bahia.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [38]:
dfPessoa13Bahia.head()

         Cod_setor  nAbsConjuges
0  290010805000001           710
1  290010805000002           402
2  290010805000003           696
3  290010805000004           591
4  290010805000005           294

**Pessoa11** - conferido

In [39]:
dfPessoa11Bahia = pd.read_csv('dataAgrupados/Pessoa11_BA.csv', sep = ';', encoding = 'unicode_escape')

In [40]:
dfPessoa11Bahia = dfPessoa11Bahia[['Cod_setor', 'V001']]

In [41]:
dfPessoa11Bahia = dfPessoa11Bahia.replace('X', 0, regex= True)

In [42]:
dfPessoa11Bahia.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [43]:
dfPessoa12Bahia = pd.read_csv('dataAgrupados/Pessoa12_BA.csv', sep = ';', encoding = 'unicode_escape')

In [44]:
dfPessoa12Bahia = dfPessoa12Bahia.replace('X', 0, regex= True)

In [45]:
dfPessoa12Bahia = dfPessoa12Bahia[['Cod_setor', 'V001']]

In [46]:
dfPessoa12Bahia.head()

         Cod_setor  V001
0  290010805000001   388
1  290010805000002   223
2  290010805000003   363
3  290010805000004   308
4  290010805000005   144

In [47]:
dfPessoa12Bahia.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [48]:
dfPessoa12Bahia.head()

         Cod_setor  nAbsMulheresResidentes
0  290010805000001                     388
1  290010805000002                     223
2  290010805000003                     363
3  290010805000004                     308
4  290010805000005                     144

**DomicilioRenda** - conferido

In [49]:
dfDomicilioRendaBahia = pd.read_csv('dataAgrupados/DomicilioRenda_BA.csv', sep = ';', encoding = 'unicode_escape')

In [50]:
dfDomicilioRendaBahia = dfDomicilioRendaBahia[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [51]:
dfDomicilioRendaBahia = dfDomicilioRendaBahia.replace('X', 0, regex= True)

In [52]:
dfDomicilioRendaBahia = dfDomicilioRendaBahia.astype(int)

In [53]:
dfDomicilioRendaBahia.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [54]:
dfDomicilioRendaBahia.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,290010805000001,258627,258627,0
1,290010805000002,185922,185922,0
2,290010805000003,176568,176568,0
3,290010805000004,293511,293511,0
4,290010805000005,139644,139644,0

**ResponsavelRenda** - conferido

In [55]:
dfResponsavelRendaBahia = pd.read_csv('dataAgrupados/ResponsavelRenda_BA.csv', sep = ';', encoding = 'unicode_escape')

In [56]:
dfResponsavelRendaBahia = dfResponsavelRendaBahia[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [57]:
dfResponsavelRendaBahia = dfResponsavelRendaBahia.replace('X', 0, regex= True)

In [58]:
dfResponsavelRendaBahia = dfResponsavelRendaBahia.astype(int)

In [59]:
dfResponsavelRendaBahia['nAbsPessoasClasseE'] = dfResponsavelRendaBahia['V001'] +dfResponsavelRendaBahia['V002'] + dfResponsavelRendaBahia['V003']

In [60]:
dfResponsavelRendaBahia['nAbsPessoasClasseD'] = dfResponsavelRendaBahia['V004']

In [61]:
dfResponsavelRendaBahia['nAbsPessoasClasseC'] = dfResponsavelRendaBahia['V005'] +dfResponsavelRendaBahia['V006']

In [62]:
dfResponsavelRendaBahia['nAbsPessoasClasseB'] = dfResponsavelRendaBahia['V007']

In [63]:
dfResponsavelRendaBahia['nAbsPessoasClasseA'] = dfResponsavelRendaBahia['V008'] +  dfResponsavelRendaBahia['V009']

In [64]:
dfResponsavelRendaBahia.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [65]:
dfResponsavelRendaBahia.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,290010805000001,162,13,9,0,1
1,290010805000002,109,8,14,0,1
2,290010805000003,166,10,6,0,0
3,290010805000004,134,12,17,0,2
4,290010805000005,81,4,3,0,1

**DATAFRAME TOTAL.**

In [66]:
data_frames = [dfBasicoBahia, dfDomicilio01Bahia, dfDomicilio02Bahia, dfPessoa13Bahia, dfPessoa11Bahia, dfPessoa12Bahia,
               dfDomicilioRendaBahia, dfResponsavelRendaBahia]

In [67]:
dfTotalBahia = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [68]:
dfTotalBahia.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,290010805000001,3.20,658.94,433.13,654.56,227,220,0,27,26,...,322,388,258627,258627,0,162,13,9,0,1
1,290010805000002,2.91,860.93,530.12,729.69,138,138,0,17,24,...,179,223,185922,185922,0,109,8,14,0,1
2,290010805000003,2.85,474.11,290.89,573.27,244,244,0,44,45,...,333,363,176568,176568,0,166,10,6,0,0
3,290010805000004,3.09,812.40,545.56,801.94,191,191,0,28,23,...,283,308,293511,293511,0,134,12,17,0,2
4,290010805000005,3.13,768.20,515.29,731.12,94,94,0,7,10,...,150,144,139644,139644,0,81,4,3,0,1

In [69]:
dfTotalBahia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23782 entries, 0 to 23781
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            23782 non-null  int64
 1   MediaMoradorDomicilio                                23772 non-null  float64
 2   RendaMediaDomicilio                                  23772 non-null  float64
 3   RendaMediaPerCapitaGeral                             23782 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     23768 non-null  float64
 5   nAbsDomicilios                                       23782 non-null  int64
 6   nAbsDomiciliosCasa                                   23782 non-null  object
 7   nAbsDomiciliosApto                                   23782 non-null  object
 8   nAbsImoveisAlugados                                  23782 non-null  object
 9   nAbs1PessoasDomicilio                                23782 non-null  object
 10  nAbs1PessoasDomicilio                                23782 non-null  object
 11  nAbs2PessoasDomicilio                                23782 non-null  object
 12  nAbs3PessoasDomicilio                                23782 non-null  object
 13  nAbs4PessoasDomicilio                                23782 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          23782 non-null  object
 15  nAbsHabitantes                                       23782 non-null  int64
 16  nAbsMoradoresCasa                                    23782 non-null  int64
 17  nAbsMoradoresApto                                    23782 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         23782 non-null  int64
 19  nAbsConjuges                                         23782 non-null  int64
 20  nAbsHomensResidentes                                 23782 non-null  int64
 21  nAbsMulheresResidentes                               23782 non-null  int64
 22  TotalRendNomMensalDomParticulares                    23782 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   23782 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  23782 non-null  int64
 25  nAbsPessoasClasseE                                   23782 non-null  int64
 26  nAbsPessoasClasseD                                   23782 non-null  int64
 27  nAbsPessoasClasseC                                   23782 non-null  int64
 28  nAbsPessoasClasseB                                   23782 non-null  int64
 29  nAbsPessoasClasseA                                   23782 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 5.6+ MB

In [70]:
dfTotalBahia.to_csv('Bahia.csv', sep= ';', encoding = 'utf-8')