In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoCeara = pd.read_csv('dataAgrupados/Basico_CE.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoCeara = dfBasicoCeara[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoCeara = dfBasicoCeara.replace('X', 0, regex= True)

In [5]:
dfBasicoCeara.head()

         Cod_setor  V003    V005    V009    V011
0  230010105000001   3,4  571,69  343,83   536,1
1  230010105000002  3,89  274,99  152,45  290,49
2  230010105000003  3,52  645,36  351,59  540,32
3  230010105000004  3,47  213,67  190,63  301,83
4  230010105000005  3,95  333,06  228,05  369,64

In [6]:
dfBasicoCeara = dfBasicoCeara.replace(',', '.', regex= True)

In [7]:
dfBasicoCeara = dfBasicoCeara.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoCeara.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01Ceara = pd.read_csv('dataAgrupados/Domicilio01_CE.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01Ceara = dfDomicilio01Ceara.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01Ceara = dfDomicilio01Ceara.astype(int)

In [12]:
dfDomicilio01Ceara = dfDomicilio01Ceara[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01Ceara.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01Ceara['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Ceara['nAbs5PessoasDomicilio'] +dfDomicilio01Ceara['nAbs6PessoasDomicilio'] + dfDomicilio01Ceara['nAbs7PessoasDomicilio'] + dfDomicilio01Ceara['nAbs8PessoasDomicilio']
+ dfDomicilio01Ceara['nAbs9PessoasDomicilio'] + dfDomicilio01Ceara['nAbs10PessoasDomicilio']

0        12
1        00
2        00
3         0
4        11
         ..
13271    28
13272    10
13273    24
13274    02
13275    23
Length: 13276, dtype: object

In [15]:
dfDomicilio01Ceara.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02Ceara = pd.read_csv('dataAgrupados/Domicilio02_CE.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02Ceara = dfDomicilio02Ceara.replace('X', 0, regex= True)

In [18]:
dfDomicilio02Ceara = dfDomicilio02Ceara.astype(int)

In [19]:
dfDomicilio02Ceara.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13276 entries, 0 to 13275
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 13.6 MB

In [20]:
dfDomicilio02Ceara = dfDomicilio02Ceara[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02Ceara.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02Ceara.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,230010105000001,953,953,0,183
1,230010105000002,307,307,0,34
2,230010105000003,426,422,0,96
3,230010105000004,52,0,0,0
4,230010105000005,332,332,0,0

**Pessoa13** - conferido

In [23]:
dfPessoa13Ceara = pd.read_csv('dataAgrupados/Pessoa13_CE.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13Ceara = dfPessoa13Ceara[['Cod_setor', 'V001']]

In [25]:
dfPessoa13Ceara = dfPessoa13Ceara.replace('X', 0, regex= True)

In [26]:
dfPessoa13Ceara.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13Ceara.head()

         Cod_setor  nAbsConjuges
0  230010105000001           953
1  230010105000002           307
2  230010105000003           426
3  230010105000004            52
4  230010105000005           332

**Pessoa11** - conferido

In [28]:
dfPessoa11Ceara = pd.read_csv('dataAgrupados/Pessoa11_CE.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11Ceara = dfPessoa11Ceara[['Cod_setor', 'V001']]

In [30]:
dfPessoa11Ceara = dfPessoa11Ceara.replace('X', 0, regex= True)

In [31]:
dfPessoa11Ceara.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12Ceara = pd.read_csv('dataAgrupados/Pessoa12_CE.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12Ceara = dfPessoa12Ceara.replace('X', 0, regex= True)

In [34]:
dfPessoa12Ceara = dfPessoa12Ceara[['Cod_setor', 'V001']]

In [35]:
dfPessoa12Ceara.head()

         Cod_setor  V001
0  230010105000001   483
1  230010105000002   157
2  230010105000003   215
3  230010105000004    27
4  230010105000005   139

In [36]:
dfPessoa12Ceara.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12Ceara.head()

         Cod_setor  nAbsMulheresResidentes
0  230010105000001                     483
1  230010105000002                     157
2  230010105000003                     215
3  230010105000004                      27
4  230010105000005                     139

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaCeara = pd.read_csv('dataAgrupados/DomicilioRenda_CE.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaCeara = dfDomicilioRendaCeara[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaCeara = dfDomicilioRendaCeara.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaCeara = dfDomicilioRendaCeara.astype(int)

In [42]:
dfDomicilioRendaCeara.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaCeara.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,230010105000001,276092,276092,0
1,230010105000002,36892,36892,0
2,230010105000003,124680,124280,400
3,230010105000004,0,0,0
4,230010105000005,67274,67274,0

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaCeara = pd.read_csv('dataAgrupados/ResponsavelRenda_CE.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaCeara = dfResponsavelRendaCeara[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaCeara = dfResponsavelRendaCeara.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaCeara = dfResponsavelRendaCeara.astype(int)

In [48]:
dfResponsavelRendaCeara['nAbsPessoasClasseE'] = dfResponsavelRendaCeara['V001'] +dfResponsavelRendaCeara['V002'] + dfResponsavelRendaCeara['V003']

In [49]:
dfResponsavelRendaCeara['nAbsPessoasClasseD'] = dfResponsavelRendaCeara['V004']

In [50]:
dfResponsavelRendaCeara['nAbsPessoasClasseC'] = dfResponsavelRendaCeara['V005'] +dfResponsavelRendaCeara['V006']

In [51]:
dfResponsavelRendaCeara['nAbsPessoasClasseB'] = dfResponsavelRendaCeara['V007']

In [52]:
dfResponsavelRendaCeara['nAbsPessoasClasseA'] = dfResponsavelRendaCeara['V008'] +  dfResponsavelRendaCeara['V009']

In [53]:
dfResponsavelRendaCeara.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaCeara.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,230010105000001,241,18,8,1,0
1,230010105000002,64,0,0,0,0
2,230010105000003,105,4,6,1,0
3,230010105000004,0,0,0,0,0
4,230010105000005,67,0,0,0,0

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoCeara, dfDomicilio01Ceara, dfDomicilio02Ceara, dfPessoa13Ceara, dfPessoa11Ceara, dfPessoa12Ceara,
               dfDomicilioRendaCeara, dfResponsavelRendaCeara]

In [56]:
dfTotalCeara = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalCeara.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,230010105000001,3.40,571.69,343.83,536.10,280,280,0,58,25,...,470,483,276092,276092,0,241,18,8,1,0
1,230010105000002,3.89,274.99,152.45,290.49,79,79,0,9,4,...,150,157,36892,36892,0,64,0,0,0,0
2,230010105000003,3.52,645.36,351.59,540.32,121,120,0,30,11,...,211,215,124680,124280,400,105,4,6,1,0
3,230010105000004,3.47,213.67,190.63,301.83,15,0,0,0,0,...,25,27,0,0,0,0,0,0,0,0
4,230010105000005,3.95,333.06,228.05,369.64,84,84,0,0,12,...,193,139,67274,67274,0,67,0,0,0,0

In [58]:
dfTotalCeara.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13276 entries, 0 to 13275
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            13276 non-null  int64
 1   MediaMoradorDomicilio                                13271 non-null  float64
 2   RendaMediaDomicilio                                  13271 non-null  float64
 3   RendaMediaPerCapitaGeral                             13276 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     13268 non-null  float64
 5   nAbsDomicilios                                       13276 non-null  int64
 6   nAbsDomiciliosCasa                                   13276 non-null  object
 7   nAbsDomiciliosApto                                   13276 non-null  object
 8   nAbsImoveisAlugados                                  13276 non-null  object
 9   nAbs1PessoasDomicilio                                13276 non-null  object
 10  nAbs1PessoasDomicilio                                13276 non-null  object
 11  nAbs2PessoasDomicilio                                13276 non-null  object
 12  nAbs3PessoasDomicilio                                13276 non-null  object
 13  nAbs4PessoasDomicilio                                13276 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          13276 non-null  object
 15  nAbsHabitantes                                       13276 non-null  int64
 16  nAbsMoradoresCasa                                    13276 non-null  int64
 17  nAbsMoradoresApto                                    13276 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         13276 non-null  int64
 19  nAbsConjuges                                         13276 non-null  int64
 20  nAbsHomensResidentes                                 13276 non-null  int64
 21  nAbsMulheresResidentes                               13276 non-null  int64
 22  TotalRendNomMensalDomParticulares                    13276 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   13276 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  13276 non-null  int64
 25  nAbsPessoasClasseE                                   13276 non-null  int64
 26  nAbsPessoasClasseD                                   13276 non-null  int64
 27  nAbsPessoasClasseC                                   13276 non-null  int64
 28  nAbsPessoasClasseB                                   13276 non-null  int64
 29  nAbsPessoasClasseA                                   13276 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 3.1+ MB

In [59]:
dfTotalCeara.to_csv('Ceara.csv', sep= ';', encoding = 'utf-8')