In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoDF = pd.read_csv('dataAgrupados/Basico_DF.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoDF = dfBasicoDF[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoDF = dfBasicoDF.replace('X', 0, regex= True)

In [5]:
dfBasicoDF.head()

         Cod_setor  V003     V005      V009      V011
0  530010805060001   NaN      NaN   9506,63  11709,39
1  530010805060002   NaN      NaN   7806,67   7806,67
2  530010805060004   NaN      NaN  10939,03  12006,26
3  530010805060005  2,23  2502,36   1453,43   1975,18
4  530010805060006  3,63  6932,78   2972,86   5053,02

In [6]:
dfBasicoDF = dfBasicoDF.replace(',', '.', regex= True)

In [7]:
dfBasicoDF = dfBasicoDF.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoDF.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01DF = pd.read_csv('dataAgrupados/Domicilio01_DF.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01DF = dfDomicilio01DF.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01DF = dfDomicilio01DF.astype(int)

In [12]:
dfDomicilio01DF = dfDomicilio01DF[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01DF.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01DF['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01DF['nAbs5PessoasDomicilio'] +dfDomicilio01DF['nAbs6PessoasDomicilio'] + dfDomicilio01DF['nAbs7PessoasDomicilio'] + dfDomicilio01DF['nAbs8PessoasDomicilio']
+ dfDomicilio01DF['nAbs9PessoasDomicilio'] + dfDomicilio01DF['nAbs10PessoasDomicilio']

0       00
1       00
2       00
3       00
4       00
        ..
4344    00
4345    00
4346    00
4347    74
4348    00
Length: 4349, dtype: object

In [15]:
dfDomicilio01DF.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02DF = pd.read_csv('dataAgrupados/Domicilio02_DF.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02DF = dfDomicilio02DF.replace('X', 0, regex= True)

In [18]:
dfDomicilio02DF = dfDomicilio02DF.astype(int)

In [19]:
dfDomicilio02DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4349 entries, 0 to 4348
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 4.4 MB

In [20]:
dfDomicilio02DF = dfDomicilio02DF[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02DF.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02DF.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,530010805060001,102,0,0,0
1,530010805060002,15,0,0,0
2,530010805060004,91,0,0,0
3,530010805060005,55,0,49,30
4,530010805060006,676,0,676,0

**Pessoa13** - conferido

In [23]:
dfPessoa13DF = pd.read_csv('dataAgrupados/Pessoa13_DF.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13DF = dfPessoa13DF[['Cod_setor', 'V001']]

In [25]:
dfPessoa13DF = dfPessoa13DF.replace('X', 0, regex= True)

In [26]:
dfPessoa13DF.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13DF.head()

         Cod_setor  nAbsConjuges
0  530010805060001           102
1  530010805060002            15
2  530010805060004            91
3  530010805060005            55
4  530010805060006           676

**Pessoa11** - conferido

In [28]:
dfPessoa11DF = pd.read_csv('dataAgrupados/Pessoa11_DF.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11DF = dfPessoa11DF[['Cod_setor', 'V001']]

In [30]:
dfPessoa11DF = dfPessoa11DF.replace('X', 0, regex= True)

In [31]:
dfPessoa11DF.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12DF = pd.read_csv('dataAgrupados/Pessoa12_DF.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12DF = dfPessoa12DF.replace('X', 0, regex= True)

In [34]:
dfPessoa12DF = dfPessoa12DF[['Cod_setor', 'V001']]

In [35]:
dfPessoa12DF.head()

         Cod_setor  V001
0  530010805060001    33
1  530010805060002     3
2  530010805060004    27
3  530010805060005    25
4  530010805060006   348

In [36]:
dfPessoa12DF.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12DF.head()

         Cod_setor  nAbsMulheresResidentes
0  530010805060001                      33
1  530010805060002                       3
2  530010805060004                      27
3  530010805060005                      25
4  530010805060006                     348

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaDF = pd.read_csv('dataAgrupados/DomicilioRenda_DF.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaDF = dfDomicilioRendaDF[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaDF = dfDomicilioRendaDF.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaDF = dfDomicilioRendaDF.astype(int)

In [42]:
dfDomicilioRendaDF.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaDF.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,530010805060001,0,0,0
1,530010805060002,0,0,0
2,530010805060004,0,0,0
3,530010805060005,77032,77032,0
4,530010805060006,1779217,1779217,0

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaDF = pd.read_csv('dataAgrupados/ResponsavelRenda_DF.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaDF = dfResponsavelRendaDF[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaDF = dfResponsavelRendaDF.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaDF = dfResponsavelRendaDF.astype(int)

In [48]:
dfResponsavelRendaDF['nAbsPessoasClasseE'] = dfResponsavelRendaDF['V001'] +dfResponsavelRendaDF['V002'] + dfResponsavelRendaDF['V003']

In [49]:
dfResponsavelRendaDF['nAbsPessoasClasseD'] = dfResponsavelRendaDF['V004']

In [50]:
dfResponsavelRendaDF['nAbsPessoasClasseC'] = dfResponsavelRendaDF['V005'] +dfResponsavelRendaDF['V006']

In [51]:
dfResponsavelRendaDF['nAbsPessoasClasseB'] = dfResponsavelRendaDF['V007']

In [52]:
dfResponsavelRendaDF['nAbsPessoasClasseA'] = dfResponsavelRendaDF['V008'] +  dfResponsavelRendaDF['V009']

In [53]:
dfResponsavelRendaDF.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaDF.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,530010805060001,2,0,7,3,13
1,530010805060002,0,0,0,2,0
2,530010805060004,0,0,4,4,6
3,530010805060005,9,1,9,1,2
4,530010805060006,0,3,49,58,75

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoDF, dfDomicilio01DF, dfDomicilio02DF, dfPessoa13DF, dfPessoa11DF, dfPessoa12DF,
               dfDomicilioRendaDF, dfResponsavelRendaDF]

In [56]:
dfTotalDF = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalDF.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,530010805060001,NaN,NaN,9506.63,11709.39,69,0,0,0,0,...,69,33,0,0,0,2,0,7,3,13
1,530010805060002,NaN,NaN,7806.67,7806.67,13,0,0,0,0,...,12,3,0,0,0,0,0,0,2,0
2,530010805060004,NaN,NaN,10939.03,12006.26,74,0,0,0,0,...,64,27,0,0,0,0,0,4,4,6
3,530010805060005,2.23,2502.36,1453.43,1975.18,23,0,22,15,8,...,30,25,77032,77032,0,9,1,9,1,2
4,530010805060006,3.63,6932.78,2972.86,5053.02,186,0,186,0,3,...,328,348,1779217,1779217,0,0,3,49,58,75

In [58]:
dfTotalDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4349 entries, 0 to 4348
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            4349 non-null   int64
 1   MediaMoradorDomicilio                                4336 non-null   float64
 2   RendaMediaDomicilio                                  4336 non-null   float64
 3   RendaMediaPerCapitaGeral                             4349 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     4348 non-null   float64
 5   nAbsDomicilios                                       4349 non-null   int64
 6   nAbsDomiciliosCasa                                   4349 non-null   object
 7   nAbsDomiciliosApto                                   4349 non-null   object
 8   nAbsImoveisAlugados                                  4349 non-null   object
 9   nAbs1PessoasDomicilio                                4349 non-null   object
 10  nAbs1PessoasDomicilio                                4349 non-null   object
 11  nAbs2PessoasDomicilio                                4349 non-null   object
 12  nAbs3PessoasDomicilio                                4349 non-null   object
 13  nAbs4PessoasDomicilio                                4349 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          4349 non-null   object
 15  nAbsHabitantes                                       4349 non-null   int64
 16  nAbsMoradoresCasa                                    4349 non-null   int64
 17  nAbsMoradoresApto                                    4349 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         4349 non-null   int64
 19  nAbsConjuges                                         4349 non-null   int64
 20  nAbsHomensResidentes                                 4349 non-null   int64
 21  nAbsMulheresResidentes                               4349 non-null   int64
 22  TotalRendNomMensalDomParticulares                    4349 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   4349 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  4349 non-null   int64
 25  nAbsPessoasClasseE                                   4349 non-null   int64
 26  nAbsPessoasClasseD                                   4349 non-null   int64
 27  nAbsPessoasClasseC                                   4349 non-null   int64
 28  nAbsPessoasClasseB                                   4349 non-null   int64
 29  nAbsPessoasClasseA                                   4349 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 1.0+ MB

In [59]:
dfTotalDF.to_csv('DF.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio