In [12]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [13]:
dfBasicoEspiritoSanto = pd.read_csv('dataAgrupados/Basico_ES.csv', sep = ';', encoding = 'unicode_escape')

In [14]:
dfBasicoEspiritoSanto = dfBasicoEspiritoSanto[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [15]:
dfBasicoEspiritoSanto = dfBasicoEspiritoSanto.replace('X', 0, regex= True)

In [16]:
dfBasicoEspiritoSanto.head()

         Cod_setor  V003     V005     V009     V011
0  320010205000001  2,78  2202,33  1362,31  1704,79
1  320010205000002  2,85   800,33   632,95   839,46
2  320010205000003   3,1   741,66   471,31   672,63
3  320010205000004  3,32   462,69   295,35    449,1
4  320010205000005  3,16   942,75   560,39   843,79

In [17]:
dfBasicoEspiritoSanto = dfBasicoEspiritoSanto.replace(',', '.', regex= True)

In [18]:
dfBasicoEspiritoSanto = dfBasicoEspiritoSanto.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [19]:
dfBasicoEspiritoSanto.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [20]:
dfDomicilio01EspiritoSanto = pd.read_csv('dataAgrupados/Domicilio01_ES.csv', sep = ';', encoding = 'unicode_escape')

In [21]:
dfDomicilio01EspiritoSanto = dfDomicilio01EspiritoSanto.replace('X', 0, regex= True)

In [22]:
#dfDomicilio01EspiritoSanto = dfDomicilio01EspiritoSanto.astype(int)

In [23]:
dfDomicilio01EspiritoSanto = dfDomicilio01EspiritoSanto[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [24]:
dfDomicilio01EspiritoSanto.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [25]:
dfDomicilio01EspiritoSanto['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01EspiritoSanto['nAbs5PessoasDomicilio'] +dfDomicilio01EspiritoSanto['nAbs6PessoasDomicilio'] + dfDomicilio01EspiritoSanto['nAbs7PessoasDomicilio'] + dfDomicilio01EspiritoSanto['nAbs8PessoasDomicilio']
+ dfDomicilio01EspiritoSanto['nAbs9PessoasDomicilio'] + dfDomicilio01EspiritoSanto['nAbs10PessoasDomicilio']

0       00
1       00
2       20
3       12
4       10
        ..
6375    01
6376    00
6377    00
6378    00
6379    00
Length: 6380, dtype: object

In [26]:
dfDomicilio01EspiritoSanto.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [27]:
dfDomicilio02EspiritoSanto = pd.read_csv('dataAgrupados/Domicilio02_ES.csv', sep = ';', encoding = 'unicode_escape')

In [28]:
dfDomicilio02EspiritoSanto = dfDomicilio02EspiritoSanto.replace('X', 0, regex= True)

In [29]:
dfDomicilio02EspiritoSanto = dfDomicilio02EspiritoSanto.astype(int)

In [30]:
dfDomicilio02EspiritoSanto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6380 entries, 0 to 6379
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 6.5 MB

In [31]:
dfDomicilio02EspiritoSanto = dfDomicilio02EspiritoSanto[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [32]:
dfDomicilio02EspiritoSanto.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [33]:
dfDomicilio02EspiritoSanto.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,320010205000001,247,179,63,84
1,320010205000002,576,492,79,181
2,320010205000003,1220,1006,157,238
3,320010205000004,694,694,0,119
4,320010205000005,605,584,14,151

**Pessoa13** - conferido

In [34]:
dfPessoa13EspiritoSanto = pd.read_csv('dataAgrupados/Pessoa13_ES.csv', sep = ';', encoding = 'unicode_escape')

In [35]:
dfPessoa13EspiritoSanto = dfPessoa13EspiritoSanto[['Cod_setor', 'V001']]

In [36]:
dfPessoa13EspiritoSanto = dfPessoa13EspiritoSanto.replace('X', 0, regex= True)

In [37]:
dfPessoa13EspiritoSanto.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [38]:
dfPessoa13EspiritoSanto.head()

         Cod_setor  nAbsConjuges
0  320010205000001           247
1  320010205000002           576
2  320010205000003          1220
3  320010205000004           694
4  320010205000005           605

**Pessoa11** - conferido

In [39]:
dfPessoa11EspiritoSanto = pd.read_csv('dataAgrupados/Pessoa11_ES.csv', sep = ';', encoding = 'unicode_escape')

In [40]:
dfPessoa11EspiritoSanto = dfPessoa11EspiritoSanto[['Cod_setor', 'V001']]

In [41]:
dfPessoa11EspiritoSanto = dfPessoa11EspiritoSanto.replace('X', 0, regex= True)

In [42]:
dfPessoa11EspiritoSanto.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [43]:
dfPessoa12EspiritoSanto = pd.read_csv('dataAgrupados/Pessoa12_ES.csv', sep = ';', encoding = 'unicode_escape')

In [44]:
dfPessoa12EspiritoSanto = dfPessoa12EspiritoSanto.replace('X', 0, regex= True)

In [45]:
dfPessoa12EspiritoSanto = dfPessoa12EspiritoSanto[['Cod_setor', 'V001']]

In [46]:
dfPessoa12EspiritoSanto.head()

         Cod_setor  V001
0  320010205000001   134
1  320010205000002   293
2  320010205000003   624
3  320010205000004   361
4  320010205000005   312

In [47]:
dfPessoa12EspiritoSanto.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [48]:
dfPessoa12EspiritoSanto.head()

         Cod_setor  nAbsMulheresResidentes
0  320010205000001                     134
1  320010205000002                     293
2  320010205000003                     624
3  320010205000004                     361
4  320010205000005                     312

**DomicilioRenda** - conferido

In [49]:
dfDomicilioRendaEspiritoSanto = pd.read_csv('dataAgrupados/DomicilioRenda_ES.csv', sep = ';', encoding = 'unicode_escape')

In [50]:
dfDomicilioRendaEspiritoSanto = dfDomicilioRendaEspiritoSanto[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [51]:
dfDomicilioRendaEspiritoSanto = dfDomicilioRendaEspiritoSanto.replace('X', 0, regex= True)

In [52]:
dfDomicilioRendaEspiritoSanto = dfDomicilioRendaEspiritoSanto.astype(int)

In [53]:
dfDomicilioRendaEspiritoSanto.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [54]:
dfDomicilioRendaEspiritoSanto.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,320010205000001,304647,304647,0
1,320010205000002,316477,316477,0
2,320010205000003,443684,443684,0
3,320010205000004,163921,163921,0
4,320010205000005,295328,294818,510

**ResponsavelRenda** - conferido

In [55]:
dfResponsavelRendaEspiritoSanto = pd.read_csv('dataAgrupados/ResponsavelRenda_ES.csv', sep = ';', encoding = 'unicode_escape')

In [56]:
dfResponsavelRendaEspiritoSanto = dfResponsavelRendaEspiritoSanto[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [57]:
dfResponsavelRendaEspiritoSanto = dfResponsavelRendaEspiritoSanto.replace('X', 0, regex= True)

In [58]:
dfResponsavelRendaEspiritoSanto = dfResponsavelRendaEspiritoSanto.astype(int)

In [59]:
dfResponsavelRendaEspiritoSanto['nAbsPessoasClasseE'] = dfResponsavelRendaEspiritoSanto['V001'] +dfResponsavelRendaEspiritoSanto['V002'] + dfResponsavelRendaEspiritoSanto['V003']

In [60]:
dfResponsavelRendaEspiritoSanto['nAbsPessoasClasseD'] = dfResponsavelRendaEspiritoSanto['V004']

In [61]:
dfResponsavelRendaEspiritoSanto['nAbsPessoasClasseC'] = dfResponsavelRendaEspiritoSanto['V005'] +dfResponsavelRendaEspiritoSanto['V006']

In [62]:
dfResponsavelRendaEspiritoSanto['nAbsPessoasClasseB'] = dfResponsavelRendaEspiritoSanto['V007']

In [63]:
dfResponsavelRendaEspiritoSanto['nAbsPessoasClasseA'] = dfResponsavelRendaEspiritoSanto['V008'] +  dfResponsavelRendaEspiritoSanto['V009']

In [64]:
dfResponsavelRendaEspiritoSanto.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [65]:
dfResponsavelRendaEspiritoSanto.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,320010205000001,41,16,19,6,4
1,320010205000002,134,19,21,0,0
2,320010205000003,303,23,21,1,2
3,320010205000004,184,4,2,0,0
4,320010205000005,144,17,17,2,1

**DATAFRAME TOTAL.**

In [66]:
data_frames = [dfBasicoEspiritoSanto, dfDomicilio01EspiritoSanto, dfDomicilio02EspiritoSanto, dfPessoa13EspiritoSanto, dfPessoa11EspiritoSanto, dfPessoa12EspiritoSanto,
               dfDomicilioRendaEspiritoSanto, dfResponsavelRendaEspiritoSanto]

In [67]:
dfTotalEspiritoSanto = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [68]:
dfTotalEspiritoSanto.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,320010205000001,2.78,2202.33,1362.31,1704.79,89,59,27,34,14,...,113,134,304647,304647,0,41,16,19,6,4
1,320010205000002,2.85,800.33,632.95,839.46,202,172,28,60,32,...,283,293,316477,316477,0,134,19,21,0,0
2,320010205000003,3.10,741.66,471.31,672.63,430,317,59,84,63,...,596,624,443684,443684,0,303,23,21,1,2
3,320010205000004,3.32,462.69,295.35,449.10,209,209,0,37,38,...,333,361,163921,163921,0,184,4,2,0,0
4,320010205000005,3.16,942.75,560.39,843.79,190,183,6,50,21,...,293,312,295328,294818,510,144,17,17,2,1

In [69]:
dfTotalEspiritoSanto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6380 entries, 0 to 6379
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            6380 non-null   int64
 1   MediaMoradorDomicilio                                6370 non-null   float64
 2   RendaMediaDomicilio                                  6370 non-null   float64
 3   RendaMediaPerCapitaGeral                             6380 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     6375 non-null   float64
 5   nAbsDomicilios                                       6380 non-null   int64
 6   nAbsDomiciliosCasa                                   6380 non-null   object
 7   nAbsDomiciliosApto                                   6380 non-null   object
 8   nAbsImoveisAlugados                                  6380 non-null   object
 9   nAbs1PessoasDomicilio                                6380 non-null   object
 10  nAbs1PessoasDomicilio                                6380 non-null   object
 11  nAbs2PessoasDomicilio                                6380 non-null   object
 12  nAbs3PessoasDomicilio                                6380 non-null   object
 13  nAbs4PessoasDomicilio                                6380 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          6380 non-null   object
 15  nAbsHabitantes                                       6380 non-null   int64
 16  nAbsMoradoresCasa                                    6380 non-null   int64
 17  nAbsMoradoresApto                                    6380 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         6380 non-null   int64
 19  nAbsConjuges                                         6380 non-null   int64
 20  nAbsHomensResidentes                                 6380 non-null   int64
 21  nAbsMulheresResidentes                               6380 non-null   int64
 22  TotalRendNomMensalDomParticulares                    6380 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   6380 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  6380 non-null   int64
 25  nAbsPessoasClasseE                                   6380 non-null   int64
 26  nAbsPessoasClasseD                                   6380 non-null   int64
 27  nAbsPessoasClasseC                                   6380 non-null   int64
 28  nAbsPessoasClasseB                                   6380 non-null   int64
 29  nAbsPessoasClasseA                                   6380 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 1.5+ MB

Conferir num. abs. de 5 ou mais pessoas por domicilio

In [70]:
dfTotalEspiritoSanto.to_csv('EspiritoSanto.csv', sep= ';', encoding = 'utf-8')