In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoGoias = pd.read_csv('dataAgrupados/Basico_GO.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoGoias = dfBasicoGoias[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoGoias = dfBasicoGoias.replace('X', 0, regex= True)

In [5]:
dfBasicoGoias.head()

         Cod_setor  V003     V005    V009     V011
0  520005005000001   3,3  1485,31  927,42  1258,39
1  520005005000002  3,05   717,21     551   775,35
2  520005005000003  3,28  1096,56  637,88   973,88
3  520005005000004  3,51  1222,68  667,09   984,76
4  520005005000005  2,76   831,73  529,98   904,55

In [6]:
dfBasicoGoias = dfBasicoGoias.replace(',', '.', regex= True)

In [7]:
dfBasicoGoias = dfBasicoGoias.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoGoias.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01Goias = pd.read_csv('dataAgrupados/Domicilio01_GO.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01Goias = dfDomicilio01Goias.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01Goias = dfDomicilio01Goias.astype(int)

In [12]:
dfDomicilio01Goias = dfDomicilio01Goias[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01Goias.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01Goias['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Goias['nAbs5PessoasDomicilio'] +dfDomicilio01Goias['nAbs6PessoasDomicilio'] + dfDomicilio01Goias['nAbs7PessoasDomicilio'] + dfDomicilio01Goias['nAbs8PessoasDomicilio']
+ dfDomicilio01Goias['nAbs9PessoasDomicilio'] + dfDomicilio01Goias['nAbs10PessoasDomicilio']

0       00
1       00
2       10
3       01
4       00
        ..
9429    10
9430    01
9431    00
9432    00
9433    12
Length: 9434, dtype: object

In [15]:
dfDomicilio01Goias.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02Goias = pd.read_csv('dataAgrupados/Domicilio02_GO.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02Goias = dfDomicilio02Goias.replace('X', 0, regex= True)

In [18]:
dfDomicilio02Goias = dfDomicilio02Goias.astype(int)

In [19]:
dfDomicilio02Goias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9434 entries, 0 to 9433
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 9.6 MB

In [20]:
dfDomicilio02Goias = dfDomicilio02Goias[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02Goias.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02Goias.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,520005005000001,409,397,4,139
1,520005005000002,805,456,0,236
2,520005005000003,1521,1503,8,544
3,520005005000004,863,863,0,272
4,520005005000005,253,246,0,4

**Pessoa13** - conferido

In [23]:
dfPessoa13Goias = pd.read_csv('dataAgrupados/Pessoa13_GO.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13Goias = dfPessoa13Goias[['Cod_setor', 'V001']]

In [25]:
dfPessoa13Goias = dfPessoa13Goias.replace('X', 0, regex= True)

In [26]:
dfPessoa13Goias.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13Goias.head()

         Cod_setor  nAbsConjuges
0  520005005000001           409
1  520005005000002           805
2  520005005000003          1521
3  520005005000004           863
4  520005005000005           253

**Pessoa11** - conferido

In [28]:
dfPessoa11Goias = pd.read_csv('dataAgrupados/Pessoa11_GO.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11Goias = dfPessoa11Goias[['Cod_setor', 'V001']]

In [30]:
dfPessoa11Goias = dfPessoa11Goias.replace('X', 0, regex= True)

In [31]:
dfPessoa11Goias.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12Goias = pd.read_csv('dataAgrupados/Pessoa12_GO.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12Goias = dfPessoa12Goias.replace('X', 0, regex= True)

In [34]:
dfPessoa12Goias = dfPessoa12Goias[['Cod_setor', 'V001']]

In [35]:
dfPessoa12Goias.head()

         Cod_setor  V001
0  520005005000001   218
1  520005005000002   432
2  520005005000003   804
3  520005005000004   440
4  520005005000005   111

In [36]:
dfPessoa12Goias.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12Goias.head()

         Cod_setor  nAbsMulheresResidentes
0  520005005000001                     218
1  520005005000002                     432
2  520005005000003                     804
3  520005005000004                     440
4  520005005000005                     111

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaGoias = pd.read_csv('dataAgrupados/DomicilioRenda_GO.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaGoias = dfDomicilioRendaGoias[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaGoias = dfDomicilioRendaGoias.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaGoias = dfDomicilioRendaGoias.astype(int)

In [42]:
dfDomicilioRendaGoias.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaGoias.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,520005005000001,320889,320889,0
1,520005005000002,380552,380552,0
2,520005005000003,819037,819037,0
3,520005005000004,475638,475638,0
4,520005005000005,119105,119105,0

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaGoias = pd.read_csv('dataAgrupados/ResponsavelRenda_GO.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaGoias = dfResponsavelRendaGoias[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaGoias = dfResponsavelRendaGoias.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaGoias = dfResponsavelRendaGoias.astype(int)

In [48]:
dfResponsavelRendaGoias['nAbsPessoasClasseE'] = dfResponsavelRendaGoias['V001'] +dfResponsavelRendaGoias['V002'] + dfResponsavelRendaGoias['V003']

In [49]:
dfResponsavelRendaGoias['nAbsPessoasClasseD'] = dfResponsavelRendaGoias['V004']

In [50]:
dfResponsavelRendaGoias['nAbsPessoasClasseC'] = dfResponsavelRendaGoias['V005'] +dfResponsavelRendaGoias['V006']

In [51]:
dfResponsavelRendaGoias['nAbsPessoasClasseB'] = dfResponsavelRendaGoias['V007']

In [52]:
dfResponsavelRendaGoias['nAbsPessoasClasseA'] = dfResponsavelRendaGoias['V008'] +  dfResponsavelRendaGoias['V009']

In [53]:
dfResponsavelRendaGoias.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaGoias.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,520005005000001,67,19,27,1,2
1,520005005000002,192,12,16,0,2
2,520005005000003,282,61,76,3,4
3,520005005000004,142,41,47,1,3
4,520005005000005,52,13,9,0,0

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoGoias, dfDomicilio01Goias, dfDomicilio02Goias, dfPessoa13Goias, dfPessoa11Goias, dfPessoa12Goias,
               dfDomicilioRendaGoias, dfResponsavelRendaGoias]

In [56]:
dfTotalGoias = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalGoias.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,520005005000001,3.30,1485.31,927.42,1258.39,124,120,1,40,13,...,191,218,320889,320889,0,67,19,27,1,2
1,520005005000002,3.05,717.21,551.00,775.35,270,156,0,84,32,...,373,432,380552,380552,0,192,12,16,0,2
2,520005005000003,3.28,1096.56,637.88,973.88,464,458,3,164,40,...,717,804,819037,819037,0,282,61,76,3,4
3,520005005000004,3.51,1222.68,667.09,984.76,246,246,0,75,15,...,423,440,475638,475638,0,142,41,47,1,3
4,520005005000005,2.76,831.73,529.98,904.55,92,88,0,2,20,...,142,111,119105,119105,0,52,13,9,0,0

In [58]:
dfTotalGoias.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9434 entries, 0 to 9433
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            9434 non-null   int64
 1   MediaMoradorDomicilio                                9428 non-null   float64
 2   RendaMediaDomicilio                                  9428 non-null   float64
 3   RendaMediaPerCapitaGeral                             9434 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     9432 non-null   float64
 5   nAbsDomicilios                                       9434 non-null   int64
 6   nAbsDomiciliosCasa                                   9434 non-null   object
 7   nAbsDomiciliosApto                                   9434 non-null   object
 8   nAbsImoveisAlugados                                  9434 non-null   object
 9   nAbs1PessoasDomicilio                                9434 non-null   object
 10  nAbs1PessoasDomicilio                                9434 non-null   object
 11  nAbs2PessoasDomicilio                                9434 non-null   object
 12  nAbs3PessoasDomicilio                                9434 non-null   object
 13  nAbs4PessoasDomicilio                                9434 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          9434 non-null   object
 15  nAbsHabitantes                                       9434 non-null   int64
 16  nAbsMoradoresCasa                                    9434 non-null   int64
 17  nAbsMoradoresApto                                    9434 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         9434 non-null   int64
 19  nAbsConjuges                                         9434 non-null   int64
 20  nAbsHomensResidentes                                 9434 non-null   int64
 21  nAbsMulheresResidentes                               9434 non-null   int64
 22  TotalRendNomMensalDomParticulares                    9434 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   9434 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  9434 non-null   int64
 25  nAbsPessoasClasseE                                   9434 non-null   int64
 26  nAbsPessoasClasseD                                   9434 non-null   int64
 27  nAbsPessoasClasseC                                   9434 non-null   int64
 28  nAbsPessoasClasseB                                   9434 non-null   int64
 29  nAbsPessoasClasseA                                   9434 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 2.2+ MB

In [59]:
dfTotalGoias.to_csv('Goias.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio