In [2]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [3]:
dfBasicoMaranhao = pd.read_csv('dataAgrupados/Basico_MA.csv', sep = ';', encoding = 'unicode_escape')

In [4]:
dfBasicoMaranhao = dfBasicoMaranhao[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [5]:
dfBasicoMaranhao = dfBasicoMaranhao.replace('X', 0, regex= True)

In [6]:
dfBasicoMaranhao.head()

         Cod_setor  V003     V005    V009    V011
0  210005505000001  3,55  1128,24   575,2  970,44
1  210005505000002  3,74   1105,1  546,55  941,39
2  210005505000003  3,77      798  430,46  706,31
3  210005505000004  3,66   913,93  482,66  827,96
4  210005505000005  3,85    964,8   497,5  832,44

In [7]:
dfBasicoMaranhao = dfBasicoMaranhao.replace(',', '.', regex= True)

In [8]:
dfBasicoMaranhao = dfBasicoMaranhao.astype('float')

In [9]:
dfBasicoMaranhao.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [10]:
dfDomicilio01Maranhao = pd.read_csv('dataAgrupados/Domicilio01_MA.csv', sep = ';', encoding = 'unicode_escape')

In [11]:
dfDomicilio01Maranhao = dfDomicilio01Maranhao.replace('X', 0, regex= True)

In [12]:
#dfDomicilio01Maranhao = dfDomicilio01Maranhao.astype(int)

In [13]:
dfDomicilio01Maranhao = dfDomicilio01Maranhao[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [14]:
dfDomicilio01Maranhao.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [15]:
dfDomicilio01Maranhao['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Maranhao['nAbs5PessoasDomicilio'] +dfDomicilio01Maranhao['nAbs6PessoasDomicilio'] + dfDomicilio01Maranhao['nAbs7PessoasDomicilio'] + dfDomicilio01Maranhao['nAbs8PessoasDomicilio']
+ dfDomicilio01Maranhao['nAbs9PessoasDomicilio'] + dfDomicilio01Maranhao['nAbs10PessoasDomicilio']

0        43
1        05
2        42
3        23
4        11
       ...
8797     21
8798     10
8799     02
8800    614
8801     10
Length: 8802, dtype: object

In [16]:
dfDomicilio01Maranhao.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [17]:
dfDomicilio02Maranhao = pd.read_csv('dataAgrupados/Domicilio02_MA.csv', sep = ';', encoding = 'unicode_escape')

In [18]:
dfDomicilio02Maranhao = dfDomicilio02Maranhao.replace('X', 0, regex= True)

In [19]:
dfDomicilio02Maranhao = dfDomicilio02Maranhao.astype(int)

In [20]:
dfDomicilio02Maranhao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8802 entries, 0 to 8801
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 9.0 MB

In [21]:
dfDomicilio02Maranhao = dfDomicilio02Maranhao[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [22]:
dfDomicilio02Maranhao.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [23]:
dfDomicilio02Maranhao.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,210005505000001,1087,979,0,288
1,210005505000002,1836,1815,0,334
2,210005505000003,1078,1033,0,207
3,210005505000004,1309,1259,2,262
4,210005505000005,1454,1386,5,342

**Pessoa13** - conferido

In [24]:
dfPessoa13Maranhao = pd.read_csv('dataAgrupados/Pessoa13_MA.csv', sep = ';', encoding = 'unicode_escape')

In [25]:
dfPessoa13Maranhao = dfPessoa13Maranhao[['Cod_setor', 'V001']]

In [26]:
dfPessoa13Maranhao = dfPessoa13Maranhao.replace('X', 0, regex= True)

In [27]:
dfPessoa13Maranhao.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [28]:
dfPessoa13Maranhao.head()

         Cod_setor  nAbsConjuges
0  210005505000001          1087
1  210005505000002          1836
2  210005505000003          1078
3  210005505000004          1309
4  210005505000005          1454

**Pessoa11** - conferido

In [29]:
dfPessoa11Maranhao = pd.read_csv('dataAgrupados/Pessoa11_MA.csv', sep = ';', encoding = 'unicode_escape')

In [30]:
dfPessoa11Maranhao = dfPessoa11Maranhao[['Cod_setor', 'V001']]

In [31]:
dfPessoa11Maranhao = dfPessoa11Maranhao.replace('X', 0, regex= True)

In [32]:
dfPessoa11Maranhao.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [33]:
dfPessoa12Maranhao = pd.read_csv('dataAgrupados/Pessoa12_MA.csv', sep = ';', encoding = 'unicode_escape')

In [34]:
dfPessoa12Maranhao = dfPessoa12Maranhao.replace('X', 0, regex= True)

In [35]:
dfPessoa12Maranhao = dfPessoa12Maranhao[['Cod_setor', 'V001']]

In [36]:
dfPessoa12Maranhao.head()

         Cod_setor  V001
0  210005505000001   555
1  210005505000002   954
2  210005505000003   550
3  210005505000004   685
4  210005505000005   725

In [37]:
dfPessoa12Maranhao.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [38]:
dfPessoa12Maranhao.head()

         Cod_setor  nAbsMulheresResidentes
0  210005505000001                     555
1  210005505000002                     954
2  210005505000003                     550
3  210005505000004                     685
4  210005505000005                     725

**DomicilioRenda** - conferido

In [39]:
dfDomicilioRendaMaranhao = pd.read_csv('dataAgrupados/DomicilioRenda_MA.csv', sep = ';', encoding = 'unicode_escape')

In [40]:
dfDomicilioRendaMaranhao = dfDomicilioRendaMaranhao[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [41]:
dfDomicilioRendaMaranhao = dfDomicilioRendaMaranhao.replace('X', 0, regex= True)

In [42]:
#dfDomicilioRendaMaranhao = dfDomicilioRendaMaranhao.astype(int)

In [43]:
dfDomicilioRendaMaranhao.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [44]:
dfDomicilioRendaMaranhao.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,210005505000001,505401,505101,300
1,210005505000002,808974,806914,2060
2,210005505000003,373636,372436,1200
3,210005505000004,519255,519255,0
4,210005505000005,590635,590635,0

**ResponsavelRenda** - conferido

In [45]:
dfResponsavelRendaMaranhao = pd.read_csv('dataAgrupados/ResponsavelRenda_MA.csv', sep = ';', encoding = 'unicode_escape')

In [46]:
dfResponsavelRendaMaranhao = dfResponsavelRendaMaranhao[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [47]:
dfResponsavelRendaMaranhao = dfResponsavelRendaMaranhao.replace('X', 0, regex= True)

In [48]:
dfResponsavelRendaMaranhao = dfResponsavelRendaMaranhao.astype(int)

In [49]:
dfResponsavelRendaMaranhao['nAbsPessoasClasseE'] = dfResponsavelRendaMaranhao['V001'] +dfResponsavelRendaMaranhao['V002'] + dfResponsavelRendaMaranhao['V003']

In [50]:
dfResponsavelRendaMaranhao['nAbsPessoasClasseD'] = dfResponsavelRendaMaranhao['V004']

In [51]:
dfResponsavelRendaMaranhao['nAbsPessoasClasseC'] = dfResponsavelRendaMaranhao['V005'] +dfResponsavelRendaMaranhao['V006']

In [52]:
dfResponsavelRendaMaranhao['nAbsPessoasClasseB'] = dfResponsavelRendaMaranhao['V007']

In [53]:
dfResponsavelRendaMaranhao['nAbsPessoasClasseA'] = dfResponsavelRendaMaranhao['V008'] +  dfResponsavelRendaMaranhao['V009']

In [54]:
dfResponsavelRendaMaranhao.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [55]:
dfResponsavelRendaMaranhao.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,210005505000001,205,23,44,2,5
1,210005505000002,337,31,64,3,6
2,210005505000003,219,27,17,2,2
3,210005505000004,259,25,33,2,3
4,210005505000005,270,24,29,4,4

**DATAFRAME TOTAL.**

In [56]:
data_frames = [dfBasicoMaranhao, dfDomicilio01Maranhao, dfDomicilio02Maranhao, dfPessoa13Maranhao, dfPessoa11Maranhao, dfPessoa12Maranhao,
               dfDomicilioRendaMaranhao, dfResponsavelRendaMaranhao]

In [57]:
dfTotalMaranhao = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [58]:
dfTotalMaranhao.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,2.100055e+14,3.55,1128.24,575.20,970.44,307,271,0,98,28,...,532,555,505401,505101,300,205,23,44,2,5
1,2.100055e+14,3.74,1105.10,546.55,941.39,492,483,0,93,26,...,882,954,808974,806914,2060,337,31,64,3,6
2,2.100055e+14,3.77,798.00,430.46,706.31,287,270,0,64,19,...,528,550,373636,372436,1200,219,27,17,2,2
3,2.100055e+14,3.66,913.93,482.66,827.96,358,334,1,90,24,...,624,685,519255,519255,0,259,25,33,2,3
4,2.100055e+14,3.85,964.80,497.50,832.44,378,354,1,100,12,...,729,725,590635,590635,0,270,24,29,4,4

In [59]:
dfTotalMaranhao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8802 entries, 0 to 8801
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            8802 non-null   float64
 1   MediaMoradorDomicilio                                8801 non-null   float64
 2   RendaMediaDomicilio                                  8801 non-null   float64
 3   RendaMediaPerCapitaGeral                             8802 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     8787 non-null   float64
 5   nAbsDomicilios                                       8802 non-null   int64
 6   nAbsDomiciliosCasa                                   8802 non-null   object
 7   nAbsDomiciliosApto                                   8802 non-null   object
 8   nAbsImoveisAlugados                                  8802 non-null   object
 9   nAbs1PessoasDomicilio                                8802 non-null   object
 10  nAbs1PessoasDomicilio                                8802 non-null   object
 11  nAbs2PessoasDomicilio                                8802 non-null   object
 12  nAbs3PessoasDomicilio                                8802 non-null   object
 13  nAbs4PessoasDomicilio                                8802 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          8802 non-null   object
 15  nAbsHabitantes                                       8802 non-null   int64
 16  nAbsMoradoresCasa                                    8802 non-null   int64
 17  nAbsMoradoresApto                                    8802 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         8802 non-null   int64
 19  nAbsConjuges                                         8802 non-null   int64
 20  nAbsHomensResidentes                                 8802 non-null   int64
 21  nAbsMulheresResidentes                               8802 non-null   int64
 22  TotalRendNomMensalDomParticulares                    8802 non-null   object
 23  TotalRendimentoNomMensalDomParticularesPermanentes   8802 non-null   object
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  8802 non-null   object
 25  nAbsPessoasClasseE                                   8802 non-null   int64
 26  nAbsPessoasClasseD                                   8802 non-null   int64
 27  nAbsPessoasClasseC                                   8802 non-null   int64
 28  nAbsPessoasClasseB                                   8802 non-null   int64
 29  nAbsPessoasClasseA                                   8802 non-null   int64
dtypes: float64(5), int64(13), object(12)
memory usage: 2.1+ MB

In [60]:
dfTotalMaranhao.to_csv('Maranhao.csv', sep= ';', encoding = 'utf-8')