In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoMatoGrosso = pd.read_csv('dataAgrupados/Basico_MT.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoMatoGrosso = dfBasicoMatoGrosso[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoMatoGrosso = dfBasicoMatoGrosso.replace('X', 0, regex= True)

In [5]:
dfBasicoMatoGrosso.head()

         Cod_setor  V003     V005    V009    V011
0  510010205000001  3,42   740,76   429,2   803,3
1  510010205000002  3,54  1053,74  542,21  907,58
2  510010205000003  2,84   1086,1  599,52  853,59
3  510010205000004  3,42   371,64  223,13  384,71
4  510010205000005  2,67   355,44  218,15  580,83

In [6]:
dfBasicoMatoGrosso = dfBasicoMatoGrosso.replace(',', '.', regex= True)

In [7]:
dfBasicoMatoGrosso = dfBasicoMatoGrosso.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoMatoGrosso.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01MatoGrosso = pd.read_csv('dataAgrupados/Domicilio01_MT.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01MatoGrosso = dfDomicilio01MatoGrosso.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01MatoGrosso = dfDomicilio01MatoGrosso.astype(int)

In [12]:
dfDomicilio01MatoGrosso = dfDomicilio01MatoGrosso[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01MatoGrosso.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01MatoGrosso['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01MatoGrosso['nAbs5PessoasDomicilio'] +dfDomicilio01MatoGrosso['nAbs6PessoasDomicilio'] + dfDomicilio01MatoGrosso['nAbs7PessoasDomicilio'] + dfDomicilio01MatoGrosso['nAbs8PessoasDomicilio']
+ dfDomicilio01MatoGrosso['nAbs9PessoasDomicilio'] + dfDomicilio01MatoGrosso['nAbs10PessoasDomicilio']

0       12
1       10
2       10
3       00
4       00
        ..
5924    02
5925    00
5926    20
5927    00
5928    00
Length: 5929, dtype: object

In [15]:
dfDomicilio01MatoGrosso.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02MatoGrosso = pd.read_csv('dataAgrupados/Domicilio02_MT.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02MatoGrosso = dfDomicilio02MatoGrosso.replace('X', 0, regex= True)

In [18]:
dfDomicilio02MatoGrosso = dfDomicilio02MatoGrosso.astype(int)

In [19]:
dfDomicilio02MatoGrosso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5929 entries, 0 to 5928
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 6.1 MB

In [20]:
dfDomicilio02MatoGrosso = dfDomicilio02MatoGrosso[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02MatoGrosso.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02MatoGrosso.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,510010205000001,987,987,0,72
1,510010205000002,856,856,0,60
2,510010205000003,437,437,0,18
3,510010205000004,171,171,0,0
4,510010205000005,502,501,0,4

**Pessoa13** - conferido

In [23]:
dfPessoa13MatoGrosso = pd.read_csv('dataAgrupados/Pessoa13_MT.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13MatoGrosso = dfPessoa13MatoGrosso[['Cod_setor', 'V001']]

In [25]:
dfPessoa13MatoGrosso = dfPessoa13MatoGrosso.replace('X', 0, regex= True)

In [26]:
dfPessoa13MatoGrosso.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13MatoGrosso.head()

         Cod_setor  nAbsConjuges
0  510010205000001           987
1  510010205000002           856
2  510010205000003           437
3  510010205000004           171
4  510010205000005           502

**Pessoa11** - conferido

In [28]:
dfPessoa11MatoGrosso = pd.read_csv('dataAgrupados/Pessoa11_MT.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11MatoGrosso = dfPessoa11MatoGrosso[['Cod_setor', 'V001']]

In [30]:
dfPessoa11MatoGrosso = dfPessoa11MatoGrosso.replace('X', 0, regex= True)

In [31]:
dfPessoa11MatoGrosso.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12MatoGrosso = pd.read_csv('dataAgrupados/Pessoa12_MT.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12MatoGrosso = dfPessoa12MatoGrosso.replace('X', 0, regex= True)

In [34]:
dfPessoa12MatoGrosso = dfPessoa12MatoGrosso[['Cod_setor', 'V001']]

In [35]:
dfPessoa12MatoGrosso.head()

         Cod_setor  V001
0  510010205000001   485
1  510010205000002   440
2  510010205000003   219
3  510010205000004    82
4  510010205000005   232

In [36]:
dfPessoa12MatoGrosso.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12MatoGrosso.head()

         Cod_setor  nAbsMulheresResidentes
0  510010205000001                     485
1  510010205000002                     440
2  510010205000003                     219
3  510010205000004                      82
4  510010205000005                     232

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaMatoGrosso = pd.read_csv('dataAgrupados/DomicilioRenda_MT.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaMatoGrosso = dfDomicilioRendaMatoGrosso[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaMatoGrosso = dfDomicilioRendaMatoGrosso.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaMatoGrosso = dfDomicilioRendaMatoGrosso.astype(int)

In [42]:
dfDomicilioRendaMatoGrosso.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaMatoGrosso.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,510010205000001,356664,356664,0
1,510010205000002,378461,378461,0
2,510010205000003,229617,229617,0
3,510010205000004,33470,33470,0
4,510010205000005,94676,94676,0

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaMatoGrosso = pd.read_csv('dataAgrupados/ResponsavelRenda_MT.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaMatoGrosso = dfResponsavelRendaMatoGrosso[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaMatoGrosso = dfResponsavelRendaMatoGrosso.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaMatoGrosso = dfResponsavelRendaMatoGrosso.astype(int)

In [48]:
dfResponsavelRendaMatoGrosso['nAbsPessoasClasseE'] = dfResponsavelRendaMatoGrosso['V001'] +dfResponsavelRendaMatoGrosso['V002'] + dfResponsavelRendaMatoGrosso['V003']

In [49]:
dfResponsavelRendaMatoGrosso['nAbsPessoasClasseD'] = dfResponsavelRendaMatoGrosso['V004']

In [50]:
dfResponsavelRendaMatoGrosso['nAbsPessoasClasseC'] = dfResponsavelRendaMatoGrosso['V005'] +dfResponsavelRendaMatoGrosso['V006']

In [51]:
dfResponsavelRendaMatoGrosso['nAbsPessoasClasseB'] = dfResponsavelRendaMatoGrosso['V007']

In [52]:
dfResponsavelRendaMatoGrosso['nAbsPessoasClasseA'] = dfResponsavelRendaMatoGrosso['V008'] +  dfResponsavelRendaMatoGrosso['V009']

In [53]:
dfResponsavelRendaMatoGrosso.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaMatoGrosso.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,510010205000001,217,28,15,0,1
1,510010205000002,159,30,34,3,1
2,510010205000003,114,18,15,1,1
3,510010205000004,41,0,0,0,0
4,510010205000005,99,4,2,0,0

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoMatoGrosso, dfDomicilio01MatoGrosso, dfDomicilio02MatoGrosso, dfPessoa13MatoGrosso, dfPessoa11MatoGrosso, dfPessoa12MatoGrosso,
               dfDomicilioRendaMatoGrosso, dfResponsavelRendaMatoGrosso]

In [56]:
dfTotalMatoGrosso = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalMatoGrosso.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,510010205000001,3.42,740.76,429.20,803.30,289,289,0,23,36,...,502,485,356664,356664,0,217,28,15,0,1
1,510010205000002,3.54,1053.74,542.21,907.58,242,242,0,20,20,...,416,440,378461,378461,0,159,30,34,3,1
2,510010205000003,2.84,1086.10,599.52,853.59,154,154,0,7,40,...,218,219,229617,229617,0,114,18,15,1,1
3,510010205000004,3.42,371.64,223.13,384.71,50,50,0,0,7,...,89,82,33470,33470,0,41,0,0,0,0
4,510010205000005,2.67,355.44,218.15,580.83,188,187,0,1,51,...,270,232,94676,94676,0,99,4,2,0,0

In [58]:
dfTotalMatoGrosso.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5929 entries, 0 to 5928
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            5929 non-null   int64
 1   MediaMoradorDomicilio                                5920 non-null   float64
 2   RendaMediaDomicilio                                  5920 non-null   float64
 3   RendaMediaPerCapitaGeral                             5929 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     5912 non-null   float64
 5   nAbsDomicilios                                       5929 non-null   int64
 6   nAbsDomiciliosCasa                                   5929 non-null   object
 7   nAbsDomiciliosApto                                   5929 non-null   object
 8   nAbsImoveisAlugados                                  5929 non-null   object
 9   nAbs1PessoasDomicilio                                5929 non-null   object
 10  nAbs1PessoasDomicilio                                5929 non-null   object
 11  nAbs2PessoasDomicilio                                5929 non-null   object
 12  nAbs3PessoasDomicilio                                5929 non-null   object
 13  nAbs4PessoasDomicilio                                5929 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          5929 non-null   object
 15  nAbsHabitantes                                       5929 non-null   int64
 16  nAbsMoradoresCasa                                    5929 non-null   int64
 17  nAbsMoradoresApto                                    5929 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         5929 non-null   int64
 19  nAbsConjuges                                         5929 non-null   int64
 20  nAbsHomensResidentes                                 5929 non-null   int64
 21  nAbsMulheresResidentes                               5929 non-null   int64
 22  TotalRendNomMensalDomParticulares                    5929 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   5929 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  5929 non-null   int64
 25  nAbsPessoasClasseE                                   5929 non-null   int64
 26  nAbsPessoasClasseD                                   5929 non-null   int64
 27  nAbsPessoasClasseC                                   5929 non-null   int64
 28  nAbsPessoasClasseB                                   5929 non-null   int64
 29  nAbsPessoasClasseA                                   5929 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 1.4+ MB

In [59]:
dfTotalMatoGrosso.to_csv('MatoGrosso.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio