In [12]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [13]:
dfBasicoMS = pd.read_csv('dataAgrupados/Basico_MS.csv', sep = ';', encoding = 'unicode_escape')

In [14]:
dfBasicoMS = dfBasicoMS[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [15]:
dfBasicoMS = dfBasicoMS.replace('X', 0, regex= True)

In [16]:
dfBasicoMS.head()

         Cod_setor  V003     V005    V009     V011
0  500020305000001  3,35  1651,85  896,79  1318,81
1  500020305000002  3,27  1026,25  678,95  1091,41
2  500020305000003  3,26  1214,91  712,17  1029,38
3  500020305000004  3,08  1587,43  918,97  1314,41
4  500020305000005  3,02  2013,62  1159,2  1641,76

In [17]:
dfBasicoMS = dfBasicoMS.replace(',', '.', regex= True)

In [18]:
dfBasicoMS = dfBasicoMS.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [19]:
dfBasicoMS.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [20]:
dfDomicilio01MS = pd.read_csv('dataAgrupados/Domicilio01_MS.csv', sep = ';', encoding = 'unicode_escape')

In [21]:
dfDomicilio01MS = dfDomicilio01MS.replace('X', 0, regex= True)

In [22]:
#dfDomicilio01MS = dfDomicilio01MS.astype(int)

In [23]:
dfDomicilio01MS = dfDomicilio01MS[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [24]:
dfDomicilio01MS.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [25]:
dfDomicilio01MS['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01MS['nAbs5PessoasDomicilio'] +dfDomicilio01MS['nAbs6PessoasDomicilio'] + dfDomicilio01MS['nAbs7PessoasDomicilio'] + dfDomicilio01MS['nAbs8PessoasDomicilio']
+ dfDomicilio01MS['nAbs9PessoasDomicilio'] + dfDomicilio01MS['nAbs10PessoasDomicilio']

0       00
1       01
2       11
3       01
4       00
        ..
4202    00
4203    00
4204    10
4205    10
4206    00
Length: 4207, dtype: object

In [26]:
dfDomicilio01MS.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [27]:
dfDomicilio02MS = pd.read_csv('dataAgrupados/Domicilio02_MS.csv', sep = ';', encoding = 'unicode_escape')

In [28]:
dfDomicilio02MS = dfDomicilio02MS.replace('X', 0, regex= True)

In [29]:
dfDomicilio02MS = dfDomicilio02MS.astype(int)

In [30]:
dfDomicilio02MS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4207 entries, 0 to 4206
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 4.3 MB

In [31]:
dfDomicilio02MS = dfDomicilio02MS[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [32]:
dfDomicilio02MS.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [33]:
dfDomicilio02MS.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,500020305000001,757,737,0,205
1,500020305000002,548,539,0,129
2,500020305000003,587,579,0,188
3,500020305000004,536,536,0,95
4,500020305000005,689,687,0,194

**Pessoa13** - conferido

In [34]:
dfPessoa13MS = pd.read_csv('dataAgrupados/Pessoa13_MS.csv', sep = ';', encoding = 'unicode_escape')

In [35]:
dfPessoa13MS = dfPessoa13MS[['Cod_setor', 'V001']]

In [36]:
dfPessoa13MS = dfPessoa13MS.replace('X', 0, regex= True)

In [37]:
dfPessoa13MS.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [38]:
dfPessoa13MS.head()

         Cod_setor  nAbsConjuges
0  500020305000001           757
1  500020305000002           548
2  500020305000003           587
3  500020305000004           536
4  500020305000005           689

**Pessoa11** - conferido

In [39]:
dfPessoa11MS = pd.read_csv('dataAgrupados/Pessoa11_MS.csv', sep = ';', encoding = 'unicode_escape')

In [40]:
dfPessoa11MS = dfPessoa11MS[['Cod_setor', 'V001']]

In [41]:
dfPessoa11MS = dfPessoa11MS.replace('X', 0, regex= True)

In [42]:
dfPessoa11MS.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [43]:
dfPessoa12MS = pd.read_csv('dataAgrupados/Pessoa12_MS.csv', sep = ';', encoding = 'unicode_escape')

In [44]:
dfPessoa12MS = dfPessoa12MS.replace('X', 0, regex= True)

In [45]:
dfPessoa12MS = dfPessoa12MS[['Cod_setor', 'V001']]

In [46]:
dfPessoa12MS.head()

         Cod_setor  V001
0  500020305000001   365
1  500020305000002   268
2  500020305000003   301
3  500020305000004   280
4  500020305000005   347

In [47]:
dfPessoa12MS.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [48]:
dfPessoa12MS.head()

         Cod_setor  nAbsMulheresResidentes
0  500020305000001                     365
1  500020305000002                     268
2  500020305000003                     301
3  500020305000004                     280
4  500020305000005                     347

**DomicilioRenda** - conferido

In [49]:
dfDomicilioRendaMS = pd.read_csv('dataAgrupados/DomicilioRenda_MS.csv', sep = ';', encoding = 'unicode_escape')

In [50]:
dfDomicilioRendaMS = dfDomicilioRendaMS[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [51]:
dfDomicilioRendaMS = dfDomicilioRendaMS.replace('X', 0, regex= True)

In [52]:
dfDomicilioRendaMS = dfDomicilioRendaMS.astype(int)

In [53]:
dfDomicilioRendaMS.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [54]:
dfDomicilioRendaMS.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,500020305000001,560506,556186,4320
1,500020305000002,285784,285272,512
2,500020305000003,348961,346461,2500
3,500020305000004,433756,433756,0
4,500020305000005,705955,705955,0

**ResponsavelRenda** - conferido

In [55]:
dfResponsavelRendaMS = pd.read_csv('dataAgrupados/ResponsavelRenda_MS.csv', sep = ';', encoding = 'unicode_escape')

In [56]:
dfResponsavelRendaMS = dfResponsavelRendaMS[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [57]:
dfResponsavelRendaMS = dfResponsavelRendaMS.replace('X', 0, regex= True)

In [58]:
dfResponsavelRendaMS = dfResponsavelRendaMS.astype(int)

In [60]:
dfResponsavelRendaMS['nAbsPessoasClasseE'] = dfResponsavelRendaMS['V001'] +dfResponsavelRendaMS['V002'] + dfResponsavelRendaMS['V003']

In [61]:
dfResponsavelRendaMS['nAbsPessoasClasseD'] = dfResponsavelRendaMS['V004']

In [62]:
dfResponsavelRendaMS['nAbsPessoasClasseC'] = dfResponsavelRendaMS['V005'] +dfResponsavelRendaMS['V006']

In [63]:
dfResponsavelRendaMS['nAbsPessoasClasseB'] = dfResponsavelRendaMS['V007']

In [64]:
dfResponsavelRendaMS['nAbsPessoasClasseA'] = dfResponsavelRendaMS['V008'] +  dfResponsavelRendaMS['V009']

In [65]:
dfResponsavelRendaMS.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [66]:
dfResponsavelRendaMS.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,500020305000001,108,38,58,2,5
1,500020305000002,107,11,32,0,1
2,500020305000003,116,22,26,1,3
3,500020305000004,83,29,43,3,2
4,500020305000005,102,30,68,3,7

**DATAFRAME TOTAL.**

In [67]:
data_frames = [dfBasicoMS, dfDomicilio01MS, dfDomicilio02MS, dfPessoa13MS, dfPessoa11MS, dfPessoa12MS,
               dfDomicilioRendaMS, dfResponsavelRendaMS]

In [68]:
dfTotalMS = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [69]:
dfTotalMS.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,500020305000001,3.35,1651.85,896.79,1318.81,230,220,0,64,24,...,392,365,560506,556186,4320,108,38,58,2,5
1,500020305000002,3.27,1026.25,678.95,1091.41,169,165,0,42,20,...,280,268,285784,285272,512,107,11,32,0,1
2,500020305000003,3.26,1214.91,712.17,1029.38,182,175,0,54,25,...,286,301,348961,346461,2500,116,22,26,1,3
3,500020305000004,3.08,1587.43,918.97,1314.41,174,174,0,39,28,...,256,280,433756,433756,0,83,29,43,3,2
4,500020305000005,3.02,2013.62,1159.20,1641.76,228,226,0,73,28,...,342,347,705955,705955,0,102,30,68,3,7

In [70]:
dfTotalMS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4207 entries, 0 to 4206
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            4207 non-null   int64
 1   MediaMoradorDomicilio                                4193 non-null   float64
 2   RendaMediaDomicilio                                  4193 non-null   float64
 3   RendaMediaPerCapitaGeral                             4207 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     4203 non-null   float64
 5   nAbsDomicilios                                       4207 non-null   int64
 6   nAbsDomiciliosCasa                                   4207 non-null   object
 7   nAbsDomiciliosApto                                   4207 non-null   object
 8   nAbsImoveisAlugados                                  4207 non-null   object
 9   nAbs1PessoasDomicilio                                4207 non-null   object
 10  nAbs1PessoasDomicilio                                4207 non-null   object
 11  nAbs2PessoasDomicilio                                4207 non-null   object
 12  nAbs3PessoasDomicilio                                4207 non-null   object
 13  nAbs4PessoasDomicilio                                4207 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          4207 non-null   object
 15  nAbsHabitantes                                       4207 non-null   int64
 16  nAbsMoradoresCasa                                    4207 non-null   int64
 17  nAbsMoradoresApto                                    4207 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         4207 non-null   int64
 19  nAbsConjuges                                         4207 non-null   int64
 20  nAbsHomensResidentes                                 4207 non-null   int64
 21  nAbsMulheresResidentes                               4207 non-null   int64
 22  TotalRendNomMensalDomParticulares                    4207 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   4207 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  4207 non-null   int64
 25  nAbsPessoasClasseE                                   4207 non-null   int64
 26  nAbsPessoasClasseD                                   4207 non-null   int64
 27  nAbsPessoasClasseC                                   4207 non-null   int64
 28  nAbsPessoasClasseB                                   4207 non-null   int64
 29  nAbsPessoasClasseA                                   4207 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 1018.9+ KB

In [72]:
dfTotalMS.to_csv('MatoGrossoDoSul.csv', sep= ';', encoding = 'utf-8')