In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoMinasGerais = pd.read_csv('dataAgrupados/Basico_MG.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoMinasGerais = dfBasicoMinasGerais[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoMinasGerais = dfBasicoMinasGerais.replace('X', 0, regex= True)

In [5]:
dfBasicoMinasGerais.head()

         Cod_setor  V003     V005    V009    V011
0  310010405000001  2,78   751,41  477,66  689,45
1  310010405000002  2,82   980,65  664,95  901,74
2  310010405000003   2,8  1064,33   667,3  871,63
3  310010405000004  2,85   643,75   413,2  628,03
4  310010405000005  2,85   801,34  501,91  804,52

In [6]:
dfBasicoMinasGerais = dfBasicoMinasGerais.replace(',', '.', regex= True)

In [7]:
dfBasicoMinasGerais = dfBasicoMinasGerais.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoMinasGerais.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01MinasGerais = pd.read_csv('dataAgrupados/Domicilio01_MG.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01MinasGerais = dfDomicilio01MinasGerais.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01MinasGerais = dfDomicilio01MinasGerais.astype(int)

In [12]:
dfDomicilio01MinasGerais = dfDomicilio01MinasGerais[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01MinasGerais.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01MinasGerais['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01MinasGerais['nAbs5PessoasDomicilio'] +dfDomicilio01MinasGerais['nAbs6PessoasDomicilio'] + dfDomicilio01MinasGerais['nAbs7PessoasDomicilio'] + dfDomicilio01MinasGerais['nAbs8PessoasDomicilio']
+ dfDomicilio01MinasGerais['nAbs9PessoasDomicilio'] + dfDomicilio01MinasGerais['nAbs10PessoasDomicilio']

0        00
1        00
2        00
3        00
4        00
         ..
32559    21
32560    10
32561    40
32562    00
32563    00
Length: 32564, dtype: object

In [15]:
dfDomicilio01MinasGerais.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02MinasGerais = pd.read_csv('dataAgrupados/Domicilio02_MG.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02MinasGerais = dfDomicilio02MinasGerais.replace('X', 0, regex= True)

In [18]:
dfDomicilio02MinasGerais = dfDomicilio02MinasGerais.astype(int)

In [19]:
dfDomicilio02MinasGerais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32564 entries, 0 to 32563
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 33.3 MB

In [20]:
dfDomicilio02MinasGerais = dfDomicilio02MinasGerais[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02MinasGerais.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02MinasGerais.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,310010405000001,851,851,0,160
1,310010405000002,738,724,14,152
2,310010405000003,814,778,19,171
3,310010405000004,896,859,24,227
4,310010405000005,890,882,3,258

**Pessoa13** - conferido

In [23]:
dfPessoa13MinasGerais = pd.read_csv('dataAgrupados/Pessoa13_MG.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13MinasGerais = dfPessoa13MinasGerais[['Cod_setor', 'V001']]

In [25]:
dfPessoa13MinasGerais = dfPessoa13MinasGerais.replace('X', 0, regex= True)

In [26]:
dfPessoa13MinasGerais.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13MinasGerais.head()

         Cod_setor  nAbsConjuges
0  310010405000001           851
1  310010405000002           738
2  310010405000003           814
3  310010405000004           896
4  310010405000005           890

**Pessoa11** - conferido

In [28]:
dfPessoa11MinasGerais = pd.read_csv('dataAgrupados/Pessoa11_MG.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11MinasGerais = dfPessoa11MinasGerais[['Cod_setor', 'V001']]

In [30]:
dfPessoa11MinasGerais = dfPessoa11MinasGerais.replace('X', 0, regex= True)

In [31]:
dfPessoa11MinasGerais.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12MinasGerais = pd.read_csv('dataAgrupados/Pessoa12_MG.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12MinasGerais = dfPessoa12MinasGerais.replace('X', 0, regex= True)

In [34]:
dfPessoa12MinasGerais = dfPessoa12MinasGerais[['Cod_setor', 'V001']]

In [35]:
dfPessoa12MinasGerais.head()

         Cod_setor  V001
0  310010405000001   435
1  310010405000002   391
2  310010405000003   417
3  310010405000004   456
4  310010405000005   458

In [36]:
dfPessoa12MinasGerais.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12MinasGerais.head()

         Cod_setor  nAbsMulheresResidentes
0  310010405000001                     435
1  310010405000002                     391
2  310010405000003                     417
3  310010405000004                     456
4  310010405000005                     458

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaMinasGerais = pd.read_csv('dataAgrupados/DomicilioRenda_MG.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaMinasGerais = dfDomicilioRendaMinasGerais[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaMinasGerais = dfDomicilioRendaMinasGerais.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaMinasGerais = dfDomicilioRendaMinasGerais.astype(int)

In [42]:
dfDomicilioRendaMinasGerais.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaMinasGerais.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,310010405000001,358401,358401,0
1,310010405000002,435032,435032,0
2,310010405000003,486861,484441,2420
3,310010405000004,315271,310481,4790
4,310010405000005,386976,384966,2010

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaMinasGerais = pd.read_csv('dataAgrupados/ResponsavelRenda_MG.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaMinasGerais = dfResponsavelRendaMinasGerais[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaMinasGerais = dfResponsavelRendaMinasGerais.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaMinasGerais = dfResponsavelRendaMinasGerais.astype(int)

In [48]:
dfResponsavelRendaMinasGerais['nAbsPessoasClasseE'] = dfResponsavelRendaMinasGerais['V001'] +dfResponsavelRendaMinasGerais['V002'] + dfResponsavelRendaMinasGerais['V003']

In [49]:
dfResponsavelRendaMinasGerais['nAbsPessoasClasseD'] = dfResponsavelRendaMinasGerais['V004']

In [50]:
dfResponsavelRendaMinasGerais['nAbsPessoasClasseC'] = dfResponsavelRendaMinasGerais['V005'] +dfResponsavelRendaMinasGerais['V006']

In [51]:
dfResponsavelRendaMinasGerais['nAbsPessoasClasseB'] = dfResponsavelRendaMinasGerais['V007']

In [52]:
dfResponsavelRendaMinasGerais['nAbsPessoasClasseA'] = dfResponsavelRendaMinasGerais['V008'] +  dfResponsavelRendaMinasGerais['V009']

In [53]:
dfResponsavelRendaMinasGerais.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaMinasGerais.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,310010405000001,251,17,19,0,0
1,310010405000002,198,25,22,1,3
2,310010405000003,222,30,24,2,2
3,310010405000004,282,12,2,0,1
4,310010405000005,214,29,22,0,3

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoMinasGerais, dfDomicilio01MinasGerais, dfDomicilio02MinasGerais, dfPessoa13MinasGerais, dfPessoa11MinasGerais, dfPessoa12MinasGerais,
               dfDomicilioRendaMinasGerais, dfResponsavelRendaMinasGerais]

In [56]:
dfTotalMinasGerais = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalMinasGerais.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,310010405000001,2.78,751.41,477.66,689.45,306,306,0,62,53,...,416,435,358401,358401,0,251,17,19,0,0
1,310010405000002,2.82,980.65,664.95,901.74,262,257,5,51,49,...,347,391,435032,435032,0,198,25,22,1,3
2,310010405000003,2.80,1064.33,667.30,871.63,299,278,7,64,53,...,397,417,486861,484441,2420,222,30,24,2,2
3,310010405000004,2.85,643.75,413.20,628.03,314,304,6,79,60,...,440,456,315271,310481,4790,282,12,2,0,1
4,310010405000005,2.85,801.34,501.91,804.52,312,309,1,92,58,...,432,458,386976,384966,2010,214,29,22,0,3

In [58]:
dfTotalMinasGerais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32564 entries, 0 to 32563
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            32564 non-null  int64
 1   MediaMoradorDomicilio                                32441 non-null  float64
 2   RendaMediaDomicilio                                  32441 non-null  float64
 3   RendaMediaPerCapitaGeral                             32564 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     32545 non-null  float64
 5   nAbsDomicilios                                       32564 non-null  int64
 6   nAbsDomiciliosCasa                                   32564 non-null  object
 7   nAbsDomiciliosApto                                   32564 non-null  object
 8   nAbsImoveisAlugados                                  32564 non-null  object
 9   nAbs1PessoasDomicilio                                32564 non-null  object
 10  nAbs1PessoasDomicilio                                32564 non-null  object
 11  nAbs2PessoasDomicilio                                32564 non-null  object
 12  nAbs3PessoasDomicilio                                32564 non-null  object
 13  nAbs4PessoasDomicilio                                32564 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          32564 non-null  object
 15  nAbsHabitantes                                       32564 non-null  int64
 16  nAbsMoradoresCasa                                    32564 non-null  int64
 17  nAbsMoradoresApto                                    32564 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         32564 non-null  int64
 19  nAbsConjuges                                         32564 non-null  int64
 20  nAbsHomensResidentes                                 32564 non-null  int64
 21  nAbsMulheresResidentes                               32564 non-null  int64
 22  TotalRendNomMensalDomParticulares                    32564 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   32564 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  32564 non-null  int64
 25  nAbsPessoasClasseE                                   32564 non-null  int64
 26  nAbsPessoasClasseD                                   32564 non-null  int64
 27  nAbsPessoasClasseC                                   32564 non-null  int64
 28  nAbsPessoasClasseB                                   32564 non-null  int64
 29  nAbsPessoasClasseA                                   32564 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 7.7+ MB

In [59]:
dfTotalMinasGerais.to_csv('MinasGerais.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio