In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoPara = pd.read_csv('dataAgrupados/Basico_PA.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoPara = dfBasicoPara[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoPara = dfBasicoPara.replace('X', 0, regex= True)

In [5]:
dfBasicoPara.head()

         Cod_setor  V003     V005    V009     V011
0  150010705000001  3,89  1439,33  765,92  1251,81
1  150010705000002  4,05  1158,27  636,93  1052,81
2  150010705000003  4,19   643,34  408,16   762,08
3  150010705000004  4,47   970,28  483,91   824,84
4  150010705000005  4,32  1227,67  608,37   993,29

In [6]:
dfBasicoPara = dfBasicoPara.replace(',', '.', regex= True)

In [7]:
dfBasicoPara = dfBasicoPara.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoPara.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01Para = pd.read_csv('dataAgrupados/Domicilio01_PA.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01Para = dfDomicilio01Para.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01Para = dfDomicilio01Para.astype(int)

In [12]:
dfDomicilio01Para = dfDomicilio01Para[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01Para.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01Para['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Para['nAbs5PessoasDomicilio'] +dfDomicilio01Para['nAbs6PessoasDomicilio'] + dfDomicilio01Para['nAbs7PessoasDomicilio'] + dfDomicilio01Para['nAbs8PessoasDomicilio']
+ dfDomicilio01Para['nAbs9PessoasDomicilio'] + dfDomicilio01Para['nAbs10PessoasDomicilio']

0         54
1         36
2        910
3       1010
4         68
        ...
8764      11
8765      23
8766      01
8767      33
8768      20
Length: 8769, dtype: object

In [15]:
dfDomicilio01Para.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02Para = pd.read_csv('dataAgrupados/Domicilio02_PA.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02Para = dfDomicilio02Para.replace('X', 0, regex= True)

In [18]:
dfDomicilio02Para = dfDomicilio02Para.astype(int)

In [19]:
dfDomicilio02Para.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8769 entries, 0 to 8768
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 9.0 MB

In [20]:
dfDomicilio02Para = dfDomicilio02Para[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02Para.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02Para.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,150010705000001,1368,1100,133,190
1,150010705000002,989,981,6,82
2,150010705000003,1654,1553,2,141
3,150010705000004,1510,1418,19,147
4,150010705000005,1101,1086,4,100

**Pessoa13** - conferido

In [23]:
dfPessoa13Para = pd.read_csv('dataAgrupados/Pessoa13_PA.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13Para = dfPessoa13Para[['Cod_setor', 'V001']]

In [25]:
dfPessoa13Para = dfPessoa13Para.replace('X', 0, regex= True)

In [26]:
dfPessoa13Para.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13Para.head()

         Cod_setor  nAbsConjuges
0  150010705000001          1368
1  150010705000002           989
2  150010705000003          1654
3  150010705000004          1510
4  150010705000005          1101

**Pessoa11** - conferido

In [28]:
dfPessoa11Para = pd.read_csv('dataAgrupados/Pessoa11_PA.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11Para = dfPessoa11Para[['Cod_setor', 'V001']]

In [30]:
dfPessoa11Para = dfPessoa11Para.replace('X', 0, regex= True)

In [31]:
dfPessoa11Para.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12Para = pd.read_csv('dataAgrupados/Pessoa12_PA.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12Para = dfPessoa12Para.replace('X', 0, regex= True)

In [34]:
dfPessoa12Para = dfPessoa12Para[['Cod_setor', 'V001']]

In [35]:
dfPessoa12Para.head()

         Cod_setor  V001
0  150010705000001   705
1  150010705000002   523
2  150010705000003   854
3  150010705000004   763
4  150010705000005   551

In [36]:
dfPessoa12Para.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12Para.head()

         Cod_setor  nAbsMulheresResidentes
0  150010705000001                     705
1  150010705000002                     523
2  150010705000003                     854
3  150010705000004                     763
4  150010705000005                     551

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaPara = pd.read_csv('dataAgrupados/DomicilioRenda_PA.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaPara = dfDomicilioRendaPara[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaPara = dfDomicilioRendaPara.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaPara = dfDomicilioRendaPara.astype(int)

In [42]:
dfDomicilioRendaPara.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaPara.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,150010705000001,912936,912936,0
1,150010705000002,536221,533921,2300
2,150010705000003,566476,566476,0
3,150010705000004,616374,616374,0
4,150010705000005,594983,594983,0

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaPara = pd.read_csv('dataAgrupados/ResponsavelRenda_PA.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaPara = dfResponsavelRendaPara[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaPara = dfResponsavelRendaPara.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaPara = dfResponsavelRendaPara.astype(int)

In [48]:
dfResponsavelRendaPara['nAbsPessoasClasseE'] = dfResponsavelRendaPara['V001'] +dfResponsavelRendaPara['V002'] + dfResponsavelRendaPara['V003']

In [49]:
dfResponsavelRendaPara['nAbsPessoasClasseD'] = dfResponsavelRendaPara['V004']

In [50]:
dfResponsavelRendaPara['nAbsPessoasClasseC'] = dfResponsavelRendaPara['V005'] +dfResponsavelRendaPara['V006']

In [51]:
dfResponsavelRendaPara['nAbsPessoasClasseB'] = dfResponsavelRendaPara['V007']

In [52]:
dfResponsavelRendaPara['nAbsPessoasClasseA'] = dfResponsavelRendaPara['V008'] +  dfResponsavelRendaPara['V009']

In [53]:
dfResponsavelRendaPara.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaPara.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,150010705000001,190,45,87,2,5
1,150010705000002,152,31,40,4,1
2,150010705000003,305,26,18,2,0
3,150010705000004,233,26,39,5,2
4,150010705000005,158,34,49,1,2

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoPara, dfDomicilio01Para, dfDomicilio02Para, dfPessoa13Para, dfPessoa11Para, dfPessoa12Para,
               dfDomicilioRendaPara, dfResponsavelRendaPara]

In [56]:
dfTotalPara = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalPara.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,150010705000001,3.89,1439.33,765.92,1251.81,352,268,36,58,23,...,663,705,912936,912936,0,190,45,87,2,5
1,150010705000002,4.05,1158.27,636.93,1052.81,246,241,3,25,19,...,466,523,536221,533921,2300,152,31,40,4,1
2,150010705000003,4.19,643.34,408.16,762.08,395,356,1,45,28,...,800,854,566476,566476,0,305,26,18,2,0
3,150010705000004,4.47,970.28,483.91,824.84,338,309,6,45,21,...,747,763,616374,616374,0,233,26,39,5,2
4,150010705000005,4.32,1227.67,608.37,993.29,255,250,1,28,24,...,550,551,594983,594983,0,158,34,49,1,2

In [58]:
dfTotalPara.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8769 entries, 0 to 8768
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            8769 non-null   int64
 1   MediaMoradorDomicilio                                8763 non-null   float64
 2   RendaMediaDomicilio                                  8763 non-null   float64
 3   RendaMediaPerCapitaGeral                             8769 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     8753 non-null   float64
 5   nAbsDomicilios                                       8769 non-null   int64
 6   nAbsDomiciliosCasa                                   8769 non-null   object
 7   nAbsDomiciliosApto                                   8769 non-null   object
 8   nAbsImoveisAlugados                                  8769 non-null   object
 9   nAbs1PessoasDomicilio                                8769 non-null   object
 10  nAbs1PessoasDomicilio                                8769 non-null   object
 11  nAbs2PessoasDomicilio                                8769 non-null   object
 12  nAbs3PessoasDomicilio                                8769 non-null   object
 13  nAbs4PessoasDomicilio                                8769 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          8769 non-null   object
 15  nAbsHabitantes                                       8769 non-null   int64
 16  nAbsMoradoresCasa                                    8769 non-null   int64
 17  nAbsMoradoresApto                                    8769 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         8769 non-null   int64
 19  nAbsConjuges                                         8769 non-null   int64
 20  nAbsHomensResidentes                                 8769 non-null   int64
 21  nAbsMulheresResidentes                               8769 non-null   int64
 22  TotalRendNomMensalDomParticulares                    8769 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   8769 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  8769 non-null   int64
 25  nAbsPessoasClasseE                                   8769 non-null   int64
 26  nAbsPessoasClasseD                                   8769 non-null   int64
 27  nAbsPessoasClasseC                                   8769 non-null   int64
 28  nAbsPessoasClasseB                                   8769 non-null   int64
 29  nAbsPessoasClasseA                                   8769 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 2.1+ MB

In [59]:
dfTotalPara.to_csv('Para.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio