In [127]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [128]:
dfBasicoParana = pd.read_csv('dataAgrupados/Basico_PR.csv', sep = ';', encoding = 'unicode_escape')

In [129]:
dfBasicoParana = dfBasicoParana[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [130]:
dfBasicoParana = dfBasicoParana.replace('X', 0, regex= True)

In [131]:
dfBasicoParana.head()

         Cod_setor  V003     V005    V009     V011
0  410010305000001  2,83  1039,68  719,46   892,37
1  410010305000002  2,92  1207,89  781,19  1112,13
2  410010305000003  3,09   639,27  419,55   688,48
3  410010305000004   3,1   603,05  404,48   573,14
4  410010305000005  3,19   750,98  489,13   634,51

In [132]:
dfBasicoParana = dfBasicoParana.replace(',', '.', regex= True)

In [133]:
dfBasicoParana = dfBasicoParana.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [134]:
dfBasicoParana.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [135]:
dfDomicilio01Parana = pd.read_csv('dataAgrupados/Domicilio01_PR.csv', sep = ';', encoding = 'unicode_escape')

In [136]:
dfDomicilio01Parana = dfDomicilio01Parana.replace('X', 0, regex= True)

In [137]:
#dfDomicilio01Parana = dfDomicilio01Parana.astype(int)

In [138]:
dfDomicilio01Parana = dfDomicilio01Parana[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [139]:
dfDomicilio01Parana.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [140]:
dfDomicilio01Parana['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Parana['nAbs5PessoasDomicilio'] +dfDomicilio01Parana['nAbs6PessoasDomicilio'] + dfDomicilio01Parana['nAbs7PessoasDomicilio'] + dfDomicilio01Parana['nAbs8PessoasDomicilio']
+ dfDomicilio01Parana['nAbs9PessoasDomicilio'] + dfDomicilio01Parana['nAbs10PessoasDomicilio']

0        00
1        00
2        01
3        10
4        00
         ..
17460    00
17461    10
17462    00
17463    00
17464    00
Length: 17465, dtype: object

In [141]:
dfDomicilio01Parana.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [142]:
dfDomicilio02Parana = pd.read_csv('dataAgrupados/Domicilio02_PR.csv', sep = ';', encoding = 'unicode_escape')

In [143]:
dfDomicilio02Parana = dfDomicilio02Parana.replace('X', 0, regex= True)

In [144]:
dfDomicilio02Parana = dfDomicilio02Parana.astype(int)

In [145]:
dfDomicilio02Parana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17465 entries, 0 to 17464
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 17.9 MB

In [146]:
dfDomicilio02Parana = dfDomicilio02Parana[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [147]:
dfDomicilio02Parana.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [148]:
dfDomicilio02Parana.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,410010305000001,845,844,0,184
1,410010305000002,881,881,0,156
2,410010305000003,1228,1228,0,167
3,410010305000004,937,898,0,119
4,410010305000005,1027,1021,0,168

**Pessoa13** - conferido

In [149]:
dfPessoa13Parana = pd.read_csv('dataAgrupados/Pessoa13_PR.csv', sep = ';', encoding = 'unicode_escape')

In [150]:
dfPessoa13Parana = dfPessoa13Parana[['Cod_setor', 'V001']]

In [151]:
dfPessoa13Parana = dfPessoa13Parana.replace('X', 0, regex= True)

In [152]:
dfPessoa13Parana.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [95]:
dfPessoa13Parana.head()

         Cod_setor  nAbsConjuges
0  410010305000001           845
1  410010305000002           881
2  410010305000003          1228
3  410010305000004           937
4  410010305000005          1027

**Pessoa11** - conferido

In [96]:
dfPessoa11Parana = pd.read_csv('dataAgrupados/Pessoa11_PR.csv', sep = ';', encoding = 'unicode_escape')

In [97]:
dfPessoa11Parana = dfPessoa11Parana[['Cod_setor', 'V001']]

In [98]:
dfPessoa11Parana = dfPessoa11Parana.replace('X', 0, regex= True)

In [99]:
dfPessoa11Parana.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [100]:
dfPessoa12Parana = pd.read_csv('dataAgrupados/Pessoa12_PR.csv', sep = ';', encoding = 'unicode_escape')

In [101]:
dfPessoa12Parana = dfPessoa12Parana.replace('X', 0, regex= True)

In [102]:
dfPessoa12Parana = dfPessoa12Parana[['Cod_setor', 'V001']]

In [103]:
dfPessoa12Parana.head()

         Cod_setor  V001
0  410010305000001   435
1  410010305000002   463
2  410010305000003   616
3  410010305000004   453
4  410010305000005   517

In [104]:
dfPessoa12Parana.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [105]:
dfPessoa12Parana.head()

         Cod_setor  nAbsMulheresResidentes
0  410010305000001                     435
1  410010305000002                     463
2  410010305000003                     616
3  410010305000004                     453
4  410010305000005                     517

**DomicilioRenda** - conferido

In [106]:
dfDomicilioRendaParana = pd.read_csv('dataAgrupados/DomicilioRenda_PR.csv', sep = ';', encoding = 'unicode_escape')

In [107]:
dfDomicilioRendaParana = dfDomicilioRendaParana[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [108]:
dfDomicilioRendaParana = dfDomicilioRendaParana.replace('X', 0, regex= True)

In [109]:
dfDomicilioRendaParana = dfDomicilioRendaParana.astype(int)

In [110]:
dfDomicilioRendaParana.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [111]:
dfDomicilioRendaParana.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,410010305000001,529942,529432,510
1,410010305000002,611161,611161,0
2,410010305000003,446825,446825,0
3,410010305000004,313176,312516,660
4,410010305000005,433367,431706,1661

**ResponsavelRenda** - conferido

In [112]:
dfResponsavelRendaParana = pd.read_csv('dataAgrupados/ResponsavelRenda_PR.csv', sep = ';', encoding = 'unicode_escape')

In [113]:
dfResponsavelRendaParana = dfResponsavelRendaParana[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [114]:
dfResponsavelRendaParana = dfResponsavelRendaParana.replace('X', 0, regex= True)

In [115]:
dfResponsavelRendaParana = dfResponsavelRendaParana.astype(int)

In [116]:
dfResponsavelRendaParana['nAbsPessoasClasseE'] = dfResponsavelRendaParana['V001'] +dfResponsavelRendaParana['V002'] + dfResponsavelRendaParana['V003']

In [117]:
dfResponsavelRendaParana['nAbsPessoasClasseD'] = dfResponsavelRendaParana['V004']

In [118]:
dfResponsavelRendaParana['nAbsPessoasClasseC'] = dfResponsavelRendaParana['V005'] +dfResponsavelRendaParana['V006']

In [119]:
dfResponsavelRendaParana['nAbsPessoasClasseB'] = dfResponsavelRendaParana['V007']

In [120]:
dfResponsavelRendaParana['nAbsPessoasClasseA'] = dfResponsavelRendaParana['V008'] +  dfResponsavelRendaParana['V009']

In [121]:
dfResponsavelRendaParana.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [122]:
dfResponsavelRendaParana.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,410010305000001,226,22,36,1,1
1,410010305000002,200,39,49,4,3
2,410010305000003,280,12,14,1,2
3,410010305000004,249,12,5,0,0
4,410010305000005,273,20,18,0,0

**DATAFRAME TOTAL.**

In [123]:
data_frames = [dfBasicoParana, dfDomicilio01Parana, dfDomicilio02Parana, dfPessoa13Parana, dfPessoa11Parana, dfPessoa12Parana,
               dfDomicilioRendaParana, dfResponsavelRendaParana]

In [124]:
dfTotalParana = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [125]:
dfTotalParana.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,410010305000001,2.83,1039.68,719.46,892.37,299,298,0,65,47,...,410,435,529942,529432,510,226,22,36,1,1
1,410010305000002,2.92,1207.89,781.19,1112.13,302,302,0,55,43,...,418,463,611161,611161,0,200,39,49,4,3
2,410010305000003,3.09,639.27,419.55,688.48,398,398,0,59,55,...,612,616,446825,446825,0,280,12,14,1,2
3,410010305000004,3.10,603.05,404.48,573.14,319,290,0,39,40,...,484,453,313176,312516,660,249,12,5,0,0
4,410010305000005,3.19,750.98,489.13,634.51,322,320,0,53,33,...,510,517,433367,431706,1661,273,20,18,0,0

In [126]:
dfTotalParana.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17465 entries, 0 to 17464
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            17465 non-null  int64
 1   MediaMoradorDomicilio                                17436 non-null  float64
 2   RendaMediaDomicilio                                  17436 non-null  float64
 3   RendaMediaPerCapitaGeral                             17465 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     17461 non-null  float64
 5   nAbsDomicilios                                       17465 non-null  int64
 6   nAbsDomiciliosCasa                                   17465 non-null  object
 7   nAbsDomiciliosApto                                   17465 non-null  object
 8   nAbsImoveisAlugados                                  17465 non-null  object
 9   nAbs1PessoasDomicilio                                17465 non-null  object
 10  nAbs1PessoasDomicilio                                17465 non-null  object
 11  nAbs2PessoasDomicilio                                17465 non-null  object
 12  nAbs3PessoasDomicilio                                17465 non-null  object
 13  nAbs4PessoasDomicilio                                17465 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          17465 non-null  object
 15  nAbsHabitantes                                       17465 non-null  int64
 16  nAbsMoradoresCasa                                    17465 non-null  int64
 17  nAbsMoradoresApto                                    17465 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         17465 non-null  int64
 19  nAbsConjuges                                         17465 non-null  int64
 20  nAbsHomensResidentes                                 17465 non-null  int64
 21  nAbsMulheresResidentes                               17465 non-null  int64
 22  TotalRendNomMensalDomParticulares                    17465 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   17465 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  17465 non-null  int64
 25  nAbsPessoasClasseE                                   17465 non-null  int64
 26  nAbsPessoasClasseD                                   17465 non-null  int64
 27  nAbsPessoasClasseC                                   17465 non-null  int64
 28  nAbsPessoasClasseB                                   17465 non-null  int64
 29  nAbsPessoasClasseA                                   17465 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 4.1+ MB

In [153]:
dfTotalParana.to_csv('Parana.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio