In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoParaiba = pd.read_csv('dataAgrupados/Basico_PB.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoParaiba = dfBasicoParaiba[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoParaiba = dfBasicoParaiba.replace('X', 0, regex= True)

In [5]:
dfBasicoParaiba.head()

         Cod_setor  V003    V005    V009    V011
0  250010605000001  3,52  429,85  246,75     428
1  250010605000002  3,38  691,12  414,29  651,03
2  250010605000003  3,01  683,62  411,84  642,43
3  250010605000004  3,96  313,13  204,14   380,3
4  250010605000005  3,35   437,2  263,71  439,25

In [6]:
dfBasicoParaiba = dfBasicoParaiba.replace(',', '.', regex= True)

In [7]:
dfBasicoParaiba = dfBasicoParaiba.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoParaiba.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01Paraiba = pd.read_csv('dataAgrupados/Domicilio01_PB.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01Paraiba = dfDomicilio01Paraiba.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01Paraiba = dfDomicilio01Paraiba.astype(int)

In [12]:
dfDomicilio01Paraiba = dfDomicilio01Paraiba[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01Paraiba.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01Paraiba['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Paraiba['nAbs5PessoasDomicilio'] +dfDomicilio01Paraiba['nAbs6PessoasDomicilio'] + dfDomicilio01Paraiba['nAbs7PessoasDomicilio'] + dfDomicilio01Paraiba['nAbs8PessoasDomicilio']
+ dfDomicilio01Paraiba['nAbs9PessoasDomicilio'] + dfDomicilio01Paraiba['nAbs10PessoasDomicilio']

0       52
1       12
2       00
3       53
4       30
        ..
5543    00
5544    41
5545    00
5546    10
5547    10
Length: 5548, dtype: object

In [15]:
dfDomicilio01Paraiba.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02Paraiba = pd.read_csv('dataAgrupados/Domicilio02_PB.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02Paraiba = dfDomicilio02Paraiba.replace('X', 0, regex= True)

In [18]:
dfDomicilio02Paraiba = dfDomicilio02Paraiba.astype(int)

In [19]:
dfDomicilio02Paraiba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5548 entries, 0 to 5547
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 5.7 MB

In [20]:
dfDomicilio02Paraiba = dfDomicilio02Paraiba[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02Paraiba.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02Paraiba.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,250010605000001,1528,1526,0,252
1,250010605000002,500,500,0,73
2,250010605000003,889,876,13,129
3,250010605000004,860,860,0,5
4,250010605000005,667,665,2,8

**Pessoa13** - conferido

In [23]:
dfPessoa13Paraiba = pd.read_csv('dataAgrupados/Pessoa13_PB.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13Paraiba = dfPessoa13Paraiba[['Cod_setor', 'V001']]

In [25]:
dfPessoa13Paraiba = dfPessoa13Paraiba.replace('X', 0, regex= True)

In [26]:
dfPessoa13Paraiba.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13Paraiba.head()

         Cod_setor  nAbsConjuges
0  250010605000001          1528
1  250010605000002           500
2  250010605000003           889
3  250010605000004           860
4  250010605000005           667

**Pessoa11** - conferido

In [28]:
dfPessoa11Paraiba = pd.read_csv('dataAgrupados/Pessoa11_PB.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11Paraiba = dfPessoa11Paraiba[['Cod_setor', 'V001']]

In [30]:
dfPessoa11Paraiba = dfPessoa11Paraiba.replace('X', 0, regex= True)

In [31]:
dfPessoa11Paraiba.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12Paraiba = pd.read_csv('dataAgrupados/Pessoa12_PB.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12Paraiba = dfPessoa12Paraiba.replace('X', 0, regex= True)

In [34]:
dfPessoa12Paraiba = dfPessoa12Paraiba[['Cod_setor', 'V001']]

In [35]:
dfPessoa12Paraiba.head()

         Cod_setor  V001
0  250010605000001   758
1  250010605000002   275
2  250010605000003   480
3  250010605000004   407
4  250010605000005   342

In [36]:
dfPessoa12Paraiba.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12Paraiba.head()

         Cod_setor  nAbsMulheresResidentes
0  250010605000001                     758
1  250010605000002                     275
2  250010605000003                     480
3  250010605000004                     407
4  250010605000005                     342

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaParaiba = pd.read_csv('dataAgrupados/DomicilioRenda_PB.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaParaiba = dfDomicilioRendaParaiba[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaParaiba = dfDomicilioRendaParaiba.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaParaiba = dfDomicilioRendaParaiba.astype(int)

In [42]:
dfDomicilioRendaParaiba.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaParaiba.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,250010605000001,304733,304223,510
1,250010605000002,177732,177732,0
2,250010605000003,310317,310317,0
3,250010605000004,141471,141471,0
4,250010605000005,143194,143194,0

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaParaiba = pd.read_csv('dataAgrupados/ResponsavelRenda_PB.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaParaiba = dfResponsavelRendaParaiba[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaParaiba = dfResponsavelRendaParaiba.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaParaiba = dfResponsavelRendaParaiba.astype(int)

In [48]:
dfResponsavelRendaParaiba['nAbsPessoasClasseE'] = dfResponsavelRendaParaiba['V001'] +dfResponsavelRendaParaiba['V002'] + dfResponsavelRendaParaiba['V003']

In [49]:
dfResponsavelRendaParaiba['nAbsPessoasClasseD'] = dfResponsavelRendaParaiba['V004']

In [50]:
dfResponsavelRendaParaiba['nAbsPessoasClasseC'] = dfResponsavelRendaParaiba['V005'] +dfResponsavelRendaParaiba['V006']

In [51]:
dfResponsavelRendaParaiba['nAbsPessoasClasseB'] = dfResponsavelRendaParaiba['V007']

In [52]:
dfResponsavelRendaParaiba['nAbsPessoasClasseA'] = dfResponsavelRendaParaiba['V008'] +  dfResponsavelRendaParaiba['V009']

In [53]:
dfResponsavelRendaParaiba.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaParaiba.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,250010605000001,377,6,4,0,0
1,250010605000002,115,11,10,0,0
2,250010605000003,229,16,24,0,0
3,250010605000004,163,0,0,0,0
4,250010605000005,160,3,5,0,0

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoParaiba, dfDomicilio01Paraiba, dfDomicilio02Paraiba, dfPessoa13Paraiba, dfPessoa11Paraiba, dfPessoa12Paraiba,
               dfDomicilioRendaParaiba, dfResponsavelRendaParaiba]

In [56]:
dfTotalParaiba = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalParaiba.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,250010605000001,3.52,429.85,246.75,428.00,436,434,0,74,54,...,770,758,304733,304223,510,377,6,4,0,0
1,250010605000002,3.38,691.12,414.29,651.03,148,148,0,21,21,...,225,275,177732,177732,0,115,11,10,0,0
2,250010605000003,3.01,683.62,411.84,642.43,295,291,4,42,40,...,409,480,310317,310317,0,229,16,24,0,0
3,250010605000004,3.96,313.13,204.14,380.30,217,217,0,1,20,...,453,407,141471,141471,0,163,0,0,0,0
4,250010605000005,3.35,437.20,263.71,439.25,199,198,1,4,25,...,325,342,143194,143194,0,160,3,5,0,0

In [58]:
dfTotalParaiba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5548 entries, 0 to 5547
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            5548 non-null   int64
 1   MediaMoradorDomicilio                                5537 non-null   float64
 2   RendaMediaDomicilio                                  5537 non-null   float64
 3   RendaMediaPerCapitaGeral                             5548 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     5546 non-null   float64
 5   nAbsDomicilios                                       5548 non-null   int64
 6   nAbsDomiciliosCasa                                   5548 non-null   object
 7   nAbsDomiciliosApto                                   5548 non-null   object
 8   nAbsImoveisAlugados                                  5548 non-null   object
 9   nAbs1PessoasDomicilio                                5548 non-null   object
 10  nAbs1PessoasDomicilio                                5548 non-null   object
 11  nAbs2PessoasDomicilio                                5548 non-null   object
 12  nAbs3PessoasDomicilio                                5548 non-null   object
 13  nAbs4PessoasDomicilio                                5548 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          5548 non-null   object
 15  nAbsHabitantes                                       5548 non-null   int64
 16  nAbsMoradoresCasa                                    5548 non-null   int64
 17  nAbsMoradoresApto                                    5548 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         5548 non-null   int64
 19  nAbsConjuges                                         5548 non-null   int64
 20  nAbsHomensResidentes                                 5548 non-null   int64
 21  nAbsMulheresResidentes                               5548 non-null   int64
 22  TotalRendNomMensalDomParticulares                    5548 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   5548 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  5548 non-null   int64
 25  nAbsPessoasClasseE                                   5548 non-null   int64
 26  nAbsPessoasClasseD                                   5548 non-null   int64
 27  nAbsPessoasClasseC                                   5548 non-null   int64
 28  nAbsPessoasClasseB                                   5548 non-null   int64
 29  nAbsPessoasClasseA                                   5548 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 1.3+ MB

In [59]:
dfTotalParaiba.to_csv('Paraiba.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio