In [37]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [38]:
dfBasicoPernambuco = pd.read_csv('dataAgrupados/Basico_PE.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfBasicoPernambuco = dfBasicoPernambuco[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [40]:
dfBasicoPernambuco = dfBasicoPernambuco.replace('X', 0, regex= True)

In [41]:
dfBasicoPernambuco.head()

         Cod_setor  V003    V005    V009     V011
0  260005405000001  3,43   452,8   322,3   693,75
1  260005405000002  3,36  632,62  386,56   686,42
2  260005405000003  2,98   973,5  623,45  1005,48
3  260005405000004  3,05  637,76  382,99   658,24
4  260005405000005  3,45  401,38  249,22   474,34

In [42]:
dfBasicoPernambuco = dfBasicoPernambuco.replace(',', '.', regex= True)

In [43]:
dfBasicoPernambuco = dfBasicoPernambuco.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [44]:
dfBasicoPernambuco.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [45]:
dfDomicilio01Pernambuco = pd.read_csv('dataAgrupados/Domicilio01_PE.csv', sep = ';', encoding = 'unicode_escape')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [46]:
dfDomicilio01Pernambuco = dfDomicilio01Pernambuco.replace('X', 0, regex= True)

In [47]:
#dfDomicilio01Pernambuco = dfDomicilio01Pernambuco.astype(int)

In [48]:
dfDomicilio01Pernambuco = dfDomicilio01Pernambuco[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [49]:
dfDomicilio01Pernambuco.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [50]:
dfDomicilio01Pernambuco['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Pernambuco['nAbs5PessoasDomicilio'] +dfDomicilio01Pernambuco['nAbs6PessoasDomicilio'] + dfDomicilio01Pernambuco['nAbs7PessoasDomicilio'] + dfDomicilio01Pernambuco['nAbs8PessoasDomicilio']
+ dfDomicilio01Pernambuco['nAbs9PessoasDomicilio'] + dfDomicilio01Pernambuco['nAbs10PessoasDomicilio']

0        20
1        00
2        01
3        11
4        21
         ..
12374     6
12375     5
12376     4
12377     5
12378     2
Length: 12379, dtype: object

In [51]:
dfDomicilio01Pernambuco.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [52]:
dfDomicilio02Pernambuco = pd.read_csv('dataAgrupados/Domicilio02_PE.csv', sep = ';', encoding = 'unicode_escape')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [53]:
dfDomicilio02Pernambuco = dfDomicilio02Pernambuco.replace('X', 0, regex= True)

In [54]:
dfDomicilio02Pernambuco = dfDomicilio02Pernambuco.astype(int)

In [55]:
dfDomicilio02Pernambuco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 12.7 MB

In [56]:
dfDomicilio02Pernambuco = dfDomicilio02Pernambuco[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [57]:
dfDomicilio02Pernambuco.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [58]:
dfDomicilio02Pernambuco.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,260005405000001,724,712,12,125
1,260005405000002,750,750,0,140
2,260005405000003,417,417,0,129
3,260005405000004,971,878,0,347
4,260005405000005,890,890,0,153

**Pessoa13** - conferido

In [59]:
dfPessoa13Pernambuco = pd.read_csv('dataAgrupados/Pessoa13_PE.csv', sep = ';', encoding = 'unicode_escape')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [60]:
dfPessoa13Pernambuco = dfPessoa13Pernambuco[['Cod_setor', 'V001']]

In [61]:
dfPessoa13Pernambuco = dfPessoa13Pernambuco.replace('X', 0, regex= True)

In [62]:
dfPessoa13Pernambuco.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [63]:
dfPessoa13Pernambuco.head()

         Cod_setor  nAbsConjuges
0  260005405000001           724
1  260005405000002           750
2  260005405000003           417
3  260005405000004           971
4  260005405000005           890

**Pessoa11** - conferido

In [64]:
dfPessoa11Pernambuco = pd.read_csv('dataAgrupados/Pessoa11_PE.csv', sep = ';', encoding = 'unicode_escape')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [65]:
dfPessoa11Pernambuco = dfPessoa11Pernambuco[['Cod_setor', 'V001']]

In [66]:
dfPessoa11Pernambuco = dfPessoa11Pernambuco.replace('X', 0, regex= True)

In [67]:
dfPessoa11Pernambuco.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [68]:
dfPessoa12Pernambuco = pd.read_csv('dataAgrupados/Pessoa12_PE.csv', sep = ';', encoding = 'unicode_escape')

In [69]:
dfPessoa12Pernambuco = dfPessoa12Pernambuco.replace('X', 0, regex= True)

In [70]:
dfPessoa12Pernambuco = dfPessoa12Pernambuco[['Cod_setor', 'V001']]

In [71]:
dfPessoa12Pernambuco.head()

         Cod_setor  V001
0  260005405000001   388
1  260005405000002   412
2  260005405000003   233
3  260005405000004   519
4  260005405000005   464

In [72]:
dfPessoa12Pernambuco.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [73]:
dfPessoa12Pernambuco.head()

         Cod_setor  nAbsMulheresResidentes
0  260005405000001                     388
1  260005405000002                     412
2  260005405000003                     233
3  260005405000004                     519
4  260005405000005                     464

**DomicilioRenda** - conferido

In [74]:
dfDomicilioRendaPernambuco = pd.read_csv('dataAgrupados/DomicilioRenda_PE.csv', sep = ';', encoding = 'unicode_escape')

In [75]:
dfDomicilioRendaPernambuco = dfDomicilioRendaPernambuco[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [76]:
dfDomicilioRendaPernambuco = dfDomicilioRendaPernambuco.replace('X', 0, regex= True)

In [77]:
dfDomicilioRendaPernambuco = dfDomicilioRendaPernambuco.astype(int)

In [78]:
dfDomicilioRendaPernambuco.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [79]:
dfDomicilioRendaPernambuco.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,260005405000001,195638,195638,0
1,260005405000002,260154,260154,0
2,260005405000003,236288,236288,0
3,260005405000004,320564,320564,0
4,260005405000005,186414,186414,0

**ResponsavelRenda** - conferido

In [80]:
dfResponsavelRendaPernambuco = pd.read_csv('dataAgrupados/ResponsavelRenda_PE.csv', sep = ';', encoding = 'unicode_escape')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [81]:
dfResponsavelRendaPernambuco = dfResponsavelRendaPernambuco[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [82]:
dfResponsavelRendaPernambuco = dfResponsavelRendaPernambuco.replace('X', 0, regex= True)

In [83]:
dfResponsavelRendaPernambuco = dfResponsavelRendaPernambuco.astype(int)

In [84]:
dfResponsavelRendaPernambuco['nAbsPessoasClasseE'] = dfResponsavelRendaPernambuco['V001'] +dfResponsavelRendaPernambuco['V002'] + dfResponsavelRendaPernambuco['V003']

In [85]:
dfResponsavelRendaPernambuco['nAbsPessoasClasseD'] = dfResponsavelRendaPernambuco['V004']

In [86]:
dfResponsavelRendaPernambuco['nAbsPessoasClasseC'] = dfResponsavelRendaPernambuco['V005'] +dfResponsavelRendaPernambuco['V006']

In [87]:
dfResponsavelRendaPernambuco['nAbsPessoasClasseB'] = dfResponsavelRendaPernambuco['V007']

In [88]:
dfResponsavelRendaPernambuco['nAbsPessoasClasseA'] = dfResponsavelRendaPernambuco['V008'] +  dfResponsavelRendaPernambuco['V009']

In [89]:
dfResponsavelRendaPernambuco.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [90]:
dfResponsavelRendaPernambuco.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,260005405000001,108,7,10,0,0
1,260005405000002,164,18,12,0,0
2,260005405000003,84,16,20,1,1
3,260005405000004,226,16,23,0,0
4,260005405000005,187,4,4,0,0

**DATAFRAME TOTAL.**

In [91]:
data_frames = [dfBasicoPernambuco, dfDomicilio01Pernambuco, dfDomicilio02Pernambuco, dfPessoa13Pernambuco, dfPessoa11Pernambuco, dfPessoa12Pernambuco,
               dfDomicilioRendaPernambuco, dfResponsavelRendaPernambuco]

In [92]:
dfTotalPernambuco = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [93]:
dfTotalPernambuco.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,260005405000001,3.43,452.80,322.30,693.75,211,208,3,38,16,...,336,388,195638,195638,0,108,7,10,0,0
1,260005405000002,3.36,632.62,386.56,686.42,223,223,0,46,14,...,338,412,260154,260154,0,164,18,12,0,0
2,260005405000003,2.98,973.50,623.45,1005.48,140,140,0,48,18,...,184,233,236288,236288,0,84,16,20,1,1
3,260005405000004,3.05,637.76,382.99,658.24,318,286,0,117,34,...,452,519,320564,320564,0,226,16,23,0,0
4,260005405000005,3.45,401.38,249.22,474.34,258,258,0,50,25,...,426,464,186414,186414,0,187,4,4,0,0

In [94]:
dfTotalPernambuco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12379 entries, 0 to 12378
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            12379 non-null  int64
 1   MediaMoradorDomicilio                                12360 non-null  float64
 2   RendaMediaDomicilio                                  12360 non-null  float64
 3   RendaMediaPerCapitaGeral                             12379 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     12373 non-null  float64
 5   nAbsDomicilios                                       12379 non-null  int64
 6   nAbsDomiciliosCasa                                   12379 non-null  object
 7   nAbsDomiciliosApto                                   12379 non-null  object
 8   nAbsImoveisAlugados                                  12379 non-null  object
 9   nAbs1PessoasDomicilio                                12379 non-null  object
 10  nAbs1PessoasDomicilio                                12379 non-null  object
 11  nAbs2PessoasDomicilio                                12379 non-null  object
 12  nAbs3PessoasDomicilio                                12379 non-null  object
 13  nAbs4PessoasDomicilio                                12379 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          12379 non-null  object
 15  nAbsHabitantes                                       12379 non-null  int64
 16  nAbsMoradoresCasa                                    12379 non-null  int64
 17  nAbsMoradoresApto                                    12379 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         12379 non-null  int64
 19  nAbsConjuges                                         12379 non-null  int64
 20  nAbsHomensResidentes                                 12379 non-null  int64
 21  nAbsMulheresResidentes                               12379 non-null  int64
 22  TotalRendNomMensalDomParticulares                    12379 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   12379 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  12379 non-null  int64
 25  nAbsPessoasClasseE                                   12379 non-null  int64
 26  nAbsPessoasClasseD                                   12379 non-null  int64
 27  nAbsPessoasClasseC                                   12379 non-null  int64
 28  nAbsPessoasClasseB                                   12379 non-null  int64
 29  nAbsPessoasClasseA                                   12379 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 2.9+ MB

In [ ]:
dfTotalPernambuco.to_csv('Pernambuco.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio