In [64]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [65]:
dfBasicoPiaui = pd.read_csv('dataAgrupados/Basico_PI.csv', sep = ';', encoding = 'unicode_escape')

In [66]:
dfBasicoPiaui = dfBasicoPiaui[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [67]:
dfBasicoPiaui = dfBasicoPiaui.replace('X', 0, regex= True)

In [68]:
dfBasicoPiaui.head()

         Cod_setor  V003    V005    V009    V011
0  220005305000001  3,41  561,92  350,67  539,38
1  220005305000002  3,83  302,87  177,43  250,21
2  220005305000003  3,56   317,3  194,89   287,5
3  220005305000004  3,81  306,88   181,9  338,16
4  220005305000005  3,48  337,73  226,08  302,97

In [69]:
dfBasicoPiaui = dfBasicoPiaui.replace(',', '.', regex= True)

In [70]:
dfBasicoPiaui = dfBasicoPiaui.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [71]:
dfBasicoPiaui.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [72]:
dfDomicilio01Piaui = pd.read_csv('dataAgrupados/Domicilio01_PI.csv', sep = ';', encoding = 'unicode_escape')

In [73]:
dfDomicilio01Piaui = dfDomicilio01Piaui.replace('X', 0, regex= True)

In [74]:
#dfDomicilio01Piaui = dfDomicilio01Piaui.astype(int)

In [75]:
dfDomicilio01Piaui = dfDomicilio01Piaui[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [76]:
dfDomicilio01Piaui.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [77]:
dfDomicilio01Piaui['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Piaui['nAbs5PessoasDomicilio'] +dfDomicilio01Piaui['nAbs6PessoasDomicilio'] + dfDomicilio01Piaui['nAbs7PessoasDomicilio'] + dfDomicilio01Piaui['nAbs8PessoasDomicilio']
+ dfDomicilio01Piaui['nAbs9PessoasDomicilio'] + dfDomicilio01Piaui['nAbs10PessoasDomicilio']

0       00
1       02
2       00
3       11
4       00
        ..
5246    01
5247    00
5248    11
5249    00
5250    00
Length: 5251, dtype: object

In [78]:
dfDomicilio01Piaui.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [79]:
dfDomicilio02Piaui = pd.read_csv('dataAgrupados/Domicilio02_PI.csv', sep = ';', encoding = 'unicode_escape')

In [80]:
dfDomicilio02Piaui = dfDomicilio02Piaui.replace('X', 0, regex= True)

In [81]:
dfDomicilio02Piaui = dfDomicilio02Piaui.astype(int)

In [82]:
dfDomicilio02Piaui.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5251 entries, 0 to 5250
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 5.4 MB

In [83]:
dfDomicilio02Piaui = dfDomicilio02Piaui[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [84]:
dfDomicilio02Piaui.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [85]:
dfDomicilio02Piaui.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,220005305000001,477,453,24,25
1,220005305000002,570,570,0,0
2,220005305000003,506,506,0,2
3,220005305000004,339,339,0,0
4,220005305000005,536,536,0,0

**Pessoa13** - conferido

In [86]:
dfPessoa13Piaui = pd.read_csv('dataAgrupados/Pessoa13_PI.csv', sep = ';', encoding = 'unicode_escape')

In [87]:
dfPessoa13Piaui = dfPessoa13Piaui[['Cod_setor', 'V001']]

In [88]:
dfPessoa13Piaui = dfPessoa13Piaui.replace('X', 0, regex= True)

In [89]:
dfPessoa13Piaui.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [90]:
dfPessoa13Piaui.head()

         Cod_setor  nAbsConjuges
0  220005305000001           477
1  220005305000002           570
2  220005305000003           506
3  220005305000004           339
4  220005305000005           536

**Pessoa11** - conferido

In [91]:
dfPessoa11Piaui = pd.read_csv('dataAgrupados/Pessoa11_PI.csv', sep = ';', encoding = 'unicode_escape')

In [92]:
dfPessoa11Piaui = dfPessoa11Piaui[['Cod_setor', 'V001']]

In [93]:
dfPessoa11Piaui = dfPessoa11Piaui.replace('X', 0, regex= True)

In [94]:
dfPessoa11Piaui.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [95]:
dfPessoa12Piaui = pd.read_csv('dataAgrupados/Pessoa12_PI.csv', sep = ';', encoding = 'unicode_escape')

In [96]:
dfPessoa12Piaui = dfPessoa12Piaui.replace('X', 0, regex= True)

In [97]:
dfPessoa12Piaui = dfPessoa12Piaui[['Cod_setor', 'V001']]

In [98]:
dfPessoa12Piaui.head()

         Cod_setor  V001
0  220005305000001   254
1  220005305000002   278
2  220005305000003   245
3  220005305000004   168
4  220005305000005   251

In [99]:
dfPessoa12Piaui.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [100]:
dfPessoa12Piaui.head()

         Cod_setor  nAbsMulheresResidentes
0  220005305000001                     254
1  220005305000002                     278
2  220005305000003                     245
3  220005305000004                     168
4  220005305000005                     251

**DomicilioRenda** - conferido

In [101]:
dfDomicilioRendaPiaui = pd.read_csv('dataAgrupados/DomicilioRenda_PI.csv', sep = ';', encoding = 'unicode_escape')

In [102]:
dfDomicilioRendaPiaui = dfDomicilioRendaPiaui[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [103]:
dfDomicilioRendaPiaui = dfDomicilioRendaPiaui.replace('X', 0, regex= True)

In [104]:
dfDomicilioRendaPiaui = dfDomicilioRendaPiaui.astype(int)

In [105]:
dfDomicilioRendaPiaui.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [106]:
dfDomicilioRendaPiaui.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,220005305000001,134306,134306,0
1,220005305000002,83571,83571,0
2,220005305000003,81075,81075,0
3,220005305000004,50386,50386,0
4,220005305000005,104222,104222,0

**ResponsavelRenda** - conferido

In [107]:
dfResponsavelRendaPiaui = pd.read_csv('dataAgrupados/ResponsavelRenda_PI.csv', sep = ';', encoding = 'unicode_escape')

In [108]:
dfResponsavelRendaPiaui = dfResponsavelRendaPiaui[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [109]:
dfResponsavelRendaPiaui = dfResponsavelRendaPiaui.replace('X', 0, regex= True)

In [110]:
dfResponsavelRendaPiaui = dfResponsavelRendaPiaui.astype(int)

In [111]:
dfResponsavelRendaPiaui['nAbsPessoasClasseE'] = dfResponsavelRendaPiaui['V001'] +dfResponsavelRendaPiaui['V002'] + dfResponsavelRendaPiaui['V003']

In [112]:
dfResponsavelRendaPiaui['nAbsPessoasClasseD'] = dfResponsavelRendaPiaui['V004']

In [113]:
dfResponsavelRendaPiaui['nAbsPessoasClasseC'] = dfResponsavelRendaPiaui['V005'] +dfResponsavelRendaPiaui['V006']

In [114]:
dfResponsavelRendaPiaui['nAbsPessoasClasseB'] = dfResponsavelRendaPiaui['V007']

In [115]:
dfResponsavelRendaPiaui['nAbsPessoasClasseA'] = dfResponsavelRendaPiaui['V008'] +  dfResponsavelRendaPiaui['V009']

In [116]:
dfResponsavelRendaPiaui.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [117]:
dfResponsavelRendaPiaui.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,220005305000001,117,10,6,0,0
1,220005305000002,139,0,2,0,0
2,220005305000003,132,2,1,0,0
3,220005305000004,71,0,0,0,0
4,220005305000005,141,3,0,0,0

**DATAFRAME TOTAL.**

In [118]:
data_frames = [dfBasicoPiaui, dfDomicilio01Piaui, dfDomicilio02Piaui, dfPessoa13Piaui, dfPessoa11Piaui, dfPessoa12Piaui,
               dfDomicilioRendaPiaui, dfResponsavelRendaPiaui]

In [119]:
dfTotalPiaui = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [120]:
dfTotalPiaui.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,220005305000001,3.41,561.92,350.67,539.38,140,135,5,7,7,...,223,254,134306,134306,0,117,10,6,0,0
1,220005305000002,3.83,302.87,177.43,250.21,149,149,0,0,5,...,292,278,83571,83571,0,139,0,2,0,0
2,220005305000003,3.56,317.30,194.89,287.50,142,142,0,1,7,...,261,245,81075,81075,0,132,2,1,0,0
3,220005305000004,3.81,306.88,181.90,338.16,89,89,0,0,7,...,171,168,50386,50386,0,71,0,0,0,0
4,220005305000005,3.48,337.73,226.08,302.97,154,154,0,0,11,...,285,251,104222,104222,0,141,3,0,0,0

In [121]:
dfTotalPiaui.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5251 entries, 0 to 5250
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            5251 non-null   int64
 1   MediaMoradorDomicilio                                5242 non-null   float64
 2   RendaMediaDomicilio                                  5242 non-null   float64
 3   RendaMediaPerCapitaGeral                             5251 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     5247 non-null   float64
 5   nAbsDomicilios                                       5251 non-null   int64
 6   nAbsDomiciliosCasa                                   5251 non-null   object
 7   nAbsDomiciliosApto                                   5251 non-null   object
 8   nAbsImoveisAlugados                                  5251 non-null   object
 9   nAbs1PessoasDomicilio                                5251 non-null   object
 10  nAbs1PessoasDomicilio                                5251 non-null   object
 11  nAbs2PessoasDomicilio                                5251 non-null   object
 12  nAbs3PessoasDomicilio                                5251 non-null   object
 13  nAbs4PessoasDomicilio                                5251 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          5251 non-null   object
 15  nAbsHabitantes                                       5251 non-null   int64
 16  nAbsMoradoresCasa                                    5251 non-null   int64
 17  nAbsMoradoresApto                                    5251 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         5251 non-null   int64
 19  nAbsConjuges                                         5251 non-null   int64
 20  nAbsHomensResidentes                                 5251 non-null   int64
 21  nAbsMulheresResidentes                               5251 non-null   int64
 22  TotalRendNomMensalDomParticulares                    5251 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   5251 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  5251 non-null   int64
 25  nAbsPessoasClasseE                                   5251 non-null   int64
 26  nAbsPessoasClasseD                                   5251 non-null   int64
 27  nAbsPessoasClasseC                                   5251 non-null   int64
 28  nAbsPessoasClasseB                                   5251 non-null   int64
 29  nAbsPessoasClasseA                                   5251 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 1.2+ MB

In [122]:
dfTotalPiaui.to_csv('Piaui.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio