In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoRioDeJaneiro = pd.read_csv('dataAgrupados/Basico_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoRioDeJaneiro = dfBasicoRioDeJaneiro[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoRioDeJaneiro = dfBasicoRioDeJaneiro.replace('X', 0, regex= True)

In [5]:
dfBasicoRioDeJaneiro.head()

         Cod_setor  V003     V005     V009     V011
0  330010005000001  2,62   2356,8  1565,37  2192,65
1  330010005000002  2,51  2040,47  1816,69  2375,67
2  330010005000003  3,08   2687,8  1593,37  2294,84
3  330010005000004  3,04  3026,67  1865,52  2574,41
4  330010005000005  3,34  1124,82    689,4  1028,21

In [6]:
dfBasicoRioDeJaneiro = dfBasicoRioDeJaneiro.replace(',', '.', regex= True)

In [7]:
dfBasicoRioDeJaneiro = dfBasicoRioDeJaneiro.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoRioDeJaneiro.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01RioDeJaneiro = pd.read_csv('dataAgrupados/Domicilio01_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01RioDeJaneiro = dfDomicilio01RioDeJaneiro.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01RioDeJaneiro = dfDomicilio01RioDeJaneiro.astype(int)

In [12]:
dfDomicilio01RioDeJaneiro = dfDomicilio01RioDeJaneiro[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01RioDeJaneiro.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01RioDeJaneiro['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01RioDeJaneiro['nAbs5PessoasDomicilio'] +dfDomicilio01RioDeJaneiro['nAbs6PessoasDomicilio'] + dfDomicilio01RioDeJaneiro['nAbs7PessoasDomicilio'] + dfDomicilio01RioDeJaneiro['nAbs8PessoasDomicilio']
+ dfDomicilio01RioDeJaneiro['nAbs9PessoasDomicilio'] + dfDomicilio01RioDeJaneiro['nAbs10PessoasDomicilio']

0        00
1        00
2        20
3        01
4        00
         ..
27764    00
27765    00
27766    11
27767    20
27768    00
Length: 27769, dtype: object

In [15]:
dfDomicilio01RioDeJaneiro.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02RioDeJaneiro = pd.read_csv('dataAgrupados/Domicilio02_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02RioDeJaneiro = dfDomicilio02RioDeJaneiro.replace('X', 0, regex= True)

In [18]:
dfDomicilio02RioDeJaneiro = dfDomicilio02RioDeJaneiro.astype(int)

In [19]:
dfDomicilio02RioDeJaneiro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27769 entries, 0 to 27768
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 28.4 MB

In [20]:
dfDomicilio02RioDeJaneiro = dfDomicilio02RioDeJaneiro[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [21]:
dfDomicilio02RioDeJaneiro.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [22]:
dfDomicilio02RioDeJaneiro.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,330010005000001,410,293,116,104
1,330010005000002,143,94,49,67
2,330010005000003,1055,871,184,202
3,330010005000004,219,122,97,70
4,330010005000005,709,707,2,160

**Pessoa13** - conferido

In [23]:
dfPessoa13RioDeJaneiro = pd.read_csv('dataAgrupados/Pessoa13_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfPessoa13RioDeJaneiro = dfPessoa13RioDeJaneiro[['Cod_setor', 'V001']]

In [25]:
dfPessoa13RioDeJaneiro = dfPessoa13RioDeJaneiro.replace('X', 0, regex= True)

In [26]:
dfPessoa13RioDeJaneiro.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [27]:
dfPessoa13RioDeJaneiro.head()

         Cod_setor  nAbsConjuges
0  330010005000001           410
1  330010005000002           143
2  330010005000003          1055
3  330010005000004           219
4  330010005000005           709

**Pessoa11** - conferido

In [28]:
dfPessoa11RioDeJaneiro = pd.read_csv('dataAgrupados/Pessoa11_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [29]:
dfPessoa11RioDeJaneiro = dfPessoa11RioDeJaneiro[['Cod_setor', 'V001']]

In [30]:
dfPessoa11RioDeJaneiro = dfPessoa11RioDeJaneiro.replace('X', 0, regex= True)

In [31]:
dfPessoa11RioDeJaneiro.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [32]:
dfPessoa12RioDeJaneiro = pd.read_csv('dataAgrupados/Pessoa12_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfPessoa12RioDeJaneiro = dfPessoa12RioDeJaneiro.replace('X', 0, regex= True)

In [34]:
dfPessoa12RioDeJaneiro = dfPessoa12RioDeJaneiro[['Cod_setor', 'V001']]

In [35]:
dfPessoa12RioDeJaneiro.head()

         Cod_setor  V001
0  330010005000001   236
1  330010005000002    84
2  330010005000003   567
3  330010005000004   114
4  330010005000005   349

In [36]:
dfPessoa12RioDeJaneiro.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [37]:
dfPessoa12RioDeJaneiro.head()

         Cod_setor  nAbsMulheresResidentes
0  330010005000001                     236
1  330010005000002                      84
2  330010005000003                     567
3  330010005000004                     114
4  330010005000005                     349

**DomicilioRenda** - conferido

In [38]:
dfDomicilioRendaRioDeJaneiro = pd.read_csv('dataAgrupados/DomicilioRenda_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilioRendaRioDeJaneiro = dfDomicilioRendaRioDeJaneiro[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [40]:
dfDomicilioRendaRioDeJaneiro = dfDomicilioRendaRioDeJaneiro.replace('X', 0, regex= True)

In [41]:
dfDomicilioRendaRioDeJaneiro = dfDomicilioRendaRioDeJaneiro.astype(int)

In [42]:
dfDomicilioRendaRioDeJaneiro.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [43]:
dfDomicilioRendaRioDeJaneiro.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,330010005000001,606855,606855,0
1,330010005000002,245530,245530,0
2,330010005000003,1513128,1513128,0
3,330010005000004,384352,384352,0
4,330010005000005,420537,420537,0

**ResponsavelRenda** - conferido

In [44]:
dfResponsavelRendaRioDeJaneiro = pd.read_csv('dataAgrupados/ResponsavelRenda_RJ.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfResponsavelRendaRioDeJaneiro = dfResponsavelRendaRioDeJaneiro[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [46]:
dfResponsavelRendaRioDeJaneiro = dfResponsavelRendaRioDeJaneiro.replace('X', 0, regex= True)

In [47]:
dfResponsavelRendaRioDeJaneiro = dfResponsavelRendaRioDeJaneiro.astype(int)

In [48]:
dfResponsavelRendaRioDeJaneiro['nAbsPessoasClasseE'] = dfResponsavelRendaRioDeJaneiro['V001'] +dfResponsavelRendaRioDeJaneiro['V002'] + dfResponsavelRendaRioDeJaneiro['V003']

In [49]:
dfResponsavelRendaRioDeJaneiro['nAbsPessoasClasseD'] = dfResponsavelRendaRioDeJaneiro['V004']

In [50]:
dfResponsavelRendaRioDeJaneiro['nAbsPessoasClasseC'] = dfResponsavelRendaRioDeJaneiro['V005'] +dfResponsavelRendaRioDeJaneiro['V006']

In [51]:
dfResponsavelRendaRioDeJaneiro['nAbsPessoasClasseB'] = dfResponsavelRendaRioDeJaneiro['V007']

In [52]:
dfResponsavelRendaRioDeJaneiro['nAbsPessoasClasseA'] = dfResponsavelRendaRioDeJaneiro['V008'] +  dfResponsavelRendaRioDeJaneiro['V009']

In [53]:
dfResponsavelRendaRioDeJaneiro.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [54]:
dfResponsavelRendaRioDeJaneiro.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,330010005000001,40,24,69,7,3
1,330010005000002,12,12,23,5,0
2,330010005000003,66,65,162,16,16
3,330010005000004,14,12,32,3,4
4,330010005000005,100,55,38,1,0

**DATAFRAME TOTAL.**

In [55]:
data_frames = [dfBasicoRioDeJaneiro, dfDomicilio01RioDeJaneiro, dfDomicilio02RioDeJaneiro, dfPessoa13RioDeJaneiro, dfPessoa11RioDeJaneiro, dfPessoa12RioDeJaneiro,
               dfDomicilioRendaRioDeJaneiro, dfResponsavelRendaRioDeJaneiro]

In [56]:
dfTotalRioDeJaneiro = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [57]:
dfTotalRioDeJaneiro.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,330010005000001,2.62,2356.80,1565.37,2192.65,157,113,43,42,36,...,174,236,606855,606855,0,40,24,69,7,3
1,330010005000002,2.51,2040.47,1816.69,2375.67,57,38,19,31,12,...,59,84,245530,245530,0,12,12,23,5,0
2,330010005000003,3.08,2687.80,1593.37,2294.84,343,289,54,70,44,...,488,567,1513128,1513128,0,66,65,162,16,16
3,330010005000004,3.04,3026.67,1865.52,2574.41,72,36,36,25,10,...,105,114,384352,384352,0,14,12,32,3,4
4,330010005000005,3.34,1124.82,689.40,1028.21,212,211,1,49,16,...,360,349,420537,420537,0,100,55,38,1,0

In [58]:
dfTotalRioDeJaneiro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27769 entries, 0 to 27768
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            27769 non-null  int64
 1   MediaMoradorDomicilio                                27685 non-null  float64
 2   RendaMediaDomicilio                                  27685 non-null  float64
 3   RendaMediaPerCapitaGeral                             27768 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     27736 non-null  float64
 5   nAbsDomicilios                                       27769 non-null  int64
 6   nAbsDomiciliosCasa                                   27769 non-null  object
 7   nAbsDomiciliosApto                                   27769 non-null  object
 8   nAbsImoveisAlugados                                  27769 non-null  object
 9   nAbs1PessoasDomicilio                                27769 non-null  object
 10  nAbs1PessoasDomicilio                                27769 non-null  object
 11  nAbs2PessoasDomicilio                                27769 non-null  object
 12  nAbs3PessoasDomicilio                                27769 non-null  object
 13  nAbs4PessoasDomicilio                                27769 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          27769 non-null  object
 15  nAbsHabitantes                                       27769 non-null  int64
 16  nAbsMoradoresCasa                                    27769 non-null  int64
 17  nAbsMoradoresApto                                    27769 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         27769 non-null  int64
 19  nAbsConjuges                                         27769 non-null  int64
 20  nAbsHomensResidentes                                 27769 non-null  int64
 21  nAbsMulheresResidentes                               27769 non-null  int64
 22  TotalRendNomMensalDomParticulares                    27769 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   27769 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  27769 non-null  int64
 25  nAbsPessoasClasseE                                   27769 non-null  int64
 26  nAbsPessoasClasseD                                   27769 non-null  int64
 27  nAbsPessoasClasseC                                   27769 non-null  int64
 28  nAbsPessoasClasseB                                   27769 non-null  int64
 29  nAbsPessoasClasseA                                   27769 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 6.6+ MB

In [59]:
dfTotalRioDeJaneiro.to_csv('RioDeJaneiro.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio