In [57]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [58]:
dfBasicoRS = pd.read_csv('dataAgrupados/Basico_RS.csv', sep = ';', encoding = 'unicode_escape')

In [59]:
dfBasicoRS = dfBasicoRS[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [60]:
dfBasicoRS = dfBasicoRS.replace('X', 0, regex= True)

In [61]:
dfBasicoRS.head()

         Cod_setor  V003     V005     V009     V011
0  430003405000001  3,32   670,61   358,21   761,87
1  430003405000002  3,24   986,28   595,08   980,46
2  430003405000003  3,59   798,16   436,79   769,71
3  430003415000002  2,71  2319,51  1297,58  1670,66
4  430003415000003  2,75  1084,58  1008,41   1351,7

In [62]:
dfBasicoRS = dfBasicoRS.replace(',', '.', regex= True)

In [63]:
dfBasicoRS = dfBasicoRS.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [64]:
dfBasicoRS.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [65]:
dfDomicilio01RS = pd.read_csv('dataAgrupados/Domicilio01_RS.csv', sep = ';', encoding = 'unicode_escape')

In [66]:
dfDomicilio01RS = dfDomicilio01RS.replace('X', 0, regex= True)

In [67]:
#dfDomicilio01RS = dfDomicilio01RSstype(int)

In [68]:
dfDomicilio01RS = dfDomicilio01RS[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [69]:
dfDomicilio01RS.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [70]:
dfDomicilio01RS['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01RS['nAbs5PessoasDomicilio'] +dfDomicilio01RS['nAbs6PessoasDomicilio'] + dfDomicilio01RS['nAbs7PessoasDomicilio'] + dfDomicilio01RS['nAbs8PessoasDomicilio']
+ dfDomicilio01RS['nAbs9PessoasDomicilio'] + dfDomicilio01RS['nAbs10PessoasDomicilio']

0        10
1        10
2        01
3        00
4        00
         ..
22327    00
22328    00
22329    00
22330    00
22331    00
Length: 22332, dtype: object

In [71]:
dfDomicilio01RS.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [72]:
dfDomicilio02RS = pd.read_csv('dataAgrupados/Domicilio02_RS.csv', sep = ';', encoding = 'unicode_escape')

In [73]:
dfDomicilio02RS = dfDomicilio02RS.replace('X', 0, regex= True)

In [74]:
dfDomicilio02RS = dfDomicilio02RS.astype(int)

In [75]:
dfDomicilio02RS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22332 entries, 0 to 22331
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 22.8 MB

In [76]:
dfDomicilio02RS = dfDomicilio02RS[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [77]:
dfDomicilio02RS.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [78]:
dfDomicilio02RS.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,430003405000001,325,325,0,59
1,430003405000002,389,389,0,101
2,430003405000003,345,345,0,62
3,430003415000002,667,667,0,79
4,430003415000003,67,66,0,5

**Pessoa13** - conferido

In [79]:
dfPessoa13RS = pd.read_csv('dataAgrupados/Pessoa13_RS.csv', sep = ';', encoding = 'unicode_escape')

In [80]:
dfPessoa13RS = dfPessoa13RS[['Cod_setor', 'V001']]

In [81]:
dfPessoa13RS = dfPessoa13RS.replace('X', 0, regex= True)

In [82]:
dfPessoa13RS.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [83]:
dfPessoa13RS.head()

         Cod_setor  nAbsConjuges
0  430003405000001           325
1  430003405000002           389
2  430003405000003           345
3  430003415000002           667
4  430003415000003            67

**Pessoa11** - conferido

In [84]:
dfPessoa11RS = pd.read_csv('dataAgrupados/Pessoa11_RS.csv', sep = ';', encoding = 'unicode_escape')

In [85]:
dfPessoa11RS = dfPessoa11RS[['Cod_setor', 'V001']]

In [86]:
dfPessoa11RS =dfPessoa11RS.replace('X', 0, regex= True)

In [87]:
dfPessoa11RS.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [88]:
dfPessoa12RS = pd.read_csv('dataAgrupados/Pessoa12_RS.csv', sep = ';', encoding = 'unicode_escape')

In [89]:
dfPessoa12RS = dfPessoa12RS.replace('X', 0, regex= True)

In [90]:
dfPessoa12RS = dfPessoa12RS[['Cod_setor', 'V001']]

In [91]:
dfPessoa12RS.head()

         Cod_setor  V001
0  430003405000001   161
1  430003405000002   199
2  430003405000003   174
3  430003415000002   320
4  430003415000003    20

In [92]:
dfPessoa12RS.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [93]:
dfPessoa12RS.head()

         Cod_setor  nAbsMulheresResidentes
0  430003405000001                     161
1  430003405000002                     199
2  430003405000003                     174
3  430003415000002                     320
4  430003415000003                      20

**DomicilioRenda** - conferido

In [94]:
dfDomicilioRendaRS = pd.read_csv('dataAgrupados/DomicilioRenda_RS.csv', sep = ';', encoding = 'unicode_escape')

In [95]:
dfDomicilioRendaRS = dfDomicilioRendaRS[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [96]:
dfDomicilioRendaRS = dfDomicilioRendaRS.replace('X', 0, regex= True)

In [97]:
dfDomicilioRendaRS = dfDomicilioRendaRS.astype(int)

In [98]:
dfDomicilioRendaRS.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [99]:
dfDomicilioRendaRS.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,430003405000001,102090,102090,0
1,430003405000002,205896,205896,0
2,430003405000003,125233,125233,0
3,430003415000002,790224,790224,0
4,430003415000003,59860,59340,520

**ResponsavelRenda** - conferido

In [100]:
dfResponsavelRendaRS = pd.read_csv('dataAgrupados/ResponsavelRenda_RS.csv', sep = ';', encoding = 'unicode_escape')

In [101]:
dfResponsavelRendaRS = dfResponsavelRendaRS[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [102]:
dfResponsavelRendaRS = dfResponsavelRendaRS.replace('X', 0, regex= True)

In [103]:
dfResponsavelRendaRS = dfResponsavelRendaRS.astype(int)

In [104]:
dfResponsavelRendaRS['nAbsPessoasClasseE'] = dfResponsavelRendaRS['V001'] +dfResponsavelRendaRS['V002'] + dfResponsavelRendaRS['V003']

In [105]:
dfResponsavelRendaRS['nAbsPessoasClasseD'] = dfResponsavelRendaRS['V004']

In [106]:
dfResponsavelRendaRS['nAbsPessoasClasseC'] = dfResponsavelRendaRS['V005'] +dfResponsavelRendaRS['V006']

In [107]:
dfResponsavelRendaRS['nAbsPessoasClasseB'] = dfResponsavelRendaRS['V007']

In [108]:
dfResponsavelRendaRS['nAbsPessoasClasseA'] = dfResponsavelRendaRS['V008'] +  dfResponsavelRendaRS['V009']

In [109]:
dfResponsavelRendaRS.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [110]:
dfResponsavelRendaRS.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,430003405000001,56,8,4,0,1
1,430003405000002,77,14,19,0,0
2,430003405000003,73,8,9,0,0
3,430003415000002,125,35,58,9,12
4,430003415000003,12,2,4,1,0

**DATAFRAME TOTAL.**

In [111]:
data_frames = [dfBasicoRS, dfDomicilio01RS, dfDomicilio02RS, dfPessoa13RS, dfPessoa11RS, dfPessoa12RS,
               dfDomicilioRendaRS, dfResponsavelRendaRS]

In [112]:
dfTotalRS = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [113]:
dfTotalRS.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,430003405000001,3.32,670.61,358.21,761.87,98,98,0,16,16,...,164,161,102090,102090,0,56,8,4,0,1
1,430003405000002,3.24,986.28,595.08,980.46,120,120,0,33,19,...,190,199,205896,205896,0,77,14,19,0,0
2,430003405000003,3.59,798.16,436.79,769.71,96,96,0,16,13,...,171,174,125233,125233,0,73,8,9,0,0
3,430003415000002,2.71,2319.51,1297.58,1670.66,246,246,0,29,42,...,347,320,790224,790224,0,125,35,58,9,12
4,430003415000003,2.75,1084.58,1008.41,1351.70,25,24,0,2,4,...,47,20,59860,59340,520,12,2,4,1,0

In [114]:
dfTotalRS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22332 entries, 0 to 22331
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            22332 non-null  int64
 1   MediaMoradorDomicilio                                22267 non-null  float64
 2   RendaMediaDomicilio                                  22267 non-null  float64
 3   RendaMediaPerCapitaGeral                             22332 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     22317 non-null  float64
 5   nAbsDomicilios                                       22332 non-null  int64
 6   nAbsDomiciliosCasa                                   22332 non-null  object
 7   nAbsDomiciliosApto                                   22332 non-null  object
 8   nAbsImoveisAlugados                                  22332 non-null  object
 9   nAbs1PessoasDomicilio                                22332 non-null  object
 10  nAbs1PessoasDomicilio                                22332 non-null  object
 11  nAbs2PessoasDomicilio                                22332 non-null  object
 12  nAbs3PessoasDomicilio                                22332 non-null  object
 13  nAbs4PessoasDomicilio                                22332 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          22332 non-null  object
 15  nAbsHabitantes                                       22332 non-null  int64
 16  nAbsMoradoresCasa                                    22332 non-null  int64
 17  nAbsMoradoresApto                                    22332 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         22332 non-null  int64
 19  nAbsConjuges                                         22332 non-null  int64
 20  nAbsHomensResidentes                                 22332 non-null  int64
 21  nAbsMulheresResidentes                               22332 non-null  int64
 22  TotalRendNomMensalDomParticulares                    22332 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   22332 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  22332 non-null  int64
 25  nAbsPessoasClasseE                                   22332 non-null  int64
 26  nAbsPessoasClasseD                                   22332 non-null  int64
 27  nAbsPessoasClasseC                                   22332 non-null  int64
 28  nAbsPessoasClasseB                                   22332 non-null  int64
 29  nAbsPessoasClasseA                                   22332 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 5.3+ MB

In [115]:
dfTotalRS.to_csv('RioGrandeDoSul.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio