In [117]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [118]:
dfBasicoRN = pd.read_csv('dataAgrupados/Basico_RN.csv', sep = ';', encoding = 'unicode_escape')

In [119]:
dfBasicoRN = dfBasicoRN[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [120]:
dfBasicoRN = dfBasicoRN.replace('X', 0, regex= True)

In [121]:
dfBasicoRN.head()

         Cod_setor  V003     V005    V009     V011
0  240010905000001  3,17   534,07  309,33   559,63
1  240010905000002   3,8   460,39  250,65   483,19
2  240010905000003  3,56   589,68   320,1   682,83
3  240010905000004  2,94   961,83  570,32   885,82
4  240010905000005  3,28  1296,43  725,15  1186,61

In [122]:
dfBasicoRN = dfBasicoRN.replace(',', '.', regex= True)

In [123]:
dfBasicoRN = dfBasicoRN.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [124]:
dfBasicoRN.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [125]:
dfDomicilio01RN = pd.read_csv('dataAgrupados/Domicilio01_RN.csv', sep = ';', encoding = 'unicode_escape')

In [126]:
dfDomicilio01RN = dfDomicilio01RN.replace('X', 0, regex= True)

In [127]:
#dfDomicilio01RN = dfDomicilio01RN.astype(int)

In [128]:
dfDomicilio01RN = dfDomicilio01RN[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [129]:
dfDomicilio01RN.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [130]:
dfDomicilio01RN['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01RN['nAbs5PessoasDomicilio'] +dfDomicilio01RN['nAbs6PessoasDomicilio'] + dfDomicilio01RN['nAbs7PessoasDomicilio'] + dfDomicilio01RN['nAbs8PessoasDomicilio']
+ dfDomicilio01RN['nAbs9PessoasDomicilio'] + dfDomicilio01RN['nAbs10PessoasDomicilio']

0       10
1       12
2       71
3        0
4       00
        ..
4284    31
4285    32
4286    86
4287    05
4288    00
Length: 4289, dtype: object

In [131]:
dfDomicilio01RN.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [132]:
dfDomicilio02RN = pd.read_csv('dataAgrupados/Domicilio02_RN.csv', sep = ';', encoding = 'unicode_escape')

In [133]:
dfDomicilio02RN = dfDomicilio02RN.replace('X', 0, regex= True)

In [134]:
dfDomicilio02RN = dfDomicilio02RN.astype(int)

In [135]:
dfDomicilio02RN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4289 entries, 0 to 4288
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 4.4 MB

In [136]:
dfDomicilio02RN =dfDomicilio02RN[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [137]:
dfDomicilio02RN.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [138]:
dfDomicilio02RN.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,240010905000001,276,276,0,17
1,240010905000002,608,608,0,72
2,240010905000003,815,811,4,107
3,240010905000004,259,0,0,0
4,240010905000005,423,423,0,64

**Pessoa13** - conferido

In [139]:
dfPessoa13RN = pd.read_csv('dataAgrupados/Pessoa13_RN.csv', sep = ';', encoding = 'unicode_escape')

In [140]:
dfPessoa13RN = dfPessoa13RN[['Cod_setor', 'V001']]

In [141]:
dfPessoa13RN = dfPessoa13RN.replace('X', 0, regex= True)

In [142]:
dfPessoa13RN.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [143]:
dfPessoa13RN.head()

         Cod_setor  nAbsConjuges
0  240010905000001           276
1  240010905000002           608
2  240010905000003           815
3  240010905000004           259
4  240010905000005           423

**Pessoa11** - conferido

In [144]:
dfPessoa11RN = pd.read_csv('dataAgrupados/Pessoa11_RN.csv', sep = ';', encoding = 'unicode_escape')

In [145]:
dfPessoa11RN = dfPessoa11RN[['Cod_setor', 'V001']]

In [146]:
dfPessoa11RN = dfPessoa11RN.replace('X', 0, regex= True)

In [147]:
dfPessoa11RN.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [148]:
dfPessoa12RN = pd.read_csv('dataAgrupados/Pessoa12_RN.csv', sep = ';', encoding = 'unicode_escape')

In [149]:
dfPessoa12RN = dfPessoa12RN.replace('X', 0, regex= True)

In [150]:
dfPessoa12RN = dfPessoa12RN[['Cod_setor', 'V001']]

In [151]:
dfPessoa12RN.head()

         Cod_setor  V001
0  240010905000001   144
1  240010905000002   313
2  240010905000003   422
3  240010905000004   124
4  240010905000005   219

In [152]:
dfPessoa12RN.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [153]:
dfPessoa12RN.head()

         Cod_setor  nAbsMulheresResidentes
0  240010905000001                     144
1  240010905000002                     313
2  240010905000003                     422
3  240010905000004                     124
4  240010905000005                     219

**DomicilioRenda** - conferido

In [154]:
dfDomicilioRendaRN = pd.read_csv('dataAgrupados/DomicilioRenda_RN.csv', sep = ';', encoding = 'unicode_escape')

In [155]:
dfDomicilioRendaRN =dfDomicilioRendaRN[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [156]:
dfDomicilioRendaRN =dfDomicilioRendaRN.replace('X', 0, regex= True)

In [157]:
dfDomicilioRendaRN = dfDomicilioRendaRN.astype(int)

In [158]:
dfDomicilioRendaRN.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [159]:
dfDomicilioRendaRN.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,240010905000001,73311,73311,0
1,240010905000002,127078,127078,0
2,240010905000003,230795,230795,0
3,240010905000004,0,0,0
4,240010905000005,261054,261054,0

**ResponsavelRenda** - conferido

In [160]:
dfResponsavelRendaRN =pd.read_csv('dataAgrupados/ResponsavelRenda_RN.csv', sep = ';', encoding = 'unicode_escape')

In [161]:
dfResponsavelRendaRN = dfResponsavelRendaRN[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [162]:
dfResponsavelRendaRN = dfResponsavelRendaRN.replace('X', 0, regex= True)

In [163]:
dfResponsavelRendaRN = dfResponsavelRendaRN.astype(int)

In [164]:
dfResponsavelRendaRN['nAbsPessoasClasseE'] = dfResponsavelRendaRN['V001'] +dfResponsavelRendaRN['V002'] + dfResponsavelRendaRN['V003']

In [165]:
dfResponsavelRendaRN['nAbsPessoasClasseD'] = dfResponsavelRendaRN['V004']

In [166]:
dfResponsavelRendaRN['nAbsPessoasClasseC'] = dfResponsavelRendaRN['V005'] +dfResponsavelRendaRN['V006']

In [167]:
dfResponsavelRendaRN['nAbsPessoasClasseB'] = dfResponsavelRendaRN['V007']

In [168]:
dfResponsavelRendaRN['nAbsPessoasClasseA'] = dfResponsavelRendaRN['V008'] +  dfResponsavelRendaRN['V009']

In [169]:
dfResponsavelRendaRN.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [170]:
dfResponsavelRendaRN.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,240010905000001,75,3,1,0,0
1,240010905000002,137,2,1,0,0
2,240010905000003,154,11,4,1,1
3,240010905000004,0,0,0,0,0
4,240010905000005,72,24,24,0,3

**DATAFRAME TOTAL.**

In [171]:
data_frames = [dfBasicoRN, dfDomicilio01RN, dfDomicilio02RN, dfPessoa13RN, dfPessoa11RN, dfPessoa12RN,
               dfDomicilioRendaRN, dfResponsavelRendaRN]

In [172]:
dfTotalRN = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [173]:
dfTotalRN.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,240010905000001,3.17,534.07,309.33,559.63,87,87,0,5,11,...,132,144,73311,73311,0,75,3,1,0,0
1,240010905000002,3.80,460.39,250.65,483.19,160,160,0,22,11,...,295,313,127078,127078,0,137,2,1,0,0
2,240010905000003,3.56,589.68,320.10,682.83,229,228,1,34,19,...,393,422,230795,230795,0,154,11,4,1,1
3,240010905000004,2.94,961.83,570.32,885.82,88,0,0,0,0,...,135,124,0,0,0,0,0,0,0,0
4,240010905000005,3.28,1296.43,725.15,1186.61,129,129,0,19,15,...,204,219,261054,261054,0,72,24,24,0,3

In [174]:
dfTotalRN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4289 entries, 0 to 4288
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            4289 non-null   int64
 1   MediaMoradorDomicilio                                4273 non-null   float64
 2   RendaMediaDomicilio                                  4273 non-null   float64
 3   RendaMediaPerCapitaGeral                             4288 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     4286 non-null   float64
 5   nAbsDomicilios                                       4289 non-null   int64
 6   nAbsDomiciliosCasa                                   4289 non-null   object
 7   nAbsDomiciliosApto                                   4289 non-null   object
 8   nAbsImoveisAlugados                                  4289 non-null   object
 9   nAbs1PessoasDomicilio                                4289 non-null   object
 10  nAbs1PessoasDomicilio                                4289 non-null   object
 11  nAbs2PessoasDomicilio                                4289 non-null   object
 12  nAbs3PessoasDomicilio                                4289 non-null   object
 13  nAbs4PessoasDomicilio                                4289 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          4289 non-null   object
 15  nAbsHabitantes                                       4289 non-null   int64
 16  nAbsMoradoresCasa                                    4289 non-null   int64
 17  nAbsMoradoresApto                                    4289 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         4289 non-null   int64
 19  nAbsConjuges                                         4289 non-null   int64
 20  nAbsHomensResidentes                                 4289 non-null   int64
 21  nAbsMulheresResidentes                               4289 non-null   int64
 22  TotalRendNomMensalDomParticulares                    4289 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   4289 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  4289 non-null   int64
 25  nAbsPessoasClasseE                                   4289 non-null   int64
 26  nAbsPessoasClasseD                                   4289 non-null   int64
 27  nAbsPessoasClasseC                                   4289 non-null   int64
 28  nAbsPessoasClasseB                                   4289 non-null   int64
 29  nAbsPessoasClasseA                                   4289 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 1.0+ MB

In [175]:
dfTotalRN.to_csv('RioGrandeDoNorte.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio