In [23]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [24]:
dfBasicoRondonia = pd.read_csv('dataAgrupados/Basico_RO.csv', sep = ';', encoding = 'unicode_escape')

In [25]:
dfBasicoRondonia = dfBasicoRondonia[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [26]:
dfBasicoRondonia = dfBasicoRondonia.replace('X', 0, regex= True)

In [27]:
dfBasicoRondonia.head()

         Cod_setor  V003     V005    V009    V011
0  110001505000001  3,16  1000,83  637,19  916,17
1  110001505000002  3,25   925,75  555,45  885,82
2  110001505000003  3,29   639,29  435,05  639,91
3  110001505000004  3,17   620,88  388,17  655,57
4  110001505000005  3,39   425,03  283,56   494,1

In [28]:
dfBasicoRondonia = dfBasicoRondonia.replace(',', '.', regex= True)

In [29]:
dfBasicoRondonia = dfBasicoRondonia.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [30]:
dfBasicoRondonia.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [31]:
dfDomicilio01Rondonia = pd.read_csv('dataAgrupados/Domicilio01_RO.csv', sep = ';', encoding = 'unicode_escape')

In [32]:
dfDomicilio01Rondoni = dfDomicilio01Rondonia.replace('X', 0, regex= True)

In [33]:
#dfDomicilio01Rondonia = dfDomicilio01Rondonia.astype(int)

In [34]:
dfDomicilio01Rondonia = dfDomicilio01Rondonia[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [35]:
dfDomicilio01Rondonia.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [36]:
dfDomicilio01Rondonia['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Rondonia['nAbs5PessoasDomicilio'] +dfDomicilio01Rondonia['nAbs6PessoasDomicilio'] + dfDomicilio01Rondonia['nAbs7PessoasDomicilio'] + dfDomicilio01Rondonia['nAbs8PessoasDomicilio']
+ dfDomicilio01Rondonia['nAbs9PessoasDomicilio'] + dfDomicilio01Rondonia['nAbs10PessoasDomicilio']

0       00
1       11
2       00
3       10
4       33
        ..
2341    20
2342    00
2343    30
2344    00
2345    21
Length: 2346, dtype: object

In [37]:
dfDomicilio01Rondonia.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [38]:
dfDomicilio02Rondonia = pd.read_csv('dataAgrupados/Domicilio02_RO.csv', sep = ';', encoding = 'unicode_escape')

In [39]:
dfDomicilio02Rondonia = dfDomicilio02Rondonia.replace('X', 0, regex= True)

In [40]:
dfDomicilio02Rondonia = dfDomicilio02Rondonia.astype(int)

In [41]:
dfDomicilio02Rondonia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 2.4 MB

In [42]:
dfDomicilio02Rondonia = dfDomicilio02Rondonia[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [43]:
dfDomicilio02Rondonia.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [44]:
dfDomicilio02Rondonia.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,110001505000001,968,941,15,187
1,110001505000002,859,859,0,110
2,110001505000003,661,659,2,120
3,110001505000004,266,266,0,46
4,110001505000005,1206,1206,0,149

**Pessoa13** - conferido

In [45]:
dfPessoa13Rondonia = pd.read_csv('dataAgrupados/Pessoa13_RO.csv', sep = ';', encoding = 'unicode_escape')

In [46]:
dfPessoa13Rondonia = dfPessoa13Rondonia[['Cod_setor', 'V001']]

In [47]:
dfPessoa13Rondonia = dfPessoa13Rondonia.replace('X', 0, regex= True)

In [48]:
dfPessoa13Rondonia.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [49]:
dfPessoa13Rondonia.head()

         Cod_setor  nAbsConjuges
0  110001505000001           968
1  110001505000002           859
2  110001505000003           661
3  110001505000004           266
4  110001505000005          1206

**Pessoa11** - conferido

In [50]:
dfPessoa11Rondonia = pd.read_csv('dataAgrupados/Pessoa11_RO.csv', sep = ';', encoding = 'unicode_escape')

In [51]:
dfPessoa11Rondonia = dfPessoa11Rondonia[['Cod_setor', 'V001']]

In [52]:
dfPessoa11Rondonia = dfPessoa11Rondonia.replace('X', 0, regex= True)

In [53]:
dfPessoa11Rondonia.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [54]:
dfPessoa12Rondonia = pd.read_csv('dataAgrupados/Pessoa12_RO.csv', sep = ';', encoding = 'unicode_escape')

In [55]:
dfPessoa12Rondonia = dfPessoa12Rondonia.replace('X', 0, regex= True)

In [56]:
dfPessoa12Rondonia = dfPessoa12Rondonia[['Cod_setor', 'V001']]

In [57]:
dfPessoa12Rondonia.head()

         Cod_setor  V001
0  110001505000001   497
1  110001505000002   435
2  110001505000003   333
3  110001505000004   125
4  110001505000005   585

In [58]:
dfPessoa12Rondonia.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [59]:
dfPessoa12Rondonia.head()

         Cod_setor  nAbsMulheresResidentes
0  110001505000001                     497
1  110001505000002                     435
2  110001505000003                     333
3  110001505000004                     125
4  110001505000005                     585

**DomicilioRenda** - conferido

In [60]:
dfDomicilioRendaRondonia = pd.read_csv('dataAgrupados/DomicilioRenda_RO.csv', sep = ';', encoding = 'unicode_escape')

In [61]:
dfDomicilioRendaRondonia = dfDomicilioRendaRondonia[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [62]:
dfDomicilioRendaRondonia = dfDomicilioRendaRondonia.replace('X', 0, regex= True)

In [63]:
dfDomicilioRendaRondonia = dfDomicilioRendaRondonia.astype(int)

In [64]:
dfDomicilioRendaRondonia.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [65]:
dfDomicilioRendaRondonia.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,110001505000001,522231,522231,0
1,110001505000002,406191,406191,0
2,110001505000003,241587,241587,0
3,110001505000004,88502,88502,0
4,110001505000005,262860,262860,0

**ResponsavelRenda** - conferido

In [66]:
dfResponsavelRendaRondonia = pd.read_csv('dataAgrupados/ResponsavelRenda_RO.csv', sep = ';', encoding = 'unicode_escape')

In [67]:
dfResponsavelRendaRondonia = dfResponsavelRendaRondonia[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [68]:
dfResponsavelRendaRondonia = dfResponsavelRendaRondonia.replace('X', 0, regex= True)

In [69]:
dfResponsavelRendaRondonia = dfResponsavelRendaRondonia.astype(int)

In [70]:
dfResponsavelRendaRondonia['nAbsPessoasClasseE'] = dfResponsavelRendaRondonia['V001'] +dfResponsavelRendaRondonia['V002'] + dfResponsavelRendaRondonia['V003']

In [71]:
dfResponsavelRendaRondonia['nAbsPessoasClasseD'] = dfResponsavelRendaRondonia['V004']

In [72]:
dfResponsavelRendaRondonia['nAbsPessoasClasseC'] = dfResponsavelRendaRondonia['V005'] +dfResponsavelRendaRondonia['V006']

In [73]:
dfResponsavelRendaRondonia['nAbsPessoasClasseB'] = dfResponsavelRendaRondonia['V007']

In [74]:
dfResponsavelRendaRondonia['nAbsPessoasClasseA'] = dfResponsavelRendaRondonia['V008'] +  dfResponsavelRendaRondonia['V009']

In [75]:
dfResponsavelRendaRondonia.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [76]:
dfResponsavelRendaRondonia.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,110001505000001,203,32,49,1,0
1,110001505000002,167,29,36,2,0
2,110001505000003,148,12,9,1,0
3,110001505000004,61,7,4,0,0
4,110001505000005,251,8,5,0,0

**DATAFRAME TOTAL.**

In [77]:
data_frames = [dfBasicoRondonia, dfDomicilio01Rondonia, dfDomicilio02Rondonia, dfPessoa13Rondonia, dfPessoa11Rondonia, dfPessoa12Rondonia,
               dfDomicilioRendaRondonia, dfResponsavelRendaRondonia]

In [78]:
dfTotalRondonia = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [79]:
dfTotalRondonia.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,110001505000001,3.16,1000.83,637.19,916.17,315,293,10,65,35,...,471,497,522231,522231,0,203,32,49,1,0
1,110001505000002,3.25,925.75,555.45,885.82,264,264,0,35,31,...,424,435,406191,406191,0,167,29,36,2,0
2,110001505000003,3.29,639.29,435.05,639.91,201,200,1,33,19,...,328,333,241587,241587,0,148,12,9,1,0
3,110001505000004,3.17,620.88,388.17,655.57,84,84,0,13,13,...,141,125,88502,88502,0,61,7,4,0,0
4,110001505000005,3.39,425.03,283.56,494.10,356,356,0,41,50,...,621,585,262860,262860,0,251,8,5,0,0

In [80]:
dfTotalRondonia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2346 entries, 0 to 2345
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            2346 non-null   int64
 1   MediaMoradorDomicilio                                2343 non-null   float64
 2   RendaMediaDomicilio                                  2343 non-null   float64
 3   RendaMediaPerCapitaGeral                             2346 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     2335 non-null   float64
 5   nAbsDomicilios                                       2346 non-null   int64
 6   nAbsDomiciliosCasa                                   2346 non-null   object
 7   nAbsDomiciliosApto                                   2346 non-null   object
 8   nAbsImoveisAlugados                                  2346 non-null   object
 9   nAbs1PessoasDomicilio                                2346 non-null   object
 10  nAbs1PessoasDomicilio                                2346 non-null   object
 11  nAbs2PessoasDomicilio                                2346 non-null   object
 12  nAbs3PessoasDomicilio                                2346 non-null   object
 13  nAbs4PessoasDomicilio                                2346 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          2346 non-null   object
 15  nAbsHabitantes                                       2346 non-null   int64
 16  nAbsMoradoresCasa                                    2346 non-null   int64
 17  nAbsMoradoresApto                                    2346 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         2346 non-null   int64
 19  nAbsConjuges                                         2346 non-null   int64
 20  nAbsHomensResidentes                                 2346 non-null   int64
 21  nAbsMulheresResidentes                               2346 non-null   int64
 22  TotalRendNomMensalDomParticulares                    2346 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   2346 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  2346 non-null   int64
 25  nAbsPessoasClasseE                                   2346 non-null   int64
 26  nAbsPessoasClasseD                                   2346 non-null   int64
 27  nAbsPessoasClasseC                                   2346 non-null   int64
 28  nAbsPessoasClasseB                                   2346 non-null   int64
 29  nAbsPessoasClasseA                                   2346 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 568.2+ KB

In [81]:
dfTotalRondonia.to_csv('Rondonia.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio