In [12]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [13]:
dfBasicoRoraima = pd.read_csv('dataAgrupados/Basico_RR.csv', sep = ';', encoding = 'unicode_escape')

In [14]:
dfBasicoRoraima = dfBasicoRoraima[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [15]:
dfBasicoRoraima = dfBasicoRoraima.replace('X', 0, regex= True)

In [16]:
dfBasicoRoraima.head()

         Cod_setor  V003    V005    V009    V011
0  140002705000001  3,94  879,87  500,78  817,48
1  140002705000002  3,58  489,39  293,39  595,68
2  140002705000003   3,2     204  182,14     510
3  140002705000004  3,84  881,82  495,06  708,83
4  140002705000005  4,95  293,64  137,26  565,21

In [17]:
dfBasicoRoraima = dfBasicoRoraima.replace(',', '.', regex= True)

In [18]:
dfBasicoRoraima = dfBasicoRoraima.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [19]:
dfBasicoRoraima.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [20]:
dfDomicilio01Roraima = pd.read_csv('dataAgrupados/Domicilio01_RR.csv', sep = ';', encoding = 'unicode_escape')

In [21]:
dfDomicilio01Roraima = dfDomicilio01Roraima.replace('X', 0, regex= True)

In [22]:
#dfDomicilio01Roraima = dfDomicilio01Roraima.astype(int)

In [23]:
dfDomicilio01Roraima = dfDomicilio01Roraima[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [24]:
dfDomicilio01Roraima.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [25]:
dfDomicilio01Roraima['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Roraima['nAbs5PessoasDomicilio'] +dfDomicilio01Roraima['nAbs6PessoasDomicilio'] + dfDomicilio01Roraima['nAbs7PessoasDomicilio'] + dfDomicilio01Roraima['nAbs8PessoasDomicilio']
+ dfDomicilio01Roraima['nAbs9PessoasDomicilio'] + dfDomicilio01Roraima['nAbs10PessoasDomicilio']

0      34
1      12
2      00
3      01
4      43
       ..
819    12
820    01
821    24
822    24
823    37
Length: 824, dtype: object

In [26]:
dfDomicilio01Roraima.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [27]:
dfDomicilio02Roraima = pd.read_csv('dataAgrupados/Domicilio02_RR.csv', sep = ';', encoding = 'unicode_escape')

In [28]:
dfDomicilio02Roraima = dfDomicilio02Roraima.replace('X', 0, regex= True)

In [29]:
dfDomicilio02Roraima = dfDomicilio02Roraima.astype(int)

In [30]:
dfDomicilio02Roraima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824 entries, 0 to 823
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 862.8 KB

In [31]:
dfDomicilio02Roraima = dfDomicilio02Roraima[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [32]:
dfDomicilio02Roraima.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [33]:
dfDomicilio02Roraima.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,140002705000001,1219,1214,0,159
1,140002705000002,254,247,0,0
2,140002705000003,16,16,0,0
3,140002705000004,169,169,0,3
4,140002705000005,208,208,0,0

**Pessoa13** - conferido

In [34]:
dfPessoa13Roraima = pd.read_csv('dataAgrupados/Pessoa13_RR.csv', sep = ';', encoding = 'unicode_escape')

In [35]:
dfPessoa13Roraima = dfPessoa13Roraima[['Cod_setor', 'V001']]

In [36]:
dfPessoa13Roraima = dfPessoa13Roraima.replace('X', 0, regex= True)

In [37]:
dfPessoa13Roraima.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [38]:
dfPessoa13Roraima.head()

         Cod_setor  nAbsConjuges
0  140002705000001          1219
1  140002705000002           254
2  140002705000003            16
3  140002705000004           169
4  140002705000005           208

**Pessoa11** - conferido

In [39]:
dfPessoa11Roraima = pd.read_csv('dataAgrupados/Pessoa11_RR.csv', sep = ';', encoding = 'unicode_escape')

In [40]:
dfPessoa11Roraima = dfPessoa11Roraima[['Cod_setor', 'V001']]

In [41]:
dfPessoa11Roraima = dfPessoa11Roraima.replace('X', 0, regex= True)

In [42]:
dfPessoa11Roraima.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [43]:
dfPessoa12Roraima = pd.read_csv('dataAgrupados/Pessoa12_RR.csv', sep = ';', encoding = 'unicode_escape')

In [44]:
dfPessoa12Roraima = dfPessoa12Roraima.replace('X', 0, regex= True)

In [45]:
dfPessoa12Roraima = dfPessoa12Roraima[['Cod_setor', 'V001']]

In [46]:
dfPessoa12Roraima.head()

         Cod_setor  V001
0  140002705000001   588
1  140002705000002    92
2  140002705000003     9
3  140002705000004    63
4  140002705000005    98

In [47]:
dfPessoa12Roraima.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [48]:
dfPessoa12Roraima.head()

         Cod_setor  nAbsMulheresResidentes
0  140002705000001                     588
1  140002705000002                      92
2  140002705000003                       9
3  140002705000004                      63
4  140002705000005                      98

**DomicilioRenda** - conferido

In [49]:
dfDomicilioRendaRoraima = pd.read_csv('dataAgrupados/DomicilioRenda_RR.csv', sep = ';', encoding = 'unicode_escape')

In [50]:
dfDomicilioRendaRoraima = dfDomicilioRendaRoraima[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [51]:
dfDomicilioRendaRoraima = dfDomicilioRendaRoraima.replace('X', 0, regex= True)

In [52]:
dfDomicilioRendaRoraima = dfDomicilioRendaRoraima.astype(int)

In [53]:
dfDomicilioRendaRoraima.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [54]:
dfDomicilioRendaRoraima.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,140002705000001,461234,461234,0
1,140002705000002,52700,52700,0
2,140002705000003,2550,2550,0
3,140002705000004,50897,50897,0
4,140002705000005,19217,19217,0

**ResponsavelRenda** - conferido

In [55]:
dfResponsavelRendaRoraima = pd.read_csv('dataAgrupados/ResponsavelRenda_RR.csv', sep = ';', encoding = 'unicode_escape')

In [56]:
dfResponsavelRendaRoraima = dfResponsavelRendaRoraima[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [57]:
dfResponsavelRendaRoraima = dfResponsavelRendaRoraima.replace('X', 0, regex= True)

In [58]:
dfResponsavelRendaRoraima = dfResponsavelRendaRoraima.astype(int)

In [59]:
dfResponsavelRendaRoraima['nAbsPessoasClasseE'] = dfResponsavelRendaRoraima['V001'] +dfResponsavelRendaRoraima['V002'] + dfResponsavelRendaRoraima['V003']

In [60]:
dfResponsavelRendaRoraima['nAbsPessoasClasseD'] = dfResponsavelRendaRoraima['V004']

In [61]:
dfResponsavelRendaRoraima['nAbsPessoasClasseC'] = dfResponsavelRendaRoraima['V005'] +dfResponsavelRendaRoraima['V006']

In [62]:
dfResponsavelRendaRoraima['nAbsPessoasClasseB'] = dfResponsavelRendaRoraima['V007']

In [63]:
dfResponsavelRendaRoraima['nAbsPessoasClasseA'] = dfResponsavelRendaRoraima['V008'] +  dfResponsavelRendaRoraima['V009']

In [64]:
dfResponsavelRendaRoraima.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [65]:
dfResponsavelRendaRoraima.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,140002705000001,224,20,32,3,1
1,140002705000002,48,2,2,0,0
2,140002705000003,2,0,0,0,0
3,140002705000004,39,0,2,0,1
4,140002705000005,21,2,0,0,0

**DATAFRAME TOTAL.**

In [66]:
data_frames = [dfBasicoRoraima, dfDomicilio01Roraima, dfDomicilio02Roraima, dfPessoa13Roraima, dfPessoa11Roraima, dfPessoa12Roraima,
               dfDomicilioRendaRoraima, dfResponsavelRendaRoraima]

In [67]:
dfTotalRoraima = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [68]:
dfTotalRoraima.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,140002705000001,3.94,879.87,500.78,817.48,310,307,0,49,35,...,631,588,461234,461234,0,224,20,32,3,1
1,140002705000002,3.58,489.39,293.39,595.68,76,69,0,0,18,...,162,92,52700,52700,0,48,2,2,0,0
2,140002705000003,3.20,204.00,182.14,510.00,5,5,0,0,1,...,7,9,2550,2550,0,2,0,0,0,0
3,140002705000004,3.84,881.82,495.06,708.83,44,44,0,1,5,...,106,63,50897,50897,0,39,0,2,0,1
4,140002705000005,4.95,293.64,137.26,565.21,42,42,0,0,5,...,110,98,19217,19217,0,21,2,0,0,0

In [69]:
dfTotalRoraima.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 824 entries, 0 to 823
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            824 non-null    int64
 1   MediaMoradorDomicilio                                822 non-null    float64
 2   RendaMediaDomicilio                                  822 non-null    float64
 3   RendaMediaPerCapitaGeral                             824 non-null    float64
 4   RendaMediaPerCapitaComRendimento                     813 non-null    float64
 5   nAbsDomicilios                                       824 non-null    int64
 6   nAbsDomiciliosCasa                                   824 non-null    object
 7   nAbsDomiciliosApto                                   824 non-null    object
 8   nAbsImoveisAlugados                                  824 non-null    object
 9   nAbs1PessoasDomicilio                                824 non-null    object
 10  nAbs1PessoasDomicilio                                824 non-null    object
 11  nAbs2PessoasDomicilio                                824 non-null    object
 12  nAbs3PessoasDomicilio                                824 non-null    object
 13  nAbs4PessoasDomicilio                                824 non-null    object
 14  nAbs5ouMaisPessoasDomicilio                          824 non-null    object
 15  nAbsHabitantes                                       824 non-null    int64
 16  nAbsMoradoresCasa                                    824 non-null    int64
 17  nAbsMoradoresApto                                    824 non-null    int64
 18  nAbsMoradoresImoveisAlugados                         824 non-null    int64
 19  nAbsConjuges                                         824 non-null    int64
 20  nAbsHomensResidentes                                 824 non-null    int64
 21  nAbsMulheresResidentes                               824 non-null    int64
 22  TotalRendNomMensalDomParticulares                    824 non-null    int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   824 non-null    int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  824 non-null    int64
 25  nAbsPessoasClasseE                                   824 non-null    int64
 26  nAbsPessoasClasseD                                   824 non-null    int64
 27  nAbsPessoasClasseC                                   824 non-null    int64
 28  nAbsPessoasClasseB                                   824 non-null    int64
 29  nAbsPessoasClasseA                                   824 non-null    int64
dtypes: float64(4), int64(17), object(9)
memory usage: 199.6+ KB

In [70]:
dfTotalRoraima.to_csv('Roraima.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio