In [8]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [9]:
dfBasicoSantaCatarina = pd.read_csv('dataAgrupados/Basico_SC.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfBasicoSantaCatarina = dfBasicoSantaCatarina[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [11]:
dfBasicoSantaCatarina = dfBasicoSantaCatarina.replace('X', 0, regex= True)

In [12]:
dfBasicoSantaCatarina.head()

         Cod_setor  V003     V005    V009    V011
0  420005105000001  3,09  1205,48  729,93  938,05
1  420005105000002  2,99  1111,95  579,12  880,74
2  420005105000003  3,29   689,52  372,95  635,28
3  420005105000004  3,23   697,43  369,89     588
4  420005105000005  3,06   759,77  446,83  693,86

In [13]:
dfBasicoSantaCatarina = dfBasicoSantaCatarina.replace(',', '.', regex= True)

In [14]:
dfBasicoSantaCatarina = dfBasicoSantaCatarina.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [15]:
dfBasicoSantaCatarina.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [16]:
dfDomicilio01SantaCatarina = pd.read_csv('dataAgrupados/Domicilio01_SC.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio01SantaCatarina = dfDomicilio01SantaCatarina.replace('X', 0, regex= True)

In [18]:
#dfDomicilio01SantaCatarina = dfDomicilio01SantaCatarina.astype(int)

In [19]:
dfDomicilio01SantaCatarina = dfDomicilio01SantaCatarina[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [20]:
dfDomicilio01SantaCatarina.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [21]:
dfDomicilio01SantaCatarina['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01SantaCatarina['nAbs5PessoasDomicilio'] +dfDomicilio01SantaCatarina['nAbs6PessoasDomicilio'] + dfDomicilio01SantaCatarina['nAbs7PessoasDomicilio'] + dfDomicilio01SantaCatarina['nAbs8PessoasDomicilio']
+ dfDomicilio01SantaCatarina['nAbs9PessoasDomicilio'] + dfDomicilio01SantaCatarina['nAbs10PessoasDomicilio']

0        00
1        00
2        01
3        00
4        11
         ..
11877    00
11878    00
11879    00
11880    10
11881    00
Length: 11882, dtype: object

In [22]:
dfDomicilio01SantaCatarina.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [23]:
dfDomicilio02SantaCatarina = pd.read_csv('dataAgrupados/Domicilio02_SC.csv', sep = ';', encoding = 'unicode_escape')

In [24]:
dfDomicilio02SantaCatarina = dfDomicilio02SantaCatarina.replace('X', 0, regex= True)

In [25]:
dfDomicilio02SantaCatarina = dfDomicilio02SantaCatarina.astype(int)

In [26]:
dfDomicilio02SantaCatarina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11882 entries, 0 to 11881
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 12.1 MB

In [27]:
dfDomicilio02SantaCatarina = dfDomicilio02SantaCatarina[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [28]:
dfDomicilio02SantaCatarina.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [29]:
dfDomicilio02SantaCatarina.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,420005105000001,724,722,2,64
1,420005105000002,341,341,0,17
2,420005105000003,459,458,0,0
3,420005105000004,471,465,0,9
4,420005105000005,658,658,0,16

**Pessoa13** - conferido

In [30]:
dfPessoa13SantaCatarina = pd.read_csv('dataAgrupados/Pessoa13_SC.csv', sep = ';', encoding = 'unicode_escape')

In [31]:
dfPessoa13SantaCatarina = dfPessoa13SantaCatarina[['Cod_setor', 'V001']]

In [32]:
dfPessoa13SantaCatarina = dfPessoa13SantaCatarina.replace('X', 0, regex= True)

In [33]:
dfPessoa13SantaCatarina.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [34]:
dfPessoa13SantaCatarina.head()

         Cod_setor  nAbsConjuges
0  420005105000001           724
1  420005105000002           341
2  420005105000003           459
3  420005105000004           471
4  420005105000005           658

**Pessoa11** - conferido

In [35]:
dfPessoa11SantaCatarina = pd.read_csv('dataAgrupados/Pessoa11_SC.csv', sep = ';', encoding = 'unicode_escape')

In [36]:
dfPessoa11SantaCatarina = dfPessoa11SantaCatarina[['Cod_setor', 'V001']]

In [37]:
dfPessoa11SantaCatarina = dfPessoa11SantaCatarina.replace('X', 0, regex= True)

In [38]:
dfPessoa11SantaCatarina.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [39]:
dfPessoa12SantaCatarina = pd.read_csv('dataAgrupados/Pessoa12_SC.csv', sep = ';', encoding = 'unicode_escape')

In [40]:
dfPessoa12SantaCatarina = dfPessoa12SantaCatarina.replace('X', 0, regex= True)

In [41]:
dfPessoa12SantaCatarina = dfPessoa12SantaCatarina[['Cod_setor', 'V001']]

In [42]:
dfPessoa12SantaCatarina.head()

         Cod_setor  V001
0  420005105000001   363
1  420005105000002   160
2  420005105000003   213
3  420005105000004   223
4  420005105000005   312

In [43]:
dfPessoa12SantaCatarina.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [44]:
dfPessoa12SantaCatarina.head()

         Cod_setor  nAbsMulheresResidentes
0  420005105000001                     363
1  420005105000002                     160
2  420005105000003                     213
3  420005105000004                     223
4  420005105000005                     312

**DomicilioRenda** - conferido

In [45]:
dfDomicilioRendaSantaCatarina = pd.read_csv('dataAgrupados/DomicilioRenda_SC.csv', sep = ';', encoding = 'unicode_escape')

In [46]:
dfDomicilioRendaSantaCatarina = dfDomicilioRendaSantaCatarina[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [47]:
dfDomicilioRendaSantaCatarina = dfDomicilioRendaSantaCatarina.replace('X', 0, regex= True)

In [48]:
dfDomicilioRendaSantaCatarina = dfDomicilioRendaSantaCatarina.astype(int)

In [49]:
dfDomicilioRendaSantaCatarina.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [50]:
dfDomicilioRendaSantaCatarina.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,420005105000001,459444,459444,0
1,420005105000002,169102,169102,0
2,420005105000003,149927,149927,0
3,420005105000004,147587,147137,450
4,420005105000005,256033,256033,0

**ResponsavelRenda** - conferido

In [52]:
dfResponsavelRendaSantaCatarina = pd.read_csv('dataAgrupados/ResponsavelRenda_SC.csv', sep = ';', encoding = 'unicode_escape')

In [53]:
dfResponsavelRendaSantaCatarina = dfResponsavelRendaSantaCatarina[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [54]:
dfResponsavelRendaSantaCatarina = dfResponsavelRendaSantaCatarina.replace('X', 0, regex= True)

In [55]:
dfResponsavelRendaSantaCatarina = dfResponsavelRendaSantaCatarina.astype(int)

In [56]:
dfResponsavelRendaSantaCatarina['nAbsPessoasClasseE'] = dfResponsavelRendaSantaCatarina['V001'] +dfResponsavelRendaSantaCatarina['V002'] + dfResponsavelRendaSantaCatarina['V003']

In [57]:
dfResponsavelRendaSantaCatarina['nAbsPessoasClasseD'] = dfResponsavelRendaSantaCatarina['V004']

In [58]:
dfResponsavelRendaSantaCatarina['nAbsPessoasClasseC'] = dfResponsavelRendaSantaCatarina['V005'] +dfResponsavelRendaSantaCatarina['V006']

In [59]:
dfResponsavelRendaSantaCatarina['nAbsPessoasClasseB'] = dfResponsavelRendaSantaCatarina['V007']

In [60]:
dfResponsavelRendaSantaCatarina['nAbsPessoasClasseA'] = dfResponsavelRendaSantaCatarina['V008'] +  dfResponsavelRendaSantaCatarina['V009']

In [61]:
dfResponsavelRendaSantaCatarina.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [62]:
dfResponsavelRendaSantaCatarina.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,420005105000001,143,36,48,3,0
1,420005105000002,89,9,14,0,1
2,420005105000003,107,10,8,0,0
3,420005105000004,118,11,11,0,0
4,420005105000005,167,24,18,0,0

**DATAFRAME TOTAL.**

In [63]:
data_frames = [dfBasicoSantaCatarina, dfDomicilio01SantaCatarina, dfDomicilio02SantaCatarina, dfPessoa13SantaCatarina, dfPessoa11SantaCatarina, dfPessoa12SantaCatarina,
               dfDomicilioRendaSantaCatarina, dfResponsavelRendaSantaCatarina]

In [64]:
dfTotalSantaCatarina = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [65]:
dfTotalSantaCatarina.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,420005105000001,3.09,1205.48,729.93,938.05,234,233,1,25,16,...,361,363,459444,459444,0,143,36,48,3,0
1,420005105000002,2.99,1111.95,579.12,880.74,114,114,0,4,5,...,181,160,169102,169102,0,89,9,14,0,1
2,420005105000003,3.29,689.52,372.95,635.28,140,139,0,0,20,...,246,213,149927,149927,0,107,10,8,0,0
3,420005105000004,3.23,697.43,369.89,588.00,145,144,0,3,9,...,248,223,147587,147137,450,118,11,11,0,0
4,420005105000005,3.06,759.77,446.83,693.86,215,215,0,6,14,...,346,312,256033,256033,0,167,24,18,0,0

In [66]:
dfTotalSantaCatarina.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11882 entries, 0 to 11881
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            11882 non-null  int64
 1   MediaMoradorDomicilio                                11863 non-null  float64
 2   RendaMediaDomicilio                                  11863 non-null  float64
 3   RendaMediaPerCapitaGeral                             11882 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     11877 non-null  float64
 5   nAbsDomicilios                                       11882 non-null  int64
 6   nAbsDomiciliosCasa                                   11882 non-null  object
 7   nAbsDomiciliosApto                                   11882 non-null  object
 8   nAbsImoveisAlugados                                  11882 non-null  object
 9   nAbs1PessoasDomicilio                                11882 non-null  object
 10  nAbs1PessoasDomicilio                                11882 non-null  object
 11  nAbs2PessoasDomicilio                                11882 non-null  object
 12  nAbs3PessoasDomicilio                                11882 non-null  object
 13  nAbs4PessoasDomicilio                                11882 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          11882 non-null  object
 15  nAbsHabitantes                                       11882 non-null  int64
 16  nAbsMoradoresCasa                                    11882 non-null  int64
 17  nAbsMoradoresApto                                    11882 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         11882 non-null  int64
 19  nAbsConjuges                                         11882 non-null  int64
 20  nAbsHomensResidentes                                 11882 non-null  int64
 21  nAbsMulheresResidentes                               11882 non-null  int64
 22  TotalRendNomMensalDomParticulares                    11882 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   11882 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  11882 non-null  int64
 25  nAbsPessoasClasseE                                   11882 non-null  int64
 26  nAbsPessoasClasseD                                   11882 non-null  int64
 27  nAbsPessoasClasseC                                   11882 non-null  int64
 28  nAbsPessoasClasseB                                   11882 non-null  int64
 29  nAbsPessoasClasseA                                   11882 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 2.8+ MB

In [67]:
dfTotalSantaCatarina.to_csv('SantaCatarina.csv', sep= ';', encoding = 'utf-8')