In [81]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [82]:
dfBasicoSaoPauloExC = pd.read_csv('dataAgrupados/Basico_SP2.csv', sep = ';', encoding = 'unicode_escape')

In [83]:
dfBasicoSaoPauloExC.head()

,ï»¿Cod_setor,Cod_Grandes RegiÃµes,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,350010505000001,3,RegiÃ£o Sudeste,SP,SÃ£o Paulo,3508,Presidente Prudente,35035,Adamantina,0,...,"2,04","1,11","2103,64","4968912,37","2191,9","4984036,79","1530,51","4163648,03","1901,54","4468808,1"
1,350010505000002,3,RegiÃ£o Sudeste,SP,SÃ£o Paulo,3508,Presidente Prudente,35035,Adamantina,0,...,"2,67","1,77","1899,91","3969367,45","1980,76","3978169,48","1180,37","2621328,25","1572,39","2875973,5"
2,350010505000003,3,RegiÃ£o Sudeste,SP,SÃ£o Paulo,3508,Presidente Prudente,35035,Adamantina,0,...,"2,43","1,33","3170,82","14377539,93","3246,68","14475686,47","1908,64","10014924,33","2536,42",11721183
3,350010505000004,3,RegiÃ£o Sudeste,SP,SÃ£o Paulo,3508,Presidente Prudente,35035,Adamantina,0,...,"2,74","1,85","2782,6","12624098,34","2882,7","12790260,49","1583,46","7209788,84","2141,47","8558034,75"
4,350010505000005,3,RegiÃ£o Sudeste,SP,SÃ£o Paulo,3508,Presidente Prudente,35035,Adamantina,0,...,"2,79","1,85","2050,27","101395096,1","2455,27",120508046,"1423,52","40900639,93","1908,13","53922664,72"

In [84]:
dfBasicoSaoPauloExC = dfBasicoSaoPauloExC[['ï»¿Cod_setor','V003', 'V005', 'V009', 'V011']]

In [85]:
dfBasicoSaoPauloExC = dfBasicoSaoPauloExC.replace('X', 0, regex= True)

In [86]:
dfBasicoSaoPauloExC.head()

      ï»¿Cod_setor  V003     V005     V009     V011
0  350010505000001  2,04  2103,64  1530,51  1901,54
1  350010505000002  2,67  1899,91  1180,37  1572,39
2  350010505000003  2,43  3170,82  1908,64  2536,42
3  350010505000004  2,74   2782,6  1583,46  2141,47
4  350010505000005  2,79  2050,27  1423,52  1908,13

In [87]:
dfBasicoSaoPauloExC = dfBasicoSaoPauloExC.replace(',', '.', regex= True)

In [88]:
dfBasicoSaoPauloExC = dfBasicoSaoPauloExC.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [89]:
dfBasicoSaoPauloExC.rename(columns = {'ï»¿Cod_setor': 'Cod_setor','V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [90]:
dfDomicilio01SaoPauloExC = pd.read_csv('dataAgrupados/Domicilio01_SP2.csv', sep = ';', encoding = 'unicode_escape')

In [91]:
dfDomicilio01SaoPauloExC = dfDomicilio01SaoPauloExC.replace('X', 0, regex= True)

In [92]:
#dfDomicilio01SaoPauloExC = dfDomicilio01SaoPauloExC.astype(int)

In [93]:
dfDomicilio01SaoPauloExC = dfDomicilio01SaoPauloExC[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [94]:
dfDomicilio01SaoPauloExC.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [95]:
dfDomicilio01SaoPauloExC['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01SaoPauloExC['nAbs5PessoasDomicilio'] +dfDomicilio01SaoPauloExC['nAbs6PessoasDomicilio'] + dfDomicilio01SaoPauloExC['nAbs7PessoasDomicilio'] + dfDomicilio01SaoPauloExC['nAbs8PessoasDomicilio']
+ dfDomicilio01SaoPauloExC['nAbs9PessoasDomicilio'] + dfDomicilio01SaoPauloExC['nAbs10PessoasDomicilio']

0        00
1        00
2        00
3        10
4        10
         ..
47728    22
47729    00
47730    00
47731    13
47732    20
Length: 47733, dtype: object

In [96]:
dfDomicilio01SaoPauloExC.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [97]:
dfDomicilio02SaoPauloExC = pd.read_csv('dataAgrupados/Domicilio02_SP2.csv', sep = ';', encoding = 'unicode_escape')

In [98]:
dfDomicilio02SaoPauloExC = dfDomicilio02SaoPauloExC.replace('X', 0, regex= True)

In [99]:
dfDomicilio02SaoPauloExC = dfDomicilio02SaoPauloExC.astype(int)

In [100]:
dfDomicilio02SaoPauloExC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47733 entries, 0 to 47732
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 48.8 MB

In [101]:
dfDomicilio02SaoPauloExC = dfDomicilio02SaoPauloExC[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [102]:
dfDomicilio02SaoPauloExC.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [103]:
dfDomicilio02SaoPauloExC.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,350010505000001,304,196,100,123
1,350010505000002,785,772,13,264
2,350010505000003,524,463,56,91
3,350010505000004,795,780,8,254
4,350010505000005,813,771,40,197

**Pessoa13** - conferido

In [104]:
dfPessoa13SaoPauloExC = pd.read_csv('dataAgrupados/Pessoa13_SP.csv', sep = ';', encoding = 'unicode_escape')

In [105]:
dfPessoa13SaoPauloExC = dfPessoa13SaoPauloExC[['Cod_setor', 'V001']]

In [106]:
dfPessoa13SaoPauloExC = dfPessoa13SaoPauloExC.replace('X', 0, regex= True)

In [107]:
dfPessoa13SaoPauloExC.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [108]:
dfPessoa13SaoPauloExC.head()

         Cod_setor  nAbsConjuges
0  350010505000001           304
1  350010505000002           785
2  350010505000003           524
3  350010505000004           795
4  350010505000005           813

**Pessoa11** - conferido

In [109]:
dfPessoa11SaoPauloExC = pd.read_csv('dataAgrupados/Pessoa11_SP.csv', sep = ';', encoding = 'unicode_escape')

In [110]:
dfPessoa11SaoPauloExC = dfPessoa11SaoPauloExC[['Cod_setor', 'V001']]

In [111]:
dfPessoa11SaoPauloExC = dfPessoa11SaoPauloExC.replace('X', 0, regex= True)

In [112]:
dfPessoa11SaoPauloExC.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [113]:
dfPessoa12SaoPauloExC = pd.read_csv('dataAgrupados/Pessoa12_SP.csv', sep = ';', encoding = 'unicode_escape')

In [114]:
dfPessoa12SaoPauloExC = dfPessoa12SaoPauloExC.replace('X', 0, regex= True)

In [115]:
dfPessoa12SaoPauloExC = dfPessoa12SaoPauloExC[['Cod_setor', 'V001']]

In [116]:
dfPessoa12SaoPauloExC.head()

         Cod_setor  V001
0  350010505000001   155
1  350010505000002   414
2  350010505000003   286
3  350010505000004   420
4  350010505000005   442

In [117]:
dfPessoa12SaoPauloExC.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [118]:
dfPessoa12SaoPauloExC.head()

         Cod_setor  nAbsMulheresResidentes
0  350010505000001                     155
1  350010505000002                     414
2  350010505000003                     286
3  350010505000004                     420
4  350010505000005                     442

**DomicilioRenda** - conferido

In [119]:
dfDomicilioRendaSaoPauloExC = pd.read_csv('dataAgrupados/DomicilioRenda_SP2.csv', sep = ';', encoding = 'unicode_escape')

In [120]:
dfDomicilioRendaSaoPauloExC = dfDomicilioRendaSaoPauloExC[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [121]:
dfDomicilioRendaSaoPauloExC = dfDomicilioRendaSaoPauloExC.replace('X', 0, regex= True)

In [122]:
dfDomicilioRendaSaoPauloExC = dfDomicilioRendaSaoPauloExC.astype(int)

In [123]:
dfDomicilioRendaSaoPauloExC.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [124]:
dfDomicilioRendaSaoPauloExC.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,350010505000001,439255,439255,0
1,350010505000002,866389,866389,0
2,350010505000003,921529,917329,4200
3,350010505000004,1160677,1160677,0
4,350010505000005,1074174,1074174,0

**ResponsavelRenda** - conferido

In [125]:
dfResponsavelRendaSaoPauloExC = pd.read_csv('dataAgrupados/ResponsavelRenda_SP2.csv', sep = ';', encoding = 'unicode_escape')

In [126]:
dfResponsavelRendaSaoPauloExC = dfResponsavelRendaSaoPauloExC[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [127]:
dfResponsavelRendaSaoPauloExC = dfResponsavelRendaSaoPauloExC.replace('X', 0, regex= True)

In [128]:
dfResponsavelRendaSaoPauloExC = dfResponsavelRendaSaoPauloExC.astype(int)

In [129]:
dfResponsavelRendaSaoPauloExC['nAbsPessoasClasseE'] = dfResponsavelRendaSaoPauloExC['V001'] +dfResponsavelRendaSaoPauloExC['V002'] + dfResponsavelRendaSaoPauloExC['V003']

In [130]:
dfResponsavelRendaSaoPauloExC['nAbsPessoasClasseD'] = dfResponsavelRendaSaoPauloExC['V004']

In [131]:
dfResponsavelRendaSaoPauloExC['nAbsPessoasClasseC'] = dfResponsavelRendaSaoPauloExC['V005'] +dfResponsavelRendaSaoPauloExC['V006']

In [132]:
dfResponsavelRendaSaoPauloExC['nAbsPessoasClasseB'] = dfResponsavelRendaSaoPauloExC['V007']

In [133]:
dfResponsavelRendaSaoPauloExC['nAbsPessoasClasseA'] = dfResponsavelRendaSaoPauloExC['V008'] +  dfResponsavelRendaSaoPauloExC['V009']

In [134]:
dfResponsavelRendaSaoPauloExC.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [135]:
dfResponsavelRendaSaoPauloExC.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,350010505000001,48,24,63,3,5
1,350010505000002,130,48,85,10,9
2,350010505000003,58,27,89,13,23
3,350010505000004,91,42,114,12,19
4,350010505000005,121,34,76,2,10

**DATAFRAME TOTAL.**

In [136]:
data_frames = [dfBasicoSaoPauloExC, dfDomicilio01SaoPauloExC, dfDomicilio02SaoPauloExC, dfPessoa13SaoPauloExC, dfPessoa11SaoPauloExC, dfPessoa12SaoPauloExC,
               dfDomicilioRendaSaoPauloExC, dfResponsavelRendaSaoPauloExC]

In [137]:
dfTotalSaoPauloExC = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [138]:
dfTotalSaoPauloExC.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,350010505000001,2.04,2103.64,1530.51,1901.54,149,83,58,70,56,...,149,155,439255,439255,0,48,24,63,3,5
1,350010505000002,2.67,1899.91,1180.37,1572.39,294,287,7,88,56,...,371,414,866389,866389,0,130,48,85,10,9
2,350010505000003,2.43,3170.82,1908.64,2536.42,219,188,26,37,47,...,238,286,921529,917329,4200,58,27,89,13,23
3,350010505000004,2.74,2782.60,1583.46,2141.47,295,284,4,78,46,...,375,420,1160677,1160677,0,91,42,114,12,19
4,350010505000005,2.79,2050.27,1423.52,1908.13,291,274,16,62,48,...,371,442,1074174,1074174,0,121,34,76,2,10

In [139]:
dfTotalSaoPauloExC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47733 entries, 0 to 47732
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            47733 non-null  int64
 1   MediaMoradorDomicilio                                47479 non-null  float64
 2   RendaMediaDomicilio                                  47479 non-null  float64
 3   RendaMediaPerCapitaGeral                             47732 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     47655 non-null  float64
 5   nAbsDomicilios                                       47733 non-null  int64
 6   nAbsDomiciliosCasa                                   47733 non-null  object
 7   nAbsDomiciliosApto                                   47733 non-null  object
 8   nAbsImoveisAlugados                                  47733 non-null  object
 9   nAbs1PessoasDomicilio                                47733 non-null  object
 10  nAbs1PessoasDomicilio                                47733 non-null  object
 11  nAbs2PessoasDomicilio                                47733 non-null  object
 12  nAbs3PessoasDomicilio                                47733 non-null  object
 13  nAbs4PessoasDomicilio                                47733 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          47733 non-null  object
 15  nAbsHabitantes                                       47733 non-null  int64
 16  nAbsMoradoresCasa                                    47733 non-null  int64
 17  nAbsMoradoresApto                                    47733 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         47733 non-null  int64
 19  nAbsConjuges                                         47733 non-null  int64
 20  nAbsHomensResidentes                                 47733 non-null  int64
 21  nAbsMulheresResidentes                               47733 non-null  int64
 22  TotalRendNomMensalDomParticulares                    47733 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   47733 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  47733 non-null  int64
 25  nAbsPessoasClasseE                                   47733 non-null  int64
 26  nAbsPessoasClasseD                                   47733 non-null  int64
 27  nAbsPessoasClasseC                                   47733 non-null  int64
 28  nAbsPessoasClasseB                                   47733 non-null  int64
 29  nAbsPessoasClasseA                                   47733 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 11.3+ MB

In [140]:
dfTotalSaoPauloExC.to_csv('SPExcetoCapital.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio