In [29]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [30]:
dfBasicoSPCapital = pd.read_csv('dataAgrupados/Basico_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [31]:
dfBasicoSPCapital = dfBasicoSPCapital[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [32]:
dfBasicoSPCapital = dfBasicoSPCapital.replace('X', 0, regex= True)

In [33]:
dfBasicoSPCapital.head()

         Cod_setor  V003     V005     V009     V011
0  355030801000001  3,01  2091,32  1227,41  1713,75
1  355030801000002  2,98  1650,09  1045,78  1468,08
2  355030801000003  3,31  1280,43   902,97  1786,79
3  355030801000004  3,16  1119,59   869,09  1567,41
4  355030801000005  3,14   1416,9   917,71  1356,35

In [34]:
dfBasicoSPCapital = dfBasicoSPCapital.replace(',', '.', regex= True)

In [35]:
dfBasicoSPCapital = dfBasicoSPCapital.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [36]:
dfBasicoSPCapital.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [37]:
dfDomicilio01SPCapital = pd.read_csv('dataAgrupados/Domicilio01_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [38]:
dfDomicilio01SPCapital = dfDomicilio01SPCapital.replace('X', 0, regex= True)

In [39]:
#dfDomicilio01SPCapital = dfDomicilio01SPCapital.astype(int)

In [40]:
dfDomicilio01SPCapital = dfDomicilio01SPCapital[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [41]:
dfDomicilio01SPCapital.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [42]:
dfDomicilio01SPCapital['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01SPCapital['nAbs5PessoasDomicilio'] +dfDomicilio01SPCapital['nAbs6PessoasDomicilio'] + dfDomicilio01SPCapital['nAbs7PessoasDomicilio'] + dfDomicilio01SPCapital['nAbs8PessoasDomicilio']
+ dfDomicilio01SPCapital['nAbs9PessoasDomicilio'] + dfDomicilio01SPCapital['nAbs10PessoasDomicilio']

0        10
1        02
2        21
3        10
4        01
         ..
18358    11
18359    00
18360    01
18361    11
18362    30
Length: 18363, dtype: object

In [43]:
dfDomicilio01SPCapital.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [44]:
dfDomicilio02SPCapital = pd.read_csv('dataAgrupados/Domicilio02_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [45]:
dfDomicilio02SPCapital = dfDomicilio02SPCapital.replace('X', 0, regex= True)

In [46]:
dfDomicilio02SPCapital = dfDomicilio02SPCapital.astype(int)

In [47]:
dfDomicilio02SPCapital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18363 entries, 0 to 18362
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 18.8 MB

In [48]:
dfDomicilio02SPCapital = dfDomicilio02SPCapital[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [49]:
dfDomicilio02SPCapital.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [50]:
dfDomicilio02SPCapital.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,355030801000001,806,623,28,360
1,355030801000002,913,891,0,261
2,355030801000003,625,595,18,151
3,355030801000004,572,496,65,286
4,355030801000005,754,716,30,354

**Pessoa13** - conferido

In [51]:
dfPessoa13SPCapital = pd.read_csv('dataAgrupados/Pessoa13_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [52]:
dfPessoa13SPCapital = dfPessoa13SPCapital[['Cod_setor', 'V001']]

In [53]:
dfPessoa13SPCapital = dfPessoa13SPCapital.replace('X', 0, regex= True)

In [54]:
dfPessoa13SPCapital.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [55]:
dfPessoa13SPCapital.head()

         Cod_setor  nAbsConjuges
0  355030801000001           806
1  355030801000002           913
2  355030801000003           625
3  355030801000004           572
4  355030801000005           754

**Pessoa11** - conferido

In [56]:
dfPessoa11SPCapital = pd.read_csv('dataAgrupados/Pessoa11_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [57]:
dfPessoa11SPCapital = dfPessoa11SPCapital[['Cod_setor', 'V001']]

In [58]:
dfPessoa11SPCapital = dfPessoa11SPCapital.replace('X', 0, regex= True)

In [59]:
dfPessoa11SPCapital.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [60]:
dfPessoa12SPCapital = pd.read_csv('dataAgrupados/Pessoa12_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [61]:
dfPessoa12SPCapital = dfPessoa12SPCapital.replace('X', 0, regex= True)

In [62]:
dfPessoa12SPCapital = dfPessoa12SPCapital[['Cod_setor', 'V001']]

In [63]:
dfPessoa12SPCapital.head()

         Cod_setor  V001
0  355030801000001   428
1  355030801000002   495
2  355030801000003   329
3  355030801000004   296
4  355030801000005   399

In [64]:
dfPessoa12SPCapital.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [65]:
dfPessoa12SPCapital.head()

         Cod_setor  nAbsMulheresResidentes
0  355030801000001                     428
1  355030801000002                     495
2  355030801000003                     329
3  355030801000004                     296
4  355030801000005                     399

**DomicilioRenda** - conferido

In [66]:
dfDomicilioRendaSPCapital = pd.read_csv('dataAgrupados/DomicilioRenda_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [67]:
dfDomicilioRendaSPCapital = dfDomicilioRendaSPCapital[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [68]:
dfDomicilioRendaSPCapital = dfDomicilioRendaSPCapital.replace('X', 0, regex= True)

In [69]:
dfDomicilioRendaSPCapital = dfDomicilioRendaSPCapital.astype(int)

In [70]:
dfDomicilioRendaSPCapital.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [71]:
dfDomicilioRendaSPCapital.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,355030801000001,907777,903817,3960
1,355030801000002,846525,846525,0
2,355030801000003,505662,505662,0
3,355030801000004,446011,446011,0
4,355030801000005,615215,615215,0

**ResponsavelRenda** - conferido

In [72]:
dfResponsavelRendaSPCapital = pd.read_csv('dataAgrupados/ResponsavelRenda_SP1.csv', sep = ';', encoding = 'unicode_escape')

In [73]:
dfResponsavelRendaSPCapital = dfResponsavelRendaSPCapital[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [74]:
dfResponsavelRendaSPCapital = dfResponsavelRendaSPCapital.replace('X', 0, regex= True)

In [75]:
dfResponsavelRendaSPCapital = dfResponsavelRendaSPCapital.astype(int)

In [76]:
dfResponsavelRendaSPCapital['nAbsPessoasClasseE'] = dfResponsavelRendaSPCapital['V001'] +dfResponsavelRendaSPCapital['V002'] + dfResponsavelRendaSPCapital['V003']

In [77]:
dfResponsavelRendaSPCapital['nAbsPessoasClasseD'] = dfResponsavelRendaSPCapital['V004']

In [78]:
dfResponsavelRendaSPCapital['nAbsPessoasClasseC'] = dfResponsavelRendaSPCapital['V005'] +dfResponsavelRendaSPCapital['V006']

In [79]:
dfResponsavelRendaSPCapital['nAbsPessoasClasseB'] = dfResponsavelRendaSPCapital['V007']

In [80]:
dfResponsavelRendaSPCapital['nAbsPessoasClasseA'] = dfResponsavelRendaSPCapital['V008'] +  dfResponsavelRendaSPCapital['V009']

In [81]:
dfResponsavelRendaSPCapital.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [82]:
dfResponsavelRendaSPCapital.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,355030801000001,101,53,91,7,7
1,355030801000002,152,53,78,4,7
2,355030801000003,40,15,36,4,8
3,355030801000004,52,23,27,4,3
4,355030801000005,112,41,54,5,3

**DATAFRAME TOTAL.**

In [83]:
data_frames = [dfBasicoSPCapital, dfDomicilio01SPCapital, dfDomicilio02SPCapital, dfPessoa13SPCapital, dfPessoa11SPCapital, dfPessoa12SPCapital,
               dfDomicilioRendaSPCapital, dfResponsavelRendaSPCapital]

In [84]:
dfTotalSPCapital = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [85]:
dfTotalSPCapital.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,355030801000001,3.01,2091.32,1227.41,1713.75,268,203,11,116,42,...,378,428,907777,903817,3960,101,53,91,7,7
1,355030801000002,2.98,1650.09,1045.78,1468.08,306,298,0,85,44,...,418,495,846525,846525,0,152,53,78,4,7
2,355030801000003,3.31,1280.43,902.97,1786.79,189,177,7,50,19,...,296,329,505662,505662,0,40,15,36,4,8
3,355030801000004,3.16,1119.59,869.09,1567.41,181,154,23,87,17,...,276,296,446011,446011,0,52,23,27,4,3
4,355030801000005,3.14,1416.90,917.71,1356.35,240,226,12,112,30,...,355,399,615215,615215,0,112,41,54,5,3

In [86]:
dfTotalSPCapital.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18363 entries, 0 to 18362
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            18363 non-null  int64
 1   MediaMoradorDomicilio                                18333 non-null  float64
 2   RendaMediaDomicilio                                  18333 non-null  float64
 3   RendaMediaPerCapitaGeral                             18363 non-null  float64
 4   RendaMediaPerCapitaComRendimento                     18352 non-null  float64
 5   nAbsDomicilios                                       18363 non-null  int64
 6   nAbsDomiciliosCasa                                   18363 non-null  object
 7   nAbsDomiciliosApto                                   18363 non-null  object
 8   nAbsImoveisAlugados                                  18363 non-null  object
 9   nAbs1PessoasDomicilio                                18363 non-null  object
 10  nAbs1PessoasDomicilio                                18363 non-null  object
 11  nAbs2PessoasDomicilio                                18363 non-null  object
 12  nAbs3PessoasDomicilio                                18363 non-null  object
 13  nAbs4PessoasDomicilio                                18363 non-null  object
 14  nAbs5ouMaisPessoasDomicilio                          18363 non-null  object
 15  nAbsHabitantes                                       18363 non-null  int64
 16  nAbsMoradoresCasa                                    18363 non-null  int64
 17  nAbsMoradoresApto                                    18363 non-null  int64
 18  nAbsMoradoresImoveisAlugados                         18363 non-null  int64
 19  nAbsConjuges                                         18363 non-null  int64
 20  nAbsHomensResidentes                                 18363 non-null  int64
 21  nAbsMulheresResidentes                               18363 non-null  int64
 22  TotalRendNomMensalDomParticulares                    18363 non-null  int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   18363 non-null  int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  18363 non-null  int64
 25  nAbsPessoasClasseE                                   18363 non-null  int64
 26  nAbsPessoasClasseD                                   18363 non-null  int64
 27  nAbsPessoasClasseC                                   18363 non-null  int64
 28  nAbsPessoasClasseB                                   18363 non-null  int64
 29  nAbsPessoasClasseA                                   18363 non-null  int64
dtypes: float64(4), int64(17), object(9)
memory usage: 4.3+ MB

In [87]:
dfTotalSPCapital.to_csv('SPCapital.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio