In [1]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [2]:
dfBasicoSergipe = pd.read_csv('dataAgrupados/Basico_SE.csv', sep = ';', encoding = 'unicode_escape')

In [3]:
dfBasicoSergipe = dfBasicoSergipe[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [4]:
dfBasicoSergipe = dfBasicoSergipe.replace('X', 0, regex= True)

In [5]:
dfBasicoSergipe.head()

         Cod_setor  V003    V005    V009    V011
0  280010005000001  3,39  659,21  363,13  572,66
1  280010005000002   3,1  784,32  473,35  707,21
2  280010005000003  3,48  379,12  231,44   425,2
3  280010005000004  3,37  321,94   210,2  343,75
4  280010005000005   2,9  336,55  218,06  358,74

In [6]:
dfBasicoSergipe = dfBasicoSergipe.replace(',', '.', regex= True)

In [7]:
dfBasicoSergipe = dfBasicoSergipe.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [8]:
dfBasicoSergipe.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [9]:
dfDomicilio01Sergipe = pd.read_csv('dataAgrupados/Domicilio01_SE.csv', sep = ';', encoding = 'unicode_escape')

In [10]:
dfDomicilio01Sergipe = dfDomicilio01Sergipe.replace('X', 0, regex= True)

In [11]:
#dfDomicilio01Sergipe = dfDomicilio01Sergipe.astype(int)

In [12]:
dfDomicilio01Sergipe = dfDomicilio01Sergipe[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [13]:
dfDomicilio01Sergipe.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [14]:
dfDomicilio01Sergipe['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Sergipe['nAbs5PessoasDomicilio'] +dfDomicilio01Sergipe['nAbs6PessoasDomicilio'] + dfDomicilio01Sergipe['nAbs7PessoasDomicilio'] + dfDomicilio01Sergipe['nAbs8PessoasDomicilio']
+ dfDomicilio01Sergipe['nAbs9PessoasDomicilio'] + dfDomicilio01Sergipe['nAbs10PessoasDomicilio']

0       03
1       11
2       11
3       30
4       00
        ..
3292    10
3293    23
3294    22
3295    24
3296    10
Length: 3297, dtype: object

In [15]:
dfDomicilio01Sergipe.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [16]:
dfDomicilio02Sergipe = pd.read_csv('dataAgrupados/Domicilio02_SE.csv', sep = ';', encoding = 'unicode_escape')

In [17]:
dfDomicilio02Sergipe = dfDomicilio02Sergipe.replace('X', 0, regex= True)

In [18]:
dfDomicilio02Sergipe = dfDomicilio02Sergipe.astype(int)

In [19]:
dfDomicilio02Sergipe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3297 entries, 0 to 3296
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 3.4 MB

In [20]:
dfDomicilio02Sergipe = dfDomicilio02Sergipe[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [22]:
dfDomicilio02Sergipe.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [23]:
dfDomicilio02Sergipe.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,280010005000001,897,891,0,70
1,280010005000002,431,431,0,36
2,280010005000003,484,483,0,59
3,280010005000004,377,377,0,0
4,280010005000005,58,58,0,0

**Pessoa13** - conferido

In [24]:
dfPessoa13Sergipe = pd.read_csv('dataAgrupados/Pessoa13_SE.csv', sep = ';', encoding = 'unicode_escape')

In [25]:
dfPessoa13Sergipe = dfPessoa13Sergipe[['Cod_setor', 'V001']]

In [26]:
dfPessoa13Sergipe = dfPessoa13Sergipe.replace('X', 0, regex= True)

In [28]:
dfPessoa13Sergipe.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [29]:
dfPessoa13Sergipe.head()

         Cod_setor  nAbsConjuges
0  280010005000001           897
1  280010005000002           431
2  280010005000003           484
3  280010005000004           377
4  280010005000005            58

**Pessoa11** - conferido

In [30]:
dfPessoa11Sergipe = pd.read_csv('dataAgrupados/Pessoa11_SE.csv', sep = ';', encoding = 'unicode_escape')

In [31]:
dfPessoa11Sergipe = dfPessoa11Sergipe[['Cod_setor', 'V001']]

In [32]:
dfPessoa11Sergipe = dfPessoa11Sergipe.replace('X', 0, regex= True)

In [33]:
dfPessoa11Sergipe.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [34]:
dfPessoa12Sergipe = pd.read_csv('dataAgrupados/Pessoa12_SE.csv', sep = ';', encoding = 'unicode_escape')

In [35]:
dfPessoa12Sergipe = dfPessoa12Sergipe.replace('X', 0, regex= True)

In [36]:
dfPessoa12Sergipe = dfPessoa12Sergipe[['Cod_setor', 'V001']]

In [37]:
dfPessoa12Sergipe.head()

         Cod_setor  V001
0  280010005000001   442
1  280010005000002   232
2  280010005000003   233
3  280010005000004   189
4  280010005000005    31

In [38]:
dfPessoa12Sergipe.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [39]:
dfPessoa12Sergipe.head()

         Cod_setor  nAbsMulheresResidentes
0  280010005000001                     442
1  280010005000002                     232
2  280010005000003                     233
3  280010005000004                     189
4  280010005000005                      31

**DomicilioRenda** - conferido

In [40]:
dfDomicilioRendaSergipe = pd.read_csv('dataAgrupados/DomicilioRenda_SE.csv', sep = ';', encoding = 'unicode_escape')

In [41]:
dfDomicilioRendaSergipe = dfDomicilioRendaSergipe[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [42]:
dfDomicilioRendaSergipe = dfDomicilioRendaSergipe.replace('X', 0, regex= True)

In [43]:
dfDomicilioRendaSergipe = dfDomicilioRendaSergipe.astype(int)

In [44]:
dfDomicilioRendaSergipe.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [45]:
dfDomicilioRendaSergipe.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,280010005000001,263997,261647,2350
1,280010005000002,178925,178925,0
2,280010005000003,91417,91417,0
3,280010005000004,62218,62218,0
4,280010005000005,11121,11121,0

**ResponsavelRenda** - conferido

In [50]:
dfResponsavelRendaSergipe = pd.read_csv('dataAgrupados/ResponsavelRenda_SE.csv', sep = ';', encoding = 'unicode_escape')

In [51]:
dfResponsavelRendaSergipe = dfResponsavelRendaSergipe[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [52]:
dfResponsavelRendaSergipe = dfResponsavelRendaSergipe.replace('X', 0, regex= True)

In [53]:
dfResponsavelRendaSergipe = dfResponsavelRendaSergipe.astype(int)

In [54]:
dfResponsavelRendaSergipe['nAbsPessoasClasseE'] = dfResponsavelRendaSergipe['V001'] +dfResponsavelRendaSergipe['V002'] + dfResponsavelRendaSergipe['V003']

In [55]:
dfResponsavelRendaSergipe['nAbsPessoasClasseD'] = dfResponsavelRendaSergipe['V004']

In [56]:
dfResponsavelRendaSergipe['nAbsPessoasClasseC'] = dfResponsavelRendaSergipe['V005'] +dfResponsavelRendaSergipe['V006']

In [57]:
dfResponsavelRendaSergipe['nAbsPessoasClasseB'] = dfResponsavelRendaSergipe['V007']

In [58]:
dfResponsavelRendaSergipe['nAbsPessoasClasseA'] = dfResponsavelRendaSergipe['V008'] +  dfResponsavelRendaSergipe['V009']

In [59]:
dfResponsavelRendaSergipe.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [60]:
dfResponsavelRendaSergipe.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,280010005000001,213,15,17,0,2
1,280010005000002,112,4,12,0,1
2,280010005000003,114,1,2,0,0
3,280010005000004,98,2,1,0,0
4,280010005000005,16,0,0,0,0

**DATAFRAME TOTAL.**

In [61]:
data_frames = [dfBasicoSergipe, dfDomicilio01Sergipe, dfDomicilio02Sergipe, dfPessoa13Sergipe, dfPessoa11Sergipe, dfPessoa12Sergipe,
               dfDomicilioRendaSergipe, dfResponsavelRendaSergipe]

In [62]:
dfTotalSergipe = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [63]:
dfTotalSergipe.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,280010005000001,3.39,659.21,363.13,572.66,267,263,0,28,31,...,455,442,263997,261647,2350,213,15,17,0,2
1,280010005000002,3.10,784.32,473.35,707.21,139,139,0,12,17,...,199,232,178925,178925,0,112,4,12,0,1
2,280010005000003,3.48,379.12,231.44,425.20,139,138,0,16,16,...,251,233,91417,91417,0,114,1,2,0,0
3,280010005000004,3.37,321.94,210.20,343.75,112,112,0,0,23,...,188,189,62218,62218,0,98,2,1,0,0
4,280010005000005,2.90,336.55,218.06,358.74,20,20,0,0,6,...,27,31,11121,11121,0,16,0,0,0,0

In [64]:
dfTotalSergipe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3297 entries, 0 to 3296
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            3297 non-null   int64
 1   MediaMoradorDomicilio                                3290 non-null   float64
 2   RendaMediaDomicilio                                  3290 non-null   float64
 3   RendaMediaPerCapitaGeral                             3297 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     3293 non-null   float64
 5   nAbsDomicilios                                       3297 non-null   int64
 6   nAbsDomiciliosCasa                                   3297 non-null   object
 7   nAbsDomiciliosApto                                   3297 non-null   object
 8   nAbsImoveisAlugados                                  3297 non-null   object
 9   nAbs1PessoasDomicilio                                3297 non-null   object
 10  nAbs1PessoasDomicilio                                3297 non-null   object
 11  nAbs2PessoasDomicilio                                3297 non-null   object
 12  nAbs3PessoasDomicilio                                3297 non-null   object
 13  nAbs4PessoasDomicilio                                3297 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          3297 non-null   object
 15  nAbsHabitantes                                       3297 non-null   int64
 16  nAbsMoradoresCasa                                    3297 non-null   int64
 17  nAbsMoradoresApto                                    3297 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         3297 non-null   int64
 19  nAbsConjuges                                         3297 non-null   int64
 20  nAbsHomensResidentes                                 3297 non-null   int64
 21  nAbsMulheresResidentes                               3297 non-null   int64
 22  TotalRendNomMensalDomParticulares                    3297 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   3297 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  3297 non-null   int64
 25  nAbsPessoasClasseE                                   3297 non-null   int64
 26  nAbsPessoasClasseD                                   3297 non-null   int64
 27  nAbsPessoasClasseC                                   3297 non-null   int64
 28  nAbsPessoasClasseB                                   3297 non-null   int64
 29  nAbsPessoasClasseA                                   3297 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 798.5+ KB

In [65]:
dfTotalSergipe.to_csv('Sergipe.csv', sep= ';', encoding = 'utf-8')