In [31]:
import pandas as pd
import numpy as np
from functools import reduce

**Basico** - conferido

In [32]:
dfBasicoTocantins = pd.read_csv('dataAgrupados/Basico_TO.csv', sep = ';', encoding = 'unicode_escape')

In [33]:
dfBasicoTocantins = dfBasicoTocantins[['Cod_setor','V003', 'V005', 'V009', 'V011']]

In [34]:
dfBasicoTocantins = dfBasicoTocantins.replace('X', 0, regex= True)

In [35]:
dfBasicoTocantins.head()

         Cod_setor  V003    V005    V009    V011
0  170025105000001  3,19  806,54  523,16  861,83
1  170025105000002  2,61  648,06   431,2   717,7
2  170025105000003  2,83  433,73  299,05  521,32
3  170025105000004  3,18  370,51  219,33  462,27
4  170025105000005  3,47  476,95  291,42  576,55

In [36]:
dfBasicoTocantins = dfBasicoTocantins.replace(',', '.', regex= True)

In [37]:
dfBasicoTocantins = dfBasicoTocantins.astype({'V003':'float','V005':'float','V009':'float','V011':'float'})

In [38]:
dfBasicoTocantins.rename(columns = {'V003':'MediaMoradorDomicilio',
                     'V005':'RendaMediaDomicilio',
                     'V009':'RendaMediaPerCapitaGeral',
                     'V011':'RendaMediaPerCapitaComRendimento'}, inplace = True)

**Domicilio01** - conferido

In [39]:
dfDomicilio01Tocantins = pd.read_csv('dataAgrupados/Domicilio01_TO.csv', sep = ';', encoding = 'unicode_escape')

In [40]:
dfDomicilio01Tocantins = dfDomicilio01Tocantins.replace('X', 0, regex= True)

In [41]:
#dfDomicilio01Tocantins = dfDomicilio01Tocantins.astype(int)

In [42]:
dfDomicilio01Tocantins = dfDomicilio01Tocantins[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008','V050',
                                       'V050' ,'V051' ,'V052' ,'V053' ,'V054' ,'V055' ,
                                       'V056' ,'V057' ,'V058' ,'V059' ,]]

In [43]:
dfDomicilio01Tocantins.rename(columns = {
'V001':'nAbsDomicilios' , 
'V003': 'nAbsDomiciliosCasa', 
'V005': 'nAbsDomiciliosApto', 
'V008': 'nAbsImoveisAlugados', 
'V050':'nAbs1PessoasDomicilio',
'V051':'nAbs2PessoasDomicilio',
'V052':'nAbs3PessoasDomicilio',
'V053':'nAbs4PessoasDomicilio',
'V054':'nAbs5PessoasDomicilio',
'V055':'nAbs6PessoasDomicilio',
'V056':'nAbs7PessoasDomicilio',
'V057':'nAbs8PessoasDomicilio',
'V058':'nAbs9PessoasDomicilio',
'V059':'nAbs10PessoasDomicilio'}, inplace = True)

In [44]:
dfDomicilio01Tocantins['nAbs5ouMaisPessoasDomicilio'] = dfDomicilio01Tocantins['nAbs5PessoasDomicilio'] +dfDomicilio01Tocantins['nAbs6PessoasDomicilio'] + dfDomicilio01Tocantins['nAbs7PessoasDomicilio'] + dfDomicilio01Tocantins['nAbs8PessoasDomicilio']
+ dfDomicilio01Tocantins['nAbs9PessoasDomicilio'] + dfDomicilio01Tocantins['nAbs10PessoasDomicilio']

0       00
1       00
2       00
3       01
4       00
        ..
2096    00
2097    02
2098    13
2099    00
2100    01
Length: 2101, dtype: object

In [45]:
dfDomicilio01Tocantins.drop(['nAbs5PessoasDomicilio', 'nAbs6PessoasDomicilio', 'nAbs7PessoasDomicilio',
                        'nAbs8PessoasDomicilio', 'nAbs9PessoasDomicilio', 'nAbs10PessoasDomicilio'], axis =1, inplace = True)

**Domicilio02** - conferido

In [46]:
dfDomicilio02Tocantins = pd.read_csv('dataAgrupados/Domicilio02_TO.csv', sep = ';', encoding = 'unicode_escape')

In [47]:
dfDomicilio02Tocantins = dfDomicilio02Tocantins.replace('X', 0, regex= True)

In [48]:
dfDomicilio02Tocantins = dfDomicilio02Tocantins.astype(int)

In [49]:
dfDomicilio02Tocantins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2101 entries, 0 to 2100
Columns: 134 entries, Cod_setor to V132
dtypes: int64(134)
memory usage: 2.1 MB

In [50]:
dfDomicilio02Tocantins = dfDomicilio02Tocantins[['Cod_setor',
                                       'V001', 'V003', 'V005', 'V008']]

In [51]:
dfDomicilio02Tocantins.rename(columns = {
'V001':'nAbsHabitantes' , 
'V003': 'nAbsMoradoresCasa', 
'V005': 'nAbsMoradoresApto', 
'V008': 'nAbsMoradoresImoveisAlugados', 
}, inplace = True)

In [52]:
dfDomicilio02Tocantins.head()

,Cod_setor,nAbsHabitantes,nAbsMoradoresCasa,nAbsMoradoresApto,nAbsMoradoresImoveisAlugados
0,170025105000001,778,777,0,125
1,170025105000002,300,300,0,0
2,170025105000003,167,167,0,0
3,170025105000004,448,443,0,0
4,170025105000005,698,698,0,104

**Pessoa13** - conferido

In [53]:
dfPessoa13Tocantins = pd.read_csv('dataAgrupados/Pessoa13_TO.csv', sep = ';', encoding = 'unicode_escape')

In [54]:
dfPessoa13Tocantins = dfPessoa13Tocantins[['Cod_setor', 'V001']]

In [55]:
dfPessoa13Tocantins = dfPessoa13Tocantins.replace('X', 0, regex= True)

In [56]:
dfPessoa13Tocantins.rename(columns= {'V001':'nAbsConjuges'}, inplace = True)

In [57]:
dfPessoa13Tocantins.head()

         Cod_setor  nAbsConjuges
0  170025105000001           778
1  170025105000002           300
2  170025105000003           167
3  170025105000004           448
4  170025105000005           698

**Pessoa11** - conferido

In [58]:
dfPessoa11Tocantins = pd.read_csv('dataAgrupados/Pessoa11_TO.csv', sep = ';', encoding = 'unicode_escape')

In [59]:
dfPessoa11Tocantins = dfPessoa11Tocantins[['Cod_setor', 'V001']]

In [60]:
dfPessoa11Tocantins = dfPessoa11Tocantins.replace('X', 0, regex= True)

In [61]:
dfPessoa11Tocantins.rename(columns= {'V001':'nAbsHomensResidentes'}, inplace = True)

**Pessoa12** - conferido

In [62]:
dfPessoa12Tocantins = pd.read_csv('dataAgrupados/Pessoa12_TO.csv', sep = ';', encoding = 'unicode_escape')

In [63]:
dfPessoa12Tocantins = dfPessoa12Tocantins.replace('X', 0, regex= True)

In [64]:
dfPessoa12Tocantins = dfPessoa12Tocantins[['Cod_setor', 'V001']]

In [65]:
dfPessoa12Tocantins.head()

         Cod_setor  V001
0  170025105000001   383
1  170025105000002   132
2  170025105000003    75
3  170025105000004   195
4  170025105000005   345

In [66]:
dfPessoa12Tocantins.rename(columns= {'V001':'nAbsMulheresResidentes'}, inplace = True)

In [67]:
dfPessoa12Tocantins.head()

         Cod_setor  nAbsMulheresResidentes
0  170025105000001                     383
1  170025105000002                     132
2  170025105000003                      75
3  170025105000004                     195
4  170025105000005                     345

**DomicilioRenda** - conferido

In [68]:
dfDomicilioRendaTocantins = pd.read_csv('dataAgrupados/DomicilioRenda_TO.csv', sep = ';', encoding = 'unicode_escape')

In [69]:
dfDomicilioRendaTocantins = dfDomicilioRendaTocantins[['Cod_setor',
                                             'V002', 'V003', 'V004']]

In [70]:
dfDomicilioRendaTocantins = dfDomicilioRendaTocantins.replace('X', 0, regex= True)

In [71]:
dfDomicilioRendaTocantins = dfDomicilioRendaTocantins.astype(int)

In [72]:
dfDomicilioRendaTocantins.rename(columns = {'V002':'TotalRendNomMensalDomParticulares',
                                       'V003':'TotalRendimentoNomMensalDomParticularesPermanentes',
                                       'V004':'TotalRendimentoNomMensalDomParitulcaresImprovisados'}
                            , inplace = True)

In [73]:
dfDomicilioRendaTocantins.head()

,Cod_setor,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados
0,170025105000001,327496,327496,0
1,170025105000002,106937,106937,0
2,170025105000003,38578,38578,0
3,170025105000004,73038,73038,0
4,170025105000005,160280,160280,0

**ResponsavelRenda** - conferido

In [74]:
dfResponsavelRendaTocantins = pd.read_csv('dataAgrupados/ResponsavelRenda_TO.csv', sep = ';', encoding = 'unicode_escape')

In [75]:
dfResponsavelRendaTocantins = dfResponsavelRendaTocantins[['Cod_setor', 
                                                 'V001','V002', 'V003',
                                                 'V004','V005', 'V006',
                                                 'V007','V008', 'V009']]

In [76]:
dfResponsavelRendaTocantins = dfResponsavelRendaTocantins.replace('X', 0, regex= True)

In [77]:
dfResponsavelRendaTocantins = dfResponsavelRendaTocantins.astype(int)

In [78]:
dfResponsavelRendaTocantins['nAbsPessoasClasseE'] = dfResponsavelRendaTocantins['V001'] +dfResponsavelRendaTocantins['V002'] + dfResponsavelRendaTocantins['V003']

In [79]:
dfResponsavelRendaTocantins['nAbsPessoasClasseD'] = dfResponsavelRendaTocantins['V004']

In [80]:
dfResponsavelRendaTocantins['nAbsPessoasClasseC'] = dfResponsavelRendaTocantins['V005'] +dfResponsavelRendaTocantins['V006']

In [81]:
dfResponsavelRendaTocantins['nAbsPessoasClasseB'] = dfResponsavelRendaTocantins['V007']

In [82]:
dfResponsavelRendaTocantins['nAbsPessoasClasseA'] = dfResponsavelRendaTocantins['V008'] +  dfResponsavelRendaTocantins['V009']

In [83]:
dfResponsavelRendaTocantins.drop(['V001', 'V002', 'V003',
                        'V004', 'V005', 'V006', 'V007', 'V008', 'V009'], axis =1, inplace = True)

In [84]:
dfResponsavelRendaTocantins.head()

,Cod_setor,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,170025105000001,155,16,22,0,2
1,170025105000002,70,6,9,1,0
2,170025105000003,39,2,2,0,0
3,170025105000004,88,1,5,0,0
4,170025105000005,141,6,6,0,0

**DATAFRAME TOTAL.**

In [85]:
data_frames = [dfBasicoTocantins, dfDomicilio01Tocantins, dfDomicilio02Tocantins, dfPessoa13Tocantins, dfPessoa11Tocantins, dfPessoa12Tocantins,
               dfDomicilioRendaTocantins, dfResponsavelRendaTocantins]

In [86]:
dfTotalTocantins = reduce(lambda  left,right: pd.merge(left,right,on=['Cod_setor'],
                                            how='inner'), data_frames)

In [87]:
dfTotalTocantins.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,170025105000001,3.19,806.54,523.16,861.83,244,243,0,41,34,...,395,383,327496,327496,0,155,16,22,0,2
1,170025105000002,2.61,648.06,431.20,717.70,115,115,0,0,26,...,168,132,106937,106937,0,70,6,9,1,0
2,170025105000003,2.83,433.73,299.05,521.32,59,59,0,0,13,...,92,75,38578,38578,0,39,2,2,0,0
3,170025105000004,3.18,370.51,219.33,462.27,141,140,0,0,23,...,253,195,73038,73038,0,88,1,5,0,0
4,170025105000005,3.47,476.95,291.42,576.55,201,201,0,32,26,...,353,345,160280,160280,0,141,6,6,0,0

In [88]:
dfTotalTocantins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2089 entries, 0 to 2088
Data columns (total 30 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Cod_setor                                            2089 non-null   int64
 1   MediaMoradorDomicilio                                2086 non-null   float64
 2   RendaMediaDomicilio                                  2086 non-null   float64
 3   RendaMediaPerCapitaGeral                             2088 non-null   float64
 4   RendaMediaPerCapitaComRendimento                     2087 non-null   float64
 5   nAbsDomicilios                                       2089 non-null   int64
 6   nAbsDomiciliosCasa                                   2089 non-null   object
 7   nAbsDomiciliosApto                                   2089 non-null   object
 8   nAbsImoveisAlugados                                  2089 non-null   object
 9   nAbs1PessoasDomicilio                                2089 non-null   object
 10  nAbs1PessoasDomicilio                                2089 non-null   object
 11  nAbs2PessoasDomicilio                                2089 non-null   object
 12  nAbs3PessoasDomicilio                                2089 non-null   object
 13  nAbs4PessoasDomicilio                                2089 non-null   object
 14  nAbs5ouMaisPessoasDomicilio                          2089 non-null   object
 15  nAbsHabitantes                                       2089 non-null   int64
 16  nAbsMoradoresCasa                                    2089 non-null   int64
 17  nAbsMoradoresApto                                    2089 non-null   int64
 18  nAbsMoradoresImoveisAlugados                         2089 non-null   int64
 19  nAbsConjuges                                         2089 non-null   int64
 20  nAbsHomensResidentes                                 2089 non-null   int64
 21  nAbsMulheresResidentes                               2089 non-null   int64
 22  TotalRendNomMensalDomParticulares                    2089 non-null   int64
 23  TotalRendimentoNomMensalDomParticularesPermanentes   2089 non-null   int64
 24  TotalRendimentoNomMensalDomParitulcaresImprovisados  2089 non-null   int64
 25  nAbsPessoasClasseE                                   2089 non-null   int64
 26  nAbsPessoasClasseD                                   2089 non-null   int64
 27  nAbsPessoasClasseC                                   2089 non-null   int64
 28  nAbsPessoasClasseB                                   2089 non-null   int64
 29  nAbsPessoasClasseA                                   2089 non-null   int64
dtypes: float64(4), int64(17), object(9)
memory usage: 505.9+ KB

In [89]:
dfTotalTocantins.to_csv('Tocantins.csv', sep= ';', encoding = 'utf-8')

Conferir num. abs. de 5 ou mais pessoas por domicilio