In [172]:
import requests
import json
import pandas as pd
import urllib.request

In [173]:
df = pd.read_csv(r"enderecos-100-primeiros.csv"
                 ,sep = ';'
                 ,on_bad_lines='skip')

valor de numeros nulos da coluna cep

In [174]:
df['cep'].isnull().sum()

1

colocando os valores nulos num dataframe separado

In [175]:
df_nulos = df[df['cep'].isnull()]

limpando a coluna cep

In [176]:
df['cep'] = df['cep'].replace('-', '' ,regex=True)

In [177]:
df['cep'] = df['cep'].replace(' ', '' ,regex=True)

In [178]:
df['cep'] = df['cep'].replace('\.', '', regex = True,)

In [179]:
df.head()

,Unnamed: 0,pessoa,tipoendereco,cep,bairro,numero,complemento,endereco,enderecocorrespondencia,codigo
0,0,2771,RE,31780020,CELESTINO,754.0,NaN,RUA SATURNO,True,1223
1,1,4115,RE,31910060,SÃO PAULO,395.0,SOBRELOJA,RUA ANGOLA,False,1942
2,2,1198,RE,38300080,CENTRO,2784.0,NaN,RUA VINTE E SEIS,True,28
3,3,3625,RE,31155320,MARIA VIRGÍNIA,240.0,AP501 BLOCO 4,RUA MEIRA DE VASCONCELOS,False,2380
4,4,2360,RE,38700050,CENTRO,448.0,NaN,RUA EUFRÁSIO RODRIGUES,True,1332

excluindo linhas da coluna 'cep' que possuem valor nulo

In [180]:

df = df[df.cep.notnull()]
#df['cep'] = df['cep'].astype(int)

cep não pode ser numero inteiro, pois se tiver um cep do tipo '09' será convertido em '9' e não será possivel buscar na API

In [181]:
#df.iloc[67:]

In [189]:
df = df.head(10)

In [192]:
conteudo =''

In [193]:
for i in df['cep'].iloc[1:]:
    url = "https://viacep.com.br/ws/%s/json/" % i
    headers = {'User-Agent': 'Autociencia/1.0'}
    requisicao = urllib.request.Request(url, headers=headers, method='GET')
    cliente = urllib.request.urlopen(requisicao)
    conteudo += str(cliente.read().decode('utf-8'))
    cliente.close()

In [194]:
conteudo

'{\n  "cep": "31910-060",\n  "logradouro": "Rua Padre José Alves",\n  "complemento": "",\n  "bairro": "São Paulo",\n  "localidade": "Belo Horizonte",\n  "uf": "MG",\n  "ibge": "3106200",\n  "gia": "",\n  "ddd": "31",\n  "siafi": "4123"\n}{\n  "cep": "38300-080",\n  "logradouro": "Rua Vinte e Seis",\n  "complemento": "até 1878/1879",\n  "bairro": "Centro",\n  "localidade": "Ituiutaba",\n  "uf": "MG",\n  "ibge": "3134202",\n  "gia": "",\n  "ddd": "34",\n  "siafi": "4683"\n}{\n  "cep": "31155-320",\n  "logradouro": "Rua Meira de Vasconcelos",\n  "complemento": "",\n  "bairro": "Maria Virgínia",\n  "localidade": "Belo Horizonte",\n  "uf": "MG",\n  "ibge": "3106200",\n  "gia": "",\n  "ddd": "31",\n  "siafi": "4123"\n}{\n  "cep": "38700-050",\n  "logradouro": "Rua Eufrásio Rodrigues",\n  "complemento": "até 238/239",\n  "bairro": "Centro",\n  "localidade": "Patos de Minas",\n  "uf": "MG",\n  "ibge": "3148004",\n  "gia": "",\n  "ddd": "34",\n  "siafi": "4959"\n}{\n  "cep": "38030-020",\n  "logradouro": "Rua Nhô Bernardino",\n  "complemento": "",\n  "bairro": "Leblon",\n  "localidade": "Uberaba",\n  "uf": "MG",\n  "ibge": "3170107",\n  "gia": "",\n  "ddd": "34",\n  "siafi": "5401"\n}{\n  "cep": "38040-010",\n  "logradouro": "Rua Indianópolis",\n  "complemento": "",\n  "bairro": "Jardim Induberaba",\n  "localidade": "Uberaba",\n  "uf": "MG",\n  "ibge": "3170107",\n  "gia": "",\n  "ddd": "34",\n  "siafi": "5401"\n}{\n  "cep": "31035-380",\n  "logradouro": "Rua Alegrete",\n  "complemento": "",\n  "bairro": "Sagrada Família",\n  "localidade": "Belo Horizonte",\n  "uf": "MG",\n  "ibge": "3106200",\n  "gia": "",\n  "ddd": "31",\n  "siafi": "4123"\n}{\n  "cep": "31160-410",\n  "logradouro": "Rua Conde de Monte Cristo",\n  "complemento": "",\n  "bairro": "Ipiranga",\n  "localidade": "Belo Horizonte",\n  "uf": "MG",\n  "ibge": "3106200",\n  "gia": "",\n  "ddd": "31",\n  "siafi": "4123"\n}{\n  "cep": "30810-650",\n  "logradouro": "Rua Albert Sabin",\n  "complemento": "",\n  "bairro": "Paquetá",\n  "localidade": "Belo Horizonte",\n  "uf": "MG",\n  "ibge": "3106200",\n  "gia": "",\n  "ddd": "31",\n  "siafi": "4123"\n}'

In [195]:
type(conteudo)

str

In [197]:
conteudoJSON = json.loads(conteudo)

JSONDecodeError: Extra data: line 12 column 2 (char 226)

In [ ]:
df2 = pd.DataFrame.from_dict(conteudoJSON, orient = 'index')

In [ ]:
df2.head()

                                0
cep                     31910-060
logradouro   Rua Padre José Alves
complemento
bairro                  São Paulo
localidade         Belo Horizonte

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, cep to siafi
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     object
dtypes: object(1)
memory usage: 160.0+ bytes

In [ ]:
df2.head()

                                    0
cep                         32241-395
logradouro              Avenida Marte
complemento
bairro       Jardim Riacho das Pedras
localidade                   Contagem