In [11]:
import pandas as pd
import requests as rq

In [5]:
dfEnderecos = pd.read_csv('enderecos.csv', sep = ',', on_bad_lines = 'skip')

In [12]:
dfEnderecos.head(2)

,pessoa,tipoendereco,cep,bairro,numero,complemento,endereco,enderecocorrespondencia,codigo
0,2771,RE,31780-020,CELESTINO,754,NaN,RUA SATURNO,True,1223
1,4115,RE,31.910-060,SÃO PAULO,395,SOBRELOJA,RUA ANGOLA,False,1942

cortando os 100 primeiros

In [9]:
df = dfEnderecos.head(100)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pessoa                   100 non-null    int64
 1   tipoendereco             100 non-null    object
 2   cep                      99 non-null     object
 3   bairro                   99 non-null     object
 4   numero                   99 non-null     object
 5   complemento              59 non-null     object
 6   endereco                 99 non-null     object
 7   enderecocorrespondencia  100 non-null    bool
 8   codigo                   100 non-null    int64
dtypes: bool(1), int64(2), object(6)
memory usage: 6.5+ KB

In [16]:
df.to_csv('enderecos-100-primeiros.csv', sep = ';', encoding='utf-8')

SyntaxError: invalid syntax (<ipython-input-14-b54913623f0d>, line 1)