query utilizada: 

--select count(*) from 
select c.empresa as idUnidade,
c.pessoa as idPessoa,
e.nome as nomeUnidade, 
c.situacao as situacaoMatricula, 
c.plano as idPlano, 
p.descricao as tipoPlano, 
p2.nome as nomePessoa, 
p2.datanasc::date as dataNascPessoa,
p2.sexo as sexoPessoa, 
endereco.endereco as Rua,
endereco.bairro as Bairro,
cidade.nome as Cidade,
estado.descricao as Estado,
endereco.cep as CEP
 --, p2.estadocivil, p2.profissao, p2.estadocivil 
from contrato c
left join empresa e on c.empresa = e.codigo 
left join plano p on c.plano = p.codigo
left join pessoa p2 on c.pessoa = p2.codigo
left join estado on p2.estado = estado.codigo 
left join cidade on p2.cidade = cidade.codigo
left join endereco on p2.codigo = endereco.pessoa 
where e.nome = 'GOLDEN SHOPPING' 
and c.vigenciade::date >= '2019-01-01'
-- and c.situacao = = 'AT'
-- where c.situacao = 'AT' and e.nome = 'GOLDEN SHOPPING'

In [5]:
import pandas as pd
import numpy as np

Lendo o CSV gerado pela query:

In [6]:
df = pd.read_csv('Golden.csv', sep = ',')

In [7]:
df.head()

,idunidade,idpessoa,nomeunidade,situacaomatricula,idplano,tipoplano,nomepessoa,datanascpessoa,sexopessoa,rua,bairro,cidade,estado,cep
0,133,1338918,GOLDEN SHOPPING,AT,2,PLANO PLUS CORP,BIANCA LEITE RODRIGUES,1995-10-07,F,ALAMEDA ITAPECURU,JARDIM TROPICAL,SÃO JOSÉ DE RIBAMAR,MARANHÃO,65.110-000
1,133,892352,GOLDEN SHOPPING,AT,9,PLANO SELF PLUS SITE,DAWIDY MORAES,1979-10-02,m,Rua A,Cohatrac I,SÃO LUÍS,MARANHÃO,65053595
2,133,888046,GOLDEN SHOPPING,AT,388,PLANO EMBAIXADOR PLUS,WANDSON FIALHO OLIVEIRA,1990-03-05,M,RUA CORONEL EURÍPEDES BEZERRA,TURU,SÃO LUÍS,MARANHÃO,65.066-260
3,133,852535,GOLDEN SHOPPING,AT,9,PLANO SELF PLUS SITE,MARIA DE JESUS LEITE BALBY,1965-05-28,F,AVENIDA JERÔNIMO DE ALBUQUERQUE MARANHÃO,ANGELIM,SÃO LUÍS,MARANHÃO,65060641
4,133,845313,GOLDEN SHOPPING,AT,9,PLANO SELF PLUS SITE,FRANCINERINTHON C COSTA DOS SANTOS,1995-02-11,M,RUA 08 (UNIDADE 101),CIDADE OPERÁRIA,SÃO LUÍS,MARANHÃO,65058-037

Tratando dados e padronizando as variaveis

In [10]:
df['sexopessoa'] = df['sexopessoa'].str.upper()

covnvertendo caracteres de sexo para maíusculo

In [11]:
df.head()

,idunidade,idpessoa,nomeunidade,situacaomatricula,idplano,tipoplano,nomepessoa,datanascpessoa,sexopessoa,rua,bairro,cidade,estado,cep
0,133,1338918,GOLDEN SHOPPING,AT,2,PLANO PLUS CORP,BIANCA LEITE RODRIGUES,1995-10-07,F,ALAMEDA ITAPECURU,JARDIM TROPICAL,SÃO JOSÉ DE RIBAMAR,MARANHÃO,65.110-000
1,133,892352,GOLDEN SHOPPING,AT,9,PLANO SELF PLUS SITE,DAWIDY MORAES,1979-10-02,M,Rua A,Cohatrac I,SÃO LUÍS,MARANHÃO,65053595
2,133,888046,GOLDEN SHOPPING,AT,388,PLANO EMBAIXADOR PLUS,WANDSON FIALHO OLIVEIRA,1990-03-05,M,RUA CORONEL EURÍPEDES BEZERRA,TURU,SÃO LUÍS,MARANHÃO,65.066-260
3,133,852535,GOLDEN SHOPPING,AT,9,PLANO SELF PLUS SITE,MARIA DE JESUS LEITE BALBY,1965-05-28,F,AVENIDA JERÔNIMO DE ALBUQUERQUE MARANHÃO,ANGELIM,SÃO LUÍS,MARANHÃO,65060641
4,133,845313,GOLDEN SHOPPING,AT,9,PLANO SELF PLUS SITE,FRANCINERINTHON C COSTA DOS SANTOS,1995-02-11,M,RUA 08 (UNIDADE 101),CIDADE OPERÁRIA,SÃO LUÍS,MARANHÃO,65058-037

<bound method NDFrame.describe of 0        AT
1        AT
2        AT
3        AT
4        AT
         ..
18810    IN
18811    IN
18812    AT
18813    AT
18814    AT
Name: situacaomatricula, Length: 18815, dtype: object>